[2017-10-24 06:49] dirk777 commented on #1380
I would go for solution 2. I would not consider other restic processes. restic does not know of other processes at all, which is good. Creating for each restic process a unique temp dir should solve it. I am on your page with 1 and 3. The last solution won't work for the backup path C:\ and having only drive.

[2017-10-24 08:04] sumnerboy12 commented on #1377
I have retried using the 0.7.3-195 beta and can confirm pruning now completes without error. Thanks for fixing!!

[2017-10-24 15:59] remss commented on #1160
The progress feedback is nice, the problem is that nothing is copied until listing files is done.
Can't we just run the initial scan in the background and let the display progress use the last total_size / total_nbfiles values?

[2017-10-24 16:15] remss commented on #628
How about making part size an option ?
Currently I have 4-6 MB per file. With less files but larger, remote backup will be way faster.

[2017-10-24 20:29] scialo opened #1382 "restic access repository without password"
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?
restic -r b2:bucket:path snapshots

## What backend/server/service did you use?
b2

## Expected behavior
i have init b2 on host "A" but when i connect from host "B" and i run snapshots command restic don't ask me password.

## Actual behavior

## Steps to reproduce the behavior

## Do

[2017-10-24 21:03] the-destro opened #1383 "Super slow backup to B2"
This is a fresh bucket and fresh upload to B2
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on freebsd/amd64

## How did you run restic exactly?

[code]

[2017-10-25 06:13] fd0 commented on #1382
Unfortunately you haven't included any output or error messages printed by restic and also not how you configure the B2 access, so I can only guess that on host "B" you've set the environment variable `RESTIC_PASSWORD` or `RESTIC_PASSWORD_FILE`. When that's the case, restic won't ask for the password. Try `unset RESTIC_PASSWORD; unset RESTIC_PASSWORD_FILE` on host "B" and try again.

I'm going to

[2017-10-25 06:13] #1382 closed

[2017-10-25 06:16] fd0 commented on #1383
Hey, what upstream bandwidth do you have available? What's your location (network-wise)? B2 is not the fastest service, the latency to the API (at least from Europe) is pretty high.

How did you run restic exactly?

What throughput do you get using other programs like `rclone`?

[2017-10-25 09:17] scialo commented on #1382
thanks,
on host "B" not set environment variable and no file password.
i will try before unset

[2017-10-25 09:32] fd0 commented on #1382
Can you please rebuild restic and create a debug log ([instructions](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)) and attach it to the issue? Please make sure to replace any sensitive details included in there (authentication tokens, passwords etc) before posting it.

And please take the time to describe on how to reproduce this problem, ideally by filling out the

[2017-10-25 14:58] wojas commented on #187
Regarding preventing backup data from being destroyed by someone that hacks the server: rest-server has recently gained an "append only mode" with PR https://github.com/restic/rest-server/pull/28 that prevents exactly this.

[2017-10-25 14:58] osamuaoki commented on #533
For convenience, I like to see Gnome keyring supported :-)

FYI: I think the C code  "char *msmtp_password_callback ..." in src/msmtp.c in the source of msmtp gives good example for how to implement such.  It also has code for MAC and WINDOWS equivalents.
 See code http://msmtp.sourceforge.net/

[2017-10-25 15:05] wojas commented on #628
@fd0 wrote:

Another consideration for a faster, less CPU intensive hash algorithm (like Blake2) would be reduced battery usage on laptops when making backups while not connected to a power source.

[2017-10-25 17:17] armhold opened #1385 "small cleanup, "lint" issues"
I'd like to contribute a few minor code cleanups. Mostly cosmetic, but with the goal of shining light on potential bugs, ignored errors, etc. Sample commit [here](https://github.com/armhold/restic/commit/bcdebfb84e249738d6573fd678f8ff480f09e610).

If this kind of thing is useful, I propose to discuss & track such changes here. Thanks!

[2017-10-25 17:36] haraldkoch commented on #1383
anecdote: I back up two identical servers, one in New Jersey and one in Germany. The former takes about 20 minutes and the latter 90 minutes backing up to B2.

[2017-10-25 18:39] jcollie opened #1386 "panic during index rebuild with azure backend"
## Output of `restic version`
[code]
## How did you run restic exactly?

restic rebuild-index

## What backend/server/service did you use?

Azure

## Expected behavior

Rebuild the index

## Actual behavior
[code]

## Steps to reproduce the behavior

Reproduction might be difficult as it appears my repo may be corrupt.

## Do you have any idea what may have caused this?

Not exactly. I had to kill

[2017-10-25 18:53] fd0 commented on #1386
Thanks for reporting this issue! It looks like the Azure API rejects uploads larger than 256 MiB: https://godoc.org/github.com/Azure/azure-sdk-for-go/storage#Blob.CreateBlockBlobFromReader

We need to handle this differently, but I'm not sure how.

@tamalsaha would you mind having a look?

[2017-10-25 18:56] fd0 commented on #1385
Please do so, thanks!

[2017-10-25 21:29] creckx commented on #1370
:+1:

I would like to say this is the only thing which keeps us from using restic in production. Backup is superfast into our own minio cluster or SFTP connection, but restore is annoyingly slow. It's fine if you are not in hurry like with photos, but usually we are, because if we need the backup it means the service is down.

[2017-10-26 06:08] fd0 commented on #1370
@is thanks for tackling this issue! I'll try to find time to review your PR the next couple of days and give you feedback.

[2017-10-26 07:20] dionorgua commented on #1370
I've found that `restic mount` is currently much faster than restore for me (at least when I need to restore just one particular directory that is less than ~10% of snapshot)

[2017-10-26 07:23] wojas opened #1388 "Fuse mount not working on macOS High Sierra"
## Output of `restic version`

[code]

Running on: macOS 10.13 (High Sierra) with an APFS filesystem.

## How did you run restic exactly?

I tried all of these:

[code]

## What backend/server/service did you use?

I tried with both the local backend and the rest-server.

## Expected behavior

Working mount.

## Actual behavior

[code]

The `~/tmp/mnt` directory exists and has no filesystem mounte

[2017-10-26 07:43] fd0 commented on #1388
Thanks for the report, it'd be  good to know if that happens to somebody else.

Fuse is bit confusing:
 * There's the fuse protocol, originally implemented on Linux, that's also what OSXFuse implements (the "server" so to speak)
 * And then there's the fuse clients, that's usually a C library (the "client"), and there are also native Go implementations. bazi/fuse is one of them.

restic sets up th

[2017-10-26 08:11] wojas commented on #1388
^ I referenced the wrong issue in the commit above. I pushed a new one, but the link to the old one remains.

[2017-10-26 09:18] jkahrs commented on #1388
Hi, it seems there is something more to this.
When I'm trying to reproduce the issue the mount works as intended.
This is on MacOS 10.13 with APFS and restic 0.7.3

[2017-10-26 11:21] armhold commented on #1385
How do you feel about this ignored error from f.Close() [in a defer](https://github.com/restic/restic/blob/master/internal/restic/node.go#L256)?

My feeling is that since there's a write, errors from that close are significant, and should probably be returned to the caller. (Feel free to talk me out of that... am I wrong?)

I know the resulting error handling in this situation is kind of ugly. We

[2017-10-26 11:58] fd0 commented on #1385
Oh, good catch, I feel the ignored error here is bug! :)

I'd go for option 3, with a named function, which should improve readability.

[2017-10-26 12:38] armhold commented on #1385
OK this one might be significant for B2 users. [defaultListMaxItems](https://github.com/restic/restic/blob/master/internal/backend/b2/b2.go#L28) is currently unused in the codebase. Shouldn't this be used like so?

[code]

Otherwise it defaults to zero, which has the effect of using the [B2 default of 100](https://www.backblaze.com/b2/docs/b2_list_file_names.html) for listing files, rather than th

[2017-10-26 16:08] armhold commented on #1385
Is there a good reason for the receivers on [Node](https://github.com/restic/restic/blob/master/internal/restic/node.go) to not all be pointer receivers?

I haven't looked deeply at all of the usages of these funcs, so there may be a perfectly good reason to have a mix of value & pointer receivers here. But my initial impression is that this might be an oversight.

The [Go guidelines](https://gola

[2017-10-26 16:53] fd0 commented on #1385
Both are very good points, would you mind just creating PRs for each of them? It also makes discussion easier :)

[2017-10-26 17:44] armhold commented on #1385
Sorry, didn't realize that a PR was a better place for discussion (despite years on Github I'm still a bit of a PR newb).

The above PR contains the more-or-less cosmetic changes. Will add the "close error not returned" in `createFileAt` to that PR as well, as it seems related. And I'll create separate PRs for the other items discussed above.

Does it matter how I stage my commits? I.e., can they

[2017-10-26 18:00] fd0 commented on #1385
Ideally, each PR contains a set of commits that's independent of all other PRs, so it's easier to review.

[2017-10-26 18:04] robbat2 commented on #533
@osamuaoki there are multiple implementations already for accessing keyring: https://github.com/tmc/keyring

[2017-10-26 22:17] montyz opened #1392 "init s3 "Killed""
## Output of `restic version`
[code]
Note that I cloned it from the repo today and then built it with debug flag on. I had the same behavior with the latest released version https://github.com/restic/restic/releases/download/v0.7.3/restic_0.7.3_linux_amd64.bz2

## How did you run restic exactly?

[code]

## What backend/server/service did you use?
s3

## Expected behavior

expected init to happen

[2017-10-27 07:23] wojas commented on #1388
After upgrading to the latest [OSXFuse](https://osxfuse.github.io/), I can confirm it works! Closing this issue.

[2017-10-27 07:23] #1388 closed

[2017-10-27 08:09] osamuaoki commented on #533
Oh, great!  Let's use the existing golang code!

Thanks for the pointer

2017/10/27 午前3:04 "Robin H. Johnson" <notifications@github.com>:

@osamuaoki <https://github.com/osamuaoki> there are multiple
implementations already for accessing keyring:
https://github.com/tmc/keyring

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/

[2017-10-27 08:29] remss commented on #1199
Why using an environment variable instead of a CLI option ?

[2017-10-27 19:09] fd0 commented on #1392
Have a look at the kernel log with `dmesg`, I suspect that restic does not have enough memory, probably less than 200. Is that possible?

The function we're using for deriving the encryption keys from the password uses a lot of memory, that's intentional to make it harder to find the password by brute-force.

[2017-10-27 20:49] montyz commented on #1392
`dmesg` says
[code]

You nailed it, thanks so much!

[2017-10-27 20:49] #1392 closed

[2017-10-28 05:54] pztrn commented on #979
Maybe as first step split large JSON into series of small ones? As I understand, internally restic takes not so much memory for storing data comparing to JSON thing.

[2017-10-28 07:49] fd0 commented on #1392
thanks for the feedback ;)

[2017-10-28 07:51] fd0 commented on #979
I've got a plan to improve this: Do not create one large index, but many smaller ones < 100MiB, and process them sequentially. But I haven't had the time to implement this yet.

[2017-10-28 10:36] virtualmarc opened #1396 "Restic Backup fails during backup with exit code 137"
## Output of `restic version`

restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?

[code]

## What backend/server/service did you use?

Backblaze B2

## Expected behavior

Like on other servers I backed up the backup should finish after all files backed up and a snapshot should be available.

## Actual behavior

Backup Stops before finishing and exits with Exit Cod

[2017-10-28 10:38] fd0 commented on #1396
Most likely the kernel's Out-Of-Memory detector killed restic, you don't seem to have enough memory. Can you check `dmesg` and report back?

[2017-10-28 10:40] virtualmarc commented on #1396
Ahh yes this seems to be the problem:

This is a droplet with 512MB RAM, 168MB used. Backed up with Duplicity just fine.

[2017-10-28 10:41] fd0 commented on #1386
Ping @diptadas

[2017-10-28 10:44] rawtaz commented on #1396
@virtualmarc Try adding `GOGC=20` before your restic command, e.g. `$ GOGC=20 /backup/restic -r b2:<B2BucketName>:<Directory> backup / --exclude-file=/backup/exclude.conf`. Might help. And turn off that pesky OOM killer ;)

[2017-10-28 10:44] fd0 commented on #1396
Hm, I'm aware that restic needs a lot of RAM (and we need to fix that). One of the reasons is that we use `scrypt()` to derive encryption keys from a password, which (intentionally) uses ~120MB RAM for that to make it harder to find the password by brute-force.

You could try to make the Go runtime garbage collector more aggressive with `GOGC=20 restic backup [...]`.

[2017-10-28 11:00] fd0 commented on #1190
Meh, closed prematurely ;)

[2017-10-28 11:01] fd0 commented on #1190
@FiloSottile I've added changes in #1397 which makes `*crypto.Key` implement `cipher.AEAD`. I like the code! Would you mind reviewing the changes if you have time?

[2017-10-28 20:31] virtualmarc commented on #1396
Thanks. That worked. Took way longer to complete but was successfully.

[2017-10-28 20:31] #1396 closed

[2017-10-28 20:37] rawtaz commented on #1396
You can try higher values well to see where the sweet spot between it working and it performing is. E.g. 30 or 40. Glad it works now though!

[2017-10-29 08:22] fd0 commented on #1323
Good point, thanks for raising this issue! It somehow fell off and I haven't read it, but @armhold fixed it in #1398. :)

[2017-10-29 08:26] #1188 closed

[2017-10-29 08:26] #1323 closed

[2017-10-29 08:28] fd0 commented on #1363
Thanks for suggest a Snap package, I wasn't aware of that format yet. We're indeed interested in having (up to date) packages for as many systems as possible, but ideally someone else steps up and maintains them. Time for developing/improving restic is scarce, and packaging would take a good chunk out of that :)

[2017-10-29 08:31] fd0 commented on #1375
That's a known problem with OVH, they're using nginx in front of their Swift cluster, @rledisez explained that a while back in https://github.com/restic/restic/pull/648#issuecomment-259377066

Ideally, the Swift library handles this, but since it doesn't, we've added generic retry code in the latest master branch. Maybe you could try that?

If you don't want to compile your own binary, you can dow

[2017-10-29 12:07] armhold commented on #1323
I should add that I was not able to repro the "if key files are unreadable it silently fails" bit... I always got an error msg from the sftp client code; it just did not include the path.

If you can give more detail on how to reproduce that problem I can revisit.

[2017-10-29 13:00] wojas commented on #1087
PR #1389 has a workaround to make the tests pass.

This issue should probably be kept open until Go's syscall is fixed to use the new darwin syscall that is required for restoring with nanosecond precision (see #1389 for some more details).

Even when Go's syscall is updated, builds made with current versions of Go will be limited to microsecond accuracy in restored timestamps, so this workaround

[2017-10-29 13:20] fd0 commented on #1087
The next step should be to raise an issue in the Go repository and propose a fix, usually it is merged fast. @wojas since I don't have a Darwin system anywhere, would you like to do that? I can assist and also handle adding the code to the Go repo (with Gerrit etc) if you like.

[2017-10-29 13:28] fd0 commented on #1033
FYI, I'm currently reworking the archiver code, let's wait until that is done.

[2017-10-29 13:29] wojas commented on #1087
@fd0 I plan to create a fix this week. It's a bit more involved than just adding a new syscall, as darwin implements it through the `fsetattrlist` syscall instead of a separate `utimensat` as *BSD does.

I will let you know if I need help, thanks!

[2017-10-29 13:30] fd0 commented on #396
Yes, you can specify `--exclude-file` multiple times, the results will be merged into one big list of excludes.

One filter pattern per line, when the line starts with `#` it's a comment.

[2017-10-29 13:30] wojas commented on #1087
@fd0 And maybe we should reopen this issue? It was automatically closed because of the PR description claiming it's a fix.

[2017-10-29 13:31] fd0 commented on #1087
Good point, reopening!

[2017-10-29 13:32] fd0 commented on #1376
Thanks for raising this issue, it's quite specific to Windows and I wasn't aware of that problem.

[2017-10-29 21:13] jayme-github commented on #1375
I remember the comment about OHV's setup. Just thought there could be a better error handling than panic.

I'm happy to try the current master to see how it behaves in this desperate situation. :-)

[2017-10-30 09:13] jayme-github commented on #1375
The output of v0.7.3-221 looks like:

[code]

[2017-10-30 14:59] GreenBlood commented on #1383
Hi,
Adding my feedback here. My server is in Amsterdam, upload speed is about 100Mb/s.
Restic version 0.7.3

I'm backing up my nextcloud data folder, about 65-70GB of various size unencrypted files
I created to repositories, one local and one on B2. The local one seems to process the data at ~5MB/s

[code]

When I run the same initial backup to B2, after a short burst, the speed quickly goes down

[2017-10-30 17:32] fd0 commented on #1375
Hmm, that's odd.

[2017-10-30 17:41] fd0 commented on #1383
That's interesting, thanks fer reporting back!

[2017-10-31 01:31] bherila opened #1401 "Does restic back up alternate data streams attached to NTFS files?"
See: https://blogs.msdn.microsoft.com/commandline/2016/11/17/do-not-change-linux-files-using-windows-apps-and-tools/

I have been using restic to back up my Windows PC, and wondering if it will successfully back up my Windows Subsystem for Linux folder from the Windows environment. If the answer is "yes," then I guess nothing needed here :)

But, if the answer is "no" I would want to see if the re

[2017-10-31 03:01] the-destro commented on #1383
I think I found my issue as I tried a different ISP and have received very different results. I wonder, is there logic in restic to detect "dead" connections?

[2017-10-31 10:11] fd0 commented on #1401
While I don't have any experience with WSL, so I don't know that. What I do know is that restic, at least for now, does not backup or restore NTFS extended attributes and NTFS alternate data streams. On Windows, when run as a native Windows binary, it'll save folders and files (with the "content" of the files).

Adding alternate data streams would require modifying the repository format. And to be

[2017-10-31 20:52] rakor opened #1402 "Restoring with --include creates directories with wrong permissions on the way down."
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?
See details below

## What backend/server/service did you use?
Client: Debian Stable (9.2)
Server: FreeBSD 11.1 server in the LAN using OpenSSH (OpenSSH_7.2p2, OpenSSL 1.0.2k-freebsd  26 Jan 2017)

## Expected behavior
The all directories should be created with the original permissions

[2017-11-01 12:11] fd0 commented on #1307
Is it possible that this is a duplicate of #1087?

[2017-11-01 12:21] #1190 closed

[2017-11-01 19:12] bashfulrobot opened #1403 "verification errors"
## Output of `restic version`

[code]

## How did you run restic exactly?

[code]

Sample Output (trimmed)

[code]

## What backend/server/service did you use?

* Local to a USB3 drive.

## Expected behavior

* To restore without verification errors. No errors reported upon backup.

## Actual behavior

* Restore seems to work, but included the above errors.

## Steps to reproduce the behavior

* I

[2017-11-01 19:13] ctberthiaume opened #1404 "pack NNN: does not exist"
## Output of `restic version`
restic 0.7.3 (v0.7.3-201-ge44ac55f)
compiled with go1.9.1 on linux/amd64

## How did you run restic exactly?
[code]

## What backend/server/service did you use?
S3

## Expected behavior
Repository check passes with no errors.

## Actual behavior
This repository was the same one I created and reported on in issue #1349. In that issue restic crashed during initial backu

[2017-11-01 19:33] fd0 commented on #1403
Hi! Unfortunately it looks like that either your drive or even the memory of your machine is faulty. I'll add my analysis below.

Among others, `restic check --read-data` verifies that the sha256 hash of a file matches the filename. For at least three files, that's not the case:

[code]

Can you run `sha256sum` on the files in question?

[code]

The other errors are mysterious:

[code]

The pack `

[2017-11-01 19:51] fd0 commented on #1404
Hey, thanks for the report. I'd like to dig down what the problem here is. Can you please confirm (or correct me):

 * You've made a backup to s3 of about ~5TiB
 * `restic check` complains of missing pack files
 * `restic rebuild-index` doesn't help
 * `restic prune` throws errors about UDP and port 53

Is that correct so far?

[2017-11-01 20:05] fd0 commented on #1402
Thanks for raising this issue. I'm not sure that setting the previous access rights on intermediate directories in the right way forward, let me think about this for a bit.

Any other thoughts on the matter?

[2017-11-01 20:43] ctberthiaume commented on #1404
Yep that's all correct.

[2017-11-01 20:47] fd0 commented on #1404
Hm. Anything else out of the ordinary? Any special configuration for the s3 credentials or so?

I'm a bit at loss what's going on here. The UDP errors point into the direction of too many connections during prune, you could verify that by running it again and periodically looking at `netstat -n`, but I thought we found all the problems with excessive connection usage.

Use a browser or something l

[2017-11-01 20:55] ctberthiaume commented on #1404
I'll take a look and report back tomorrow. The rebuild process takes about 8 hours.

[2017-11-01 21:23] Lewiscowles1986 opened #1405 "build failure [user fault]"
## Output of `restic version`

dev/master

## How did you run restic exactly?

N/A

## What backend/server/service did you use?

N/A

## Expected behavior

Compile

## Actual behavior

[code]
## Steps to reproduce the behavior

[code]

## Do you have any idea what may have caused this?

Poorly upgraded go :smile: (this is just documented in-case anyone else encounters)

## Do you have an idea how

[2017-11-01 21:23] Lewiscowles1986 commented on #1405
Btw no action needed, this is solved and here just-in-case

[2017-11-01 21:23] #1405 closed

[2017-11-02 02:34] pvgoran commented on #1402
To me, this definitely looks like a bug/problem in the restoration functionality. If I'm restoring data that originally belonged to some user into a directory that's accessible by this user, I expect this user to be able to access the restored data, even if only a part was restored. Restoring directory attributes (owner/access/etc) looks like a natural way to achieve this.

Also, the current behav

[2017-11-02 12:39] stuertz opened #1407 "Exception during prune"
## Output of `restic version`
restic 0.7.1
compiled with go1.8.3 on windows/amd64

## How did you run restic exactly?

## What backend/server/service did you use?
x: is a windows samba mount

## Expected behavior
No crash

## Actual behavior
The call crashes unexpectedly

## Steps to reproduce the behavior
calling prune on my large repository

## Do you have any idea what may have caused this?
no

[2017-11-02 16:55] sgeisbacher opened #1408 "snapshot of hidden directory is empty :-("
## Output of `restic version`
restic 0.5.0 (v0.5.0-39-g67a2ac2)
compiled with go1.7.4 on darwin/amd64

## How did you run restic exactly?

`AWS_ACCESS_KEY_ID=${RESTIC_AWS_ACCESS_KEY_ID} AWS_SECRET_ACCESS_KEY=${RESTIC_AWS_SECRET_ACCESS_KEY} restic -r s3:https://s3.amazonaws.com/****-bkp -p ~/.restic-passwd backup ~/.password-store`

## What backend/server/service did you use?
AWS-S3

## Expected be

[2017-11-02 18:00] e100 commented on #1071
I am evaluating restic for MSSQL backup files.
The large block size results in very little deduplication.

I believe a 64KB block size would be ideal for this use case.

[2017-11-02 18:35] ctberthiaume commented on #1404
The index file in S3 is different after last night's `rebuild-index` and a `check` this morning passed without errors. One other note, I erased the local restic cache folder before doing the `rebuild-index`. I'm not sure if that affected anything or if I just needed to do the final `rebuild-index` after the `forget --keep-last 1` and `prune`. Anyway, thanks for your help. If nothing else this issu

[2017-11-02 19:23] fd0 commented on #1404
Okay, hm. I still like to find out what's wrong...

[2017-11-02 19:31] fd0 commented on #1408
Hu, that is odd. Can you retry with the latest version of restic? 0.5.0 is really old.

To be honest, I don't have any idea what's going on here. Restic does not exclude directories which start with a dot.

Is maybe `~/.password-store` a symlink?

[2017-11-02 19:34] fd0 commented on #1405
Thanks for leaving an issue for others to find, great idea! :)

[2017-11-02 19:37] fd0 commented on #1407
Thanks for reporting this, I have no idea what's going on. Maybe the SMB mount went away? I noticed that the restic binary is also on `x:`, can you retry with a local binary?

[2017-11-02 20:58] #1403 closed

[2017-11-02 22:53] Lewiscowles1986 commented on #1405
would it also be possible to add a troubleshooting tag? I'm thinking people could then search for config / user-error issues with their resolution.

[2017-11-03 13:57] stuertz commented on #1407
Maybe that was one cause. After updating and using a local binary it worked.
Thanks for your hints.

[2017-11-03 13:57] #1407 closed

[2017-11-03 15:45] snc commented on #1404
I also had problems regarding DNS resolution (using REST server backend)... I simply added the repository domain to /etc/hosts as it was a static IP, of cause this won't really work with s3. Maybe caching the DNS response could help?

[2017-11-03 20:19] fd0 commented on #884
You could also send me plush Gophers, I still need the light blue (dotGo 2017 edition) and the [yellow/green one](https://twitter.com/francesc/status/903679109229821952). That'd be nice :)

[2017-11-04 00:52] ctberthiaume commented on #1404
The error during `check` has reappeared after a new backup, but not all the time. A `check` from an EC2 instance passed ok. I'm going to run some tests this weekend to try to isolate the combination of hosts and possibly other variables that produce the error.

[2017-11-04 08:51] fd0 commented on #1403
Ok, please let us know if it happens again! Did you check your machines memory with e.g. memtest?

[2017-11-04 08:51] fd0 commented on #1405
Ah, good idea.

[2017-11-04 08:53] fd0 commented on #1407
Thanks for the feedback. Let us know when this happens again.

[2017-11-04 09:22] fd0 commented on #1404
Great, the more we know about the error the better.

You can also try creating a debug log ([instructions](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)) and attach it to the issue for us to have a look at it. Please make sure to replace any sensitive details included in there (authentication tokens, passwords etc) before posting it.

[2017-11-04 09:22] zcalusic opened #1411 "Panic during index save"
## Output of `restic version`

restic 0.7.3 (v0.7.3-232-g7e2c9342)
compiled with go1.9.2 on linux/amd64

## How did you run restic exactly?

[code]

## What backend/server/service did you use?

Rest

## Expected behavior

I know where that error comes from. The index file has grown way too big for this repo and hit some limits on the nginx reverse proxy in front of rest-server. I think there shoul

[2017-11-04 09:26] fd0 commented on #1411
I agree, it could have been handled better. It's not a panic() which causes the stack trace, but a normal error (created via `github.com/pkg/errors` package).

I'd suggest replacing the error returned by `Index.Save()` [here](https://github.com/restic/restic/blob/7e2c93420fc9e78ca602a58e3b300e1311253788/cmd/restic/cmd_rebuild_index.go#L67) with `errors.Fatalf("unable to save index, last error was:

[2017-11-04 09:31] ishworgurung commented on #1349
Thanks. The `master` branch with `-o s3.retries=<large N>` and `--limit-upload N` did the trick for me on a relatively unstable, volatile and poorly managed network provider.

[2017-11-04 10:11] zcalusic opened #1412 "Feature request: split index files, so they don't grow too big"
Currently, as the final product of the rebuild-index/prune commands, a single big index is written out. And it can grow really large. On one of my repos, it has grown to 455MB. Such big files are not a problem for local disk repos, FS can handle them just fine. But, when using any kind of remote repo with HTTP transport, it's becoming a problem, as can be seen in #1386, #1411 and possibly more rep

[2017-11-04 18:15] armhold opened #1413 "restic fails to cleanup locks when bash pipeline fails"
I think I've solved the mystery of why my restic repos sometimes get mysteriously locked. If you run restic in a bash pipe, and the pipe fails for some reason (e.g. typo), restic fails to clean up its lock.

## Output of `restic version`

[code]

## How did you run restic exactly?

I was trying to cat an index through 'jq' but I made a typo (notice the lack of space between `jq` and its arg in my

[2017-11-04 18:28] armhold commented on #1413
On second thought, I'm not really sure it's best to *ignore* SIGPIPE... maybe add it to the cleanup handlers in cleanup.go?

[2017-11-05 09:06] wojas commented on #1087
I was about to fix this and found it was fixed only four days ago:

https://github.com/golang/go/issues/22528
https://github.com/golang/go/commit/eb2b0ed5b59cfb340de0118235bfda60e0de4a8d

How about keeping this issue open until it lands in a Go release, and then add a Go version check in the test timestamp comparison code?

[2017-11-05 09:15] wojas commented on #1307
This was resolved in Go with the following issues and commits:

- https://github.com/golang/go/issues/16480 https://github.com/golang/go/commit/67c360594f1cdfa8e663bf5ff51724d3fc31abb9 (utimensat syscall on BSD)
- https://github.com/golang/go/issues/21437 https://github.com/golang/go/commit/0b06929b2deeedc42706598a7ffc95fcbae91ace (syscall param fix)

As suggested in #1087, we should probably add

[2017-11-05 12:51] fd0 commented on #1412
Definitely a good idea. The index file format can be split easily without breaking backwards compatibility, and I think we should try that.

The index files consist of all the headers of the pack files (basically "which blob is stored where"). This prevents having to list the pack files and read all headers of all pack files at the start. We could indeed move the index files completely to the loca

[2017-11-05 13:03] rawtaz commented on #1412
A question on the thought of not storing the index on the server anymore; Won't this cause practical issues, at least huge performance problems, for the users that for whatever reason don't want to store the cache locally (i.e. that run without the cache)?

As the cache can grow insanely right now, and even if it doesn't, will take up GBs on disk, it's not always wanted to keep a cache local. Woul

[2017-11-05 19:07] xSWIGx opened #1416 "Unexpected behaviour when using -one-file-system"
## Output of `restic version`
[code]

## How did you run restic exactly?
`restic -r /mnt/backup/ backup --one-file-system / /mnt/storage/ --exclude "/mnt/files"`

## What backend/server/service did you use?
Filesystem

## Expected behavior
I would like filesystem snapshot with:
1) `/` -  root filesystem without sys, dev, etc...
2) `/mnt/storage` - this **mounted** filesystem on its own place

## A

[2017-11-05 19:58] fd0 commented on #1416
Thanks for reporting this issue. It's not specific to `--one-file-system`, but rather how the archiving code works at the moment, it's a duplicate of #549 (please see over there for a more in-depth description). I'm going to close this issue as a duplicate, please subscribe over at #549 for progress information.

[2017-11-05 19:58] #1416 closed

[2017-11-05 20:02] fd0 commented on #1416
As a workaround, you can run `restic backup --exclude-file ~/.restic-exclude /` and exclude all mounted dirs that shouldn't be in the backup manually, this is described here in a bit more detail: https://forum.restic.net/t/full-system-restore/126/8?u=fd0

[2017-11-06 17:20] darioseidl commented on #1331
Hi,
I'm new to restic and currently evaluating it. It looks really promising!
I was quite confused by the mount command, I assumed there was a bug and it was hanging/sleeping here:

[code]

Just to confirm, this is expected behavior, i.e. it is done mounting at this point and it is save to stop the process with Ctrl+C?

[2017-11-06 17:38] mholt commented on #1206
Well, I've had this running as a scheduled task every week on my parents' computer and the task does seem to stop after a while. I need to investigate if that's because the scheduler is killing it after a while or if it's because, under the hood, restic is actually continuing and finishing. I probably should observe it and check CPU and disk usage... I thought I did this but let me do it again and

[2017-11-06 18:04] fd0 commented on #1331
Yes, that's the expected behavior (at least for now).

[2017-11-06 18:34] darioseidl commented on #1331
Okay, thanks for confirming. All good.

As you can guess, I agree that an `unmount` command would be nicer.

[2017-11-07 09:44] middelink commented on #979
I suddenly thought of a different way. How about [bloom filters](https://en.wikipedia.org/wiki/Bloom_filter)? there is a working golang [implementation ](https://github.com/willf/bloom) - under the same license as restic, so that should not pose a problem.

So the idea is to generate a bloom filter and during backup add newly generated hashes to the filter and writing them out. `rebuild-index` and

[2017-11-07 20:00] middelink commented on #1412
rawtaz@ i think that question is answered by fd0 in the above 2nd paragraph :) and yes.

On #979 I posted the idea of using a bloomfilter, so that backup only, small machines can use only the bloom filter to determine if the hash is there. We would need some way of appending/joining to the index though, for the restic commands which need access to the actual data. But a bloomfilter can be a few or

[2017-11-07 21:20] mika commented on #450
I'd be interested in this topic also from a server perspective, so not necessarily low memory but "still not enough". :) For example I've got a mail server with ~950GB of data (`scanned 64173 directories, 2147728 files in 2:41`) and with 2GB of RAM I ran into OOM with restic (running under `ionice -c 3 nice -n 19`). Are there any known numbers for calculating memory needs for restic (per file/per

[2017-11-08 09:26] dionorgua commented on #450
My experience is around 4GB of RAM for 1.5TB repo size (for backup). prune takes even more (~9-10GB of RAM).

Memory usage depends mostly not on data size on particular machine, but mostly on repository size. So it is impossible to backup 100KB file on machine with 2GB of RAM (no swap) if restic repository itself is ~1TB.

[2017-11-08 17:54] fd0 commented on #1087
Agreed, thanks!

[2017-11-09 05:31] Karl-Gustav commented on #519
I realize I'm late to the party but couldn't there be a lock file that makes the second instance wait for the first to finish before it starts?

[2017-11-09 05:56] tamalsaha commented on #519
@Karl-Gustav , may be you can achieve that with a bit of scripting. https://stackoverflow.com/a/1985512/244009

[2017-11-09 06:33] Karl-Gustav commented on #519
That was a bit more advanced than my locks:-) I just use `if file {wait 5sec and check again}`

[2017-11-09 15:14] linsomniac commented on #187
My use case is having many systems back up to the same repository, getting the advantage of deduplication across all those machines, but a compromise of one system (and it's backup script) not allowing the attacker to read the backups of the other systems.

[2017-11-09 17:55] seanmavley commented on #526
Not able to use Restic simply because of the out of memory issue. Backing up a 950mb wp-content folder, and just about 10% into backup, out of memory kills it.

Really nice tool, yet literally and practically unusable.

[2017-11-09 18:14] rawtaz commented on #526
@seanmavley What is the complete command you use to run a restic backup? Have you tried giving it the GOGC environment variable? E.g. `GOGC=20 restic ... backup ...`. If not, please do and see if it makes any difference.

[2017-11-09 19:04] seanmavley commented on #526
@rawtaz My complete command is `restic backup foldername/` Is that right?

I tried the `GOGC=20 restic backup foldername/` and still error similar to @egalanos .

I'm using DigitalOcean Spaces and following this tutorial: https://www.digitalocean.com/community/tutorials/how-to-back-up-data-to-an-object-storage-service-with-the-restic-backup-client#backing-up-a-directory

[2017-11-09 19:08] rawtaz commented on #526
@seanmavley Too bad, the GCGO=20 helped a lot in one of my memory-constrained systems. I *could* try GOGC=10 just for kicks, might be lucky and it works. How much memory *do* you have available for restic to use anyway? Yeah, the backup command is fine.

[2017-11-09 19:21] seanmavley commented on #526
@rawtaz Not much memory I have available. It is a 1Gig RAM box with some 300Mb to spare. Using `GOGC=1` still even throws the errors.

What stops restic from using the available possible memory, even if that'll mean longer time to backup?

I just wanna backup files which even if it takes an hour to do, I don't care. They're not critical need to back them instant. I don't fully understand how resti

[2017-11-09 20:10] rawtaz commented on #526
@seanmavley 300 MB isn't much, I wouldn't count on that working out well for anything but very small repos. But I'm not the one to give you exact information on this, so take it with a grain of salt. Yeah, there's probably room for improvement on the memory handling.

[2017-11-09 21:19] fd0 commented on #526
I'll chime in and add a bit of background information. Restic is still a young project, so there are several rough edges that we're aware of. Memory usage is one of them.

Restic mainly uses too much memory in two areas:
 * Index handling: At the start, restic reads all the index files from a repository to learn what data is already stored there (and where). This is then kept in memory. Since thes

[2017-11-10 08:04] dionorgua commented on #526
As a workaround I've configured machine with more RAM to rsync whole filesystem of Raspberry Pi and backup it using `restic backup --hostname my-raspberry`. Not perfect but works.

[2017-11-10 11:11] smeinecke commented on #536
Hi! I'd like to use restic with hubic but it seems as if the difference between the public swift/openstack API and hubic is not as small as espected. SVFS (https://github.com/ovh/svfs) which is also go based has an extra tool to generate additional login credentials for hubic.

Did someone already successfully use restic with hubic?

[2017-11-10 11:46] Siilwyn opened #1418 "Mention backup storage size, comparison fair?"
:wave: Hi there, restic looks good but after reading [this backup storage size comparison](https://github.com/gilbertchen/benchmarking#backing-up-the-linux-code-base) it looks very space insufficient. Wondering if this comparison is fair, it seems to conflict the 'efficient' point in the documentation.

[2017-11-10 13:27] fd0 commented on #1418
We've covered this topic [in the forum](https://forum.restic.net/t/restic-dedup-strategy/129) already, and you're right: We haven't reached our self proclaimed goal here yet. The main reason for that seems to be the missing compression (see #21). I'm going to close this issue for now, please feel free to add further comments (maybe in the forum, that's the more appropriate place)!

[2017-11-10 13:27] #1418 closed

[2017-11-10 15:27] vovcacik commented on #536
@smeinecke As far as I read the difference is only in authentication. [Rclone][] got it working with Hubic so you can take a look at the whole process.

[Rclone]: https://rclone.org/

[2017-11-10 16:16] patternseek opened #1419 "Panic removing rest-tmp-pack file during backup on Win 10"
## Output of `restic version`

restic 0.7.3
compiled with go1.9.2 on windows/amd64

(Built from master downloaded 2017-11-08)

## How did you run restic exactly?

In cmd.exe I ran:
cmd /c "C:\restic.exe backup --password-file c:\resticfl.txt -r b2:****-restic Users"
(cmd /c because it's a copy and paste from a scheduled task)

B2 keys set in environment variables

## What backend/server/service di

[2017-11-10 17:45] patternseek commented on #1419
Of course c:\Users which I'm backing up also contains the temp dir. I'll try changing the tmpdir and running again.

[2017-11-10 18:28] cbf305 opened #1420 "Crazy slow incremental backup over WAN"
restic version:
[code]
I launched restic with the following:
[code]

Contents of `.restic.conf`:
[code]

Output at start of app:
[code]

Issue:
Restic is a sweet app.  I've been using it for local backups for about 2 months.  Since CrashPlan announced they are getting rid of their home plan, I wanted to switch to restic since it's been working so well for local backups.  I have approx 4 TB of data

[2017-11-10 18:37] fd0 commented on #1420
Thanks for the report, that is really odd. Could you paste the complete output from the `restic backup` run until it starts saving files? Is there something about a `parent snapshot` in it?

[2017-11-10 19:03] cbf305 commented on #1420
I saw the `--parent` option in the docs, but this is the only machine backing up to this repo, so I didn't specify it.  I have never seen it list out anything about a parent either.  I started it manually again just now and snagged it with a screenshot tool so you can see the whole thing.  And even though the ETA is only showing 3 hours it will slowly tick up to 9.5 to 10 hours if I let it run for

[2017-11-10 19:24] cbf305 commented on #1420
You piqued my curiosity :-)  I ran it again but specified the `--parent` option with the ID of the last snapshot and it did display the "using parent" in the output and started with the best ETA I've seen yet at 2.5 hours, but after about a minute it was back up to the 10 hour mark.

![screenshot_20171110_142220](https://user-images.githubusercontent.com/2612500/32674788-9b6da9c6-c622-11e7-8b0f-72

[2017-11-10 19:45] fd0 commented on #1420
Ok, I think you've run into a version of the bug described in #1290, I'll try to reproduce it.

[2017-11-10 19:59] fd0 commented on #1420
Hm, I'm not able to reproduce it. What should happen is that restic finds a parent (=previous) snapshot of the same set of directories. It should the load the metadata from that snapshot, and detect that the files haven't been modified since, and only read and save new data. The metadata should also be automatically cached somewhere in `~/.cache/restic`.

All that should be pretty robust, besides

[2017-11-10 20:02] fd0 commented on #1420
Can you paste the output of `restic snapshots`?

[2017-11-10 20:08] fd0 commented on #1419
Please report back, I think the problem is that restic is reading files from its own temp dir, so when the pack file is to be removed, it cannot be removed because restic is still reading it. The workaround is using the `TMPDIR` environment variable and set the tempdir for restic to something specific, and then exclude that via `--exclude`.

[2017-11-10 20:09] fd0 commented on #1419
I'm closing this bug as a duplicate of #1380, please do add further comments, thanks!

[2017-11-10 20:09] #1419 closed

[2017-11-10 22:27] armhold commented on #979
@mholt :

@fd0 :

Hey, I did some experimentation and @mholt's comment above seems to be correct. You *do* need to do a tiny bit of manual parsing (to navigate brackets and whatnot). But once you do that, you can call `Decode(&thing)` on just a small part of the JSON stream and not need to keep the entire JSON in RAM all at once.

I wrote a [stream-friendly version of LoadIndex](https://github.com

[2017-11-11 00:34] middelink commented on #979
Uhm. I'm confused. The index is encrypted and all decoding happens inplace, which means the entire index is loaded in memory as a single []byte and decoded. How does parsing json piecemeal help here? In fact, json.Unmarshal() takes the []byte without further copying as far as i can tell. So unless you convert the jsonunpacker to a streaming interface... Oh wait, you wrote that :P

[2017-11-11 00:36] middelink commented on #979
(Actually, I think it would be kinda awesome to have Reader/Writer versions of the encrypted loader/writers, way more go-isk. The writer might needs some thinking as you would have to write to a (local?) temp file since only at the end we know the hash and therefore its filename.)

[2017-11-11 00:46] armhold commented on #979
Well like I said, it's not a drop-in solution for the current design. Much would have to be converted to Reader/Writer instead of []byte to make this work.

I just wanted to clarify that it is indeed possible to unmarshal a JSON stream piecemeal with lower memory constraints, because @fd0 indicated above that he was considering writing such a parser.

[2017-11-11 02:16] middelink commented on #979
Personally I think  the drive for keeping the internal data in json format is a mistake. The data is encrypted, so not directly readable anyway and `restic cat xxx` can marshal to json and show that instead. Doing that would allow restic to use the more performant gob encoders or whatever we come up with.

[2017-11-11 09:16] fd0 commented on #979
You are right, and I tried that in the past (look for `DecryptReader` in the restic repo history). The underlying dilemma is that for encrypted data, we need to make sure the data is unmodified **before** we try to decrypt, read and process it. This implies that the whole encrypted object (e.g. the index) needs to be loaded and checked before. And for that we use the Go crypto functions, which all

[2017-11-11 09:50] fd0 commented on #979
@armhold I've converted the tests in your streaming benchmark example to standard `Benchmark` functions and I don't see a huge difference in memory allocation (patch [here](https://gist.github.com/b05b77b4d5d9f840f824cf642666f8b3)):
[code]

I've then tried to find a more realistic example, loading an index (~64MiB) from a file and decoding that (patch [here](https://gist.github.com/74cd7d78206107c

[2017-11-11 12:47] armhold commented on #979
@fd0 thanks for looking at my code.  I'm somewhat new to profiling go, so I apologize if the analysis that follows is incorrect.  But your benchmarks are showing # of allocs/op which is does not really answer the question "how much ram does this thing need to run?"

I actually started with a benchmark test and found that it seemed to be geared toward overall throughput/efficiency, and not peak mem

[2017-11-11 13:07] armhold commented on #979
Clarification: I get ~300-400kB usage from pprof for `inuse_space` (which, I think is what we want to measure?)  For `alloc_space` I get data in the GB range, but if my understanding is correct that only tells us how much as been allocated (and potentially freed) overall, not memory *still in use*.

[2017-11-11 14:50] McKael commented on #1140
FWIW, I've been hit by this as well.
I've increased the backup partition size several times, but not enough...  And each time it fails, the repository gets bigger.

The repository is now 5 times its usual size :/

I wish there was at least a proper way to clean up failed prunes (or redundant data).

[2017-11-11 17:30] patternseek commented on #1419
Yes I moved the tmp dir for the user out of the folder being backed up and the snapshot completed successfully.

[2017-11-12 03:31] tveastman commented on #698
After doing a large initial backup (398gb) onto an NFSv4 share that finished cleanly in about two hours, I ran `restic check` and had quite a few of these.

[code]

[2017-11-12 16:25] fd0 commented on #979
Disclaimer/TL;DR: I'm not entirely sure I use the pprof tools the right way. As far as I understand it, looking at the size of the allocations of a function gives me an upper bound for the memory requirement.

I'll try to explain it the way I understood it with a hypothetical example:  Let's assume we have a function that allocates ten separate slices of `[]byte` on the heap with size 1MiB each. T

[2017-11-13 16:18] alexeymuranov commented on #693
IMO it would be quite useful to have an idea of how much extra space was used for a new snapshot. This could be even just physical storage space computed during backup and stored in snapshot's metadata. If some snapshot is removed, this metadata should be then invalidated in all future snapshots.

I think i would appreciate such a feature even if nothing else is done in this direction. However, an

[2017-11-13 16:53] armhold commented on #979
Hey @fd0, I really appreciate your patience and detailed example/code on this issue. I think maybe I'm doing a poor job explaining the "optimization" here.

My point in writing indexJsonStreamer was to respond your statement in [this comment](https://github.com/restic/restic/issues/979#issuecomment-309555966)
I.e. to show that a streaming parser does not need to buffer the entire contents of the R

[2017-11-13 17:09] cbf305 commented on #1420
Sorry, was away from my machine all weekend.  Before I left I started a backup since I'd been canceling all the ones since that first 10 hour incremental finished and since I dumped some new stuff on the drives.  I ran it with the same command posted in the last screenshot where I specified the `--parent`.  It took it 9 hrs and 47 minutes.

This morning I had about 10G of new stuff to dump on the

[2017-11-13 22:24] aut0 opened #1421 "TLS handshake timeout when using S3"
## Output of `restic version`
C:\restic>restic.exe version
restic 0.7.3
compiled with go1.9.2 on windows/amd64

## How did you run restic exactly?
C:\restic\restic.exe backup --force D:\SomeFolder D:\SomeOtherFolder

## What backend/server/service did you use?
set RESTIC_PASSWORD=password
set RESTIC_REPOSITORY=s3:https://s3.amazonaws.com/bucket
set AWS_ACCESS_KEY_ID=KEY-ID
set AWS_SECRET_ACCESS_KE

[2017-11-14 07:13] fd0 commented on #1420
Nice, so it looks like there's additional room for improvement in the parent detection code. I'm going to close this issue for now, please report back when it recurs!

[2017-11-14 07:13] #1420 closed

[2017-11-14 15:25] fd0 commented on #979
Hi George,

Ok, thanks for the clarification. I think it's valuable to investigate in this direction and make the index parser more memory efficient, so thanks again for tackling this issue.

Indeed, and that was on purpose: When testing a function which parses an index, I'd like to only benchmark that function, not the setup code needed to generate the data to be tested. That's why the ResetTimer

[2017-11-15 11:28] armhold commented on #979
I understand about not wanting to test setup code, but in this case the setup code has an important side effect- it creates a []byte on the heap that is required for json.Unmarshal. The size of that array is (arguably?) what's causing restic to crash with OOM for some people.

The streaming method does not create any such []byte, but rather processes the doc in small chunks (packs). So don't you t

[2017-11-16 01:40] ctberthiaume commented on #1404
After running a bunch of `backup`s and `check`s for the same NFS share from a different host I can't recreate the error. The only warning I get is `pack ... contained in several indexes: {... ...}` which I gather is not critical. I'm leaning towards faulty hardware on the original host, probably from the disk since the server has ECC RAM. Maybe the local cache of the index or `restic` temp files w

[2017-11-16 03:43] TheWalkers opened #1422 "IAM roles, supported in 0.7.3, appear to no longer work in master"
## Output of `restic version`

v0.7.3-237-g06bd606d

## How did you run restic exactly?

/usr/local/bin/restic -r s3:s3.amazonaws.com/restic-test-repo -p /root/.restic_pass init
create backend at s3:s3.amazonaws.com/restic-test-repo failed: client.MakeBucket: Anonymous access is forbidden for this operation

Running 0.7.3 with the same command line options on the same instance:

/usr/local/bin/res

[2017-11-16 03:53] TheWalkers commented on #1422
git bisect shows the breaking commit @ 042adeb5d0e4cc1771da05a56e8b868292d7c037.

[2017-11-16 04:06] TheWalkers commented on #1422
The problem appears to be that the credential chaining is not working as expected.

                &credentials.Static{
                        Value: credentials.Value{
                                AccessKeyID:     cfg.KeyID,
                                SecretAccessKey: cfg.Secret,
                        },
                },

causes minio to try to access S3 with an empty AccessKeyID an

[2017-11-16 07:18] fd0 commented on #1422
Thanks for the report. @harshavardhana would you mind having a quick look? If I remember correctly, IAM profiles were briefly removed from minio-go, is that correct?

[2017-11-16 07:21] fd0 commented on #1404
You can run `rebuild-index` to create a new index which will correct the error, that's not a big deal.

A run of `restic check --read-data` will show you internal (=data structure) and external (=corrupted/modified file on disk) errors, that should be sufficient in this case. It will not show you if the suspect host saved modified/garbled data to the repo (e.g. a file with content `foo` is saved a

[2017-11-16 07:46] harshavardhana commented on #1422
No @fd0 restic has IAM profiles supported , looks like a bug in chaining as mentioned by @TheWalkers

[2017-11-16 08:04] harshavardhana commented on #1422
The fix is simple enough @TheWalkers would you mind testing this for us? https://github.com/restic/restic/issues/1422

[2017-11-16 08:28] fd0 commented on #979
Dave Cheney has published slides from a new talk recently, this may be interesting: http://talks.godoc.org/github.com/davecheney/qconsf-2017/high-performance-go.slide#20 (I did not have the time to look at them in detail).

[2017-11-16 10:34] lloeki commented on #1349
@fd0 indeed the 0.7.3 release seems to leak like a sieve, causing crashes of the backup processes. Thanks @Phaeilo, I'll be trying master after v0.7.3-180-g7507a658.

[2017-11-16 10:59] lloeki commented on #1401
There is a similar feature to alternate data streams on macOS, called resource forks, which may include e.g compressed data if using HFS Plus Compressed, alternative icons for files...

A similar question can be raised about filesystem extended attributes, which on macOS may include [hiding files via chflags(1)](https://superuser.com/questions/341663/how-do-i-create-a-hidden-file-or-folder-in-os-x

[2017-11-16 13:56] lloeki opened #1424 "s3.retry backoff strategy"
Using `-o s3.retry=42` allows one to change the retry count. What kind of retry strategy is implemented? Is it linear or exponential backoff? It would be fair enough to at least document it, even better if it can be adjusted as an option.

[2017-11-16 14:03] lloeki commented on #1424
@samonzeweb that one might be of interest to you.

[2017-11-16 15:54] TheWalkers commented on #1422
Thanks @harshavardhana, I can confirm that that fix resolves the problem.

[2017-11-16 18:07] ctberthiaume commented on #1404
Sounds good to me. Thanks for your help.

[2017-11-16 19:15] #1404 closed

[2017-11-16 22:31] CurtWarfield opened #1425 "Restic does not work with B2"
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?

$ restic -r b2:bucketname:/ init

create backend at b2:bucketname:/ failed: b2.NewClient: b2_authorize_account: 401: Invalid authorization token

The key and account have been exported correctly.

## Expected behavior
It doesn't work at all.

[2017-11-16 22:43] jtrott commented on #1425
Test your keys with the following command:

curl https://api.backblazeb2.com/b2api/v1/b2_authorize_account -u "ACCOUNT_ID:APPLICATION_KEY"

I had the same problem and it turned out I had an incorrect application key and needed to get a fresh one.

[2017-11-16 22:51] CurtWarfield commented on #1425
The keys and account ID were just testing via the b2 api command and with a duplicity backup that uses the account ID and keys

[2017-11-16 23:09] CurtWarfield commented on #1425
Even though my account/keys were working for duplicity and for b2 cli, I wiped out my B2 bucket and created and new one along with a new key. Now it's working. Still doesn't make sense but this can be marked as closed.

[2017-11-16 23:09] #1425 closed

[2017-11-17 05:32] pmkane opened #1427 "USR1 does not report progress if --quiet is passed"
Reasonable people could disagree about this, but I think that a USR1 signal should always trigger a progress report, even if restic has been passed the --quiet flag.  It's useful for debugging what's going on with a scripted backup, without relying on strace/lsof.

Currently, --quiet suppresses this output when USR1 is received.

Thoughts from fd0 or others?  Happy to submit a PR implementing this

[2017-11-17 20:00] sfrique commented on #232
@wpbrown you probably can use trickle if you are on linux.

[2017-11-18 13:46] fd0 commented on #979
I've plugged the index decoder into restic and ran a few tests with one of my repos.

[code]

First, with the default decoder (using `json.Unmarshal`):

[code]

Then with the streaming code:
[code]

I've then rebuild the index (so it's just one large index), and re-ran the test:

Default decoder:
[code]

Streaming decoder:
[code]

So it looks like at least for the current restic code (and the way

[2017-11-18 14:56] wscott commented on #1160
It would be nice the actual backup was started in another thread when the first modified file was noticed by the initial scan. Then the progress bar could have both the finish and total numbers updating at the same time as until the scan has completed. This still keeps the caching advantages as the scanner would be ahead of the backup stream. I also suspect it would feel better interactively becau

[2017-11-18 15:37] armhold commented on #979
How was it plugged in? Is LoadAndDecrypt() still returning a []byte, and you're just feeding that to a reader? I'm completely unsurprised if the memory footprint does not change (or gets a little worse) if you just stream from a []byte.

[2017-11-18 15:46] fd0 commented on #979
Me too. I've pushed the branch to the `improve-index-decoder` branch in case you want to play with it. There's a second commit in it (which removes the decoder for the old index format, which we haven't used in ages), don't worry about that. Here's the relevant part: https://github.com/restic/restic/blob/5925fa0d1c79d5155de41ef92d13f9cb50c1ffeb/internal/repository/index.go#L465-L472

[2017-11-18 15:53] fd0 commented on #979
Removing the intermediate structs just used for the JSON encoding, the memory consumption of the streaming decoder is roughly the same:
[code]

[2017-11-18 21:40] man-deli opened #1430 "error loading tree: id <VARIOUS ID's> not found in any index"
## Output of `restic version`
[code]

## How did you run restic exactly?

`.\restic -r b2:<B2_BUCKET_NAME>:school backup "D:\My Documents\School"`

With both environment variables set to their applicable values:
B2_ACCOUNT_ID
B2_ACCOUNT_KEY

The following output was seen:
[code]

## What backend/server/service did you use?

Backblaze B2

## Expected behavior

Was not expecting any errors.

## Actu

[2017-11-19 11:27] n0npax commented on #1411
created pr for that: [https://github.com/restic/restic/pull/1431](url)

[2017-11-19 12:32] willemw12 commented on #549
Regarding option `--store-full-path`: `rsync` has this option: `-R`, `--relative`.
Maybe use the same option name for restic?

[2017-11-19 14:03] mikhailian opened #1432 "Backup to Google Cloud Storage slows down over time"
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on linux/386

## How did you run restic exactly?
 RESTIC_PASSWORD=zzz ~/bin/restic -r gs:xxx:/ backup photo

## What backend/server/service did you use?
Google Cloud Storage

## Expected behavior
A constant backup speed

## Actual behavior
The backup starts at over 20 MiB/s, then the speed degrades over several hours down to 800 KiB/s

[2017-11-19 15:11] armhold commented on #979
Yeah, that code still generates a big []byte and then streams from it, so no surprises there.

Using the indexJsonStreamer is not going to help unless the entire workflow from backend -> json can be streamed. To that end, I experimented a bit with a LoadAndDecryptStream() method on repository.  You can [grab it here](https://github.com/armhold/restic/tree/improve-index-decoder).

I had trouble wit

[2017-11-19 20:43] fd0 commented on #979
Just to be clear, as I hinted in https://github.com/restic/restic/issues/979#issuecomment-343651588 above, we **must** verify the MAC **before** attempting to processing the contents in any way. Especially, we **must not** decrypt or even JSON decode data for which the MAC has not been verified yet.

I don't see how we can do that while having a streaming architecture (and I've tried, look for `De

[2017-11-19 20:45] naffit opened #1433 "Using --files-from and a file with a BOM causes 1st entry to be skipped"
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on windows/amd64

## How did you run restic exactly?
D:\restic>restic_0.7.3_windows_amd64.exe -r test backup --files-from files.txt
D:\restic\?abc.txt does not exist, skipping
enter password for repository:
using parent snapshot 5d4da7df
scan [D:\restic\def.txt D:\restic\xyz]
scanned 1 directories, 1 files in 0:00
[0:00]   0B/s  0B / 0

[2017-11-19 20:52] fd0 commented on #1433
Thanks for the report. What's a BOM? I guess it's the UTF-8 Byte Order Mark? Can you attache a sample file with such a mark so I can have a look?

I can confirm that there's no code in restic which detects or interprets a byte order mark in the first line of the file, it'll be treated just like every other line (i.e. as a filename).

For `--password-file`, the contents is treated as-is, without an

[2017-11-19 21:31] naffit commented on #1433
Yes, it's a Byte Order Mark (its different from encoding to encoding).

Attached is the files.txt I used for testing with an UTF-8 BOM as created by some random texteditor.
[files.txt](https://github.com/restic/restic/files/1485975/files.txt)

Any BOM should be stripped by whatever it opening the file before reading the contents is passed onwards. BOMs are at least 4 bytes long (and goes up toward

[2017-11-20 00:34] armhold commented on #979
Ah, I see. I didn't realize that was a hard and fast rule about verifying the MAC first. I was thinking maybe it could be done as part of closing the stream or something. Sorry that I didn't read that earlier comment more closely, and I apologize for dragging you down this rabbit hole with me!

Is MAC pre-verification done in order to guard against a particular vulnerability (e.g. executable code

[2017-11-20 03:19] gmhenderson commented on #1261
Just to add my experience using DO Spaces as a backend: it wasn't great. I was backing up about 8GB of data (consisting of ~150 snapshots) and would constantly get 504 Gateway timeout errors. My backup scripts had some simple retry logic built in, so if a `restic backup` command failed, it would try again. However, failures would happen so often that the entire backup process would take hours and

[2017-11-20 07:55] fd0 commented on #979
Don't worry about it :slightly_smiling_face: I get to see crypto break regularly during my day job as a pentester (sometimes I'm the one breaking it), so I'm very sensitive to these issues. On the other hand I'm know that most people don't know all the details (which is fine).

Checking the MAC only after data has been processed enables vulnerabilities. For example, [Padding Oracle](https://en.wik

[2017-11-20 14:06] cgonzalez commented on #232
@sfrique No, you can't use trickle (with the restic's standalone binary). From the [trickle man page](https://www.systutorials.com/docs/linux/man/1-trickle/):

[2017-11-20 14:13] vaultah opened #1434 "Restic does not stop on SIGINT"
## Output of `restic version`
[code]

## How did you run restic exactly?

[code]

## What backend/server/service did you use?

Backblaze B2.

## Expected behavior

Stop shortly after I press `Ctrl + C`.

## Actual behavior

Restic does not stop (or takes very long time to stop) after I press `Ctrl + C`.

The standard `Interrupt received, cleaning up` message gets printed, but then Restic carries o

[2017-11-20 15:39] sfrique commented on #232
@cgonzalez you are right. I just remember I've use trickle before. My bad!

[2017-11-20 18:09] bashfulrobot opened #1435 "Restic backup - download?"
Hi there - this is more of a question than an issue.

I'm using Restic with B2. I was just using the free tier to test. When performing a backup, I got this notice:

[code]

Now, this notice is from B2. But what it is implying is that I exceeded a free tier cap for downloads. What would Restic be downloading on a backup? Just curious so that I understand the functionality.

Thanks as always for yo

[2017-11-20 19:51] fd0 commented on #1435
I assume you're using the released version 0.7.3, which does not have the metadata cache yet. On each start, it downloads all the index files and all files in the `snapshots/` folder. When a subsequent backup is run, the metadata from the previous backup is downloaded (`using parent snapshot [...]`). That's it, basically.

Maybe for next time the forum at https://forum.restic.net is a better place

[2017-11-20 19:51] #1435 closed

[2017-11-20 21:13] fd0 commented on #1318
Code is in #1436. When a cache dir is used, its modification timestamp is updated. At the start, restic scans for cache dirs with a modification timestamp of older than 30 days, and warns if it finds some. Users can then call `restic cache --cleanup` to remove them.

Opinions?

[2017-11-20 21:47] legrostdg commented on #1318
I usually run restic with a cronjob which runs "backup" and then "prune". As I understand it, with #1436 I may get warnings during the backup step, which does not seem ideal for a cronjob. I would be nice to have a "--no-cache-warning" flag, to be able to run "backup", "prune" and then "cache --cleanup".

[2017-11-21 13:25] michaeldorner opened #1438 "Better exclude handling"
Currently, you exclude folders or files via `--exclude(-file)`. But if one backups

    restic /data backup --exclude-file=data/exclude_file

the exclude file must have absolute paths to exclude top level folders and their sub-directories. In the example above, all paths have to start with `/data/...`

Wouldn't it be nice, to add `BACKUP` files to a directory, specifying which folders shall be exc

[2017-11-21 16:11] armhold commented on #1434
I have noticed this for a while too. See [this comment](https://github.com/restic/restic/issues/1188#issuecomment-325643132).

FWIW, I'm able to reproduce this with values of 10 and 1 for `b2.connections`.

In the logs, I see the following immediately when I issue an interrupt:

[code]

But the backup continues for almost 10 minutes more before it stops (it does stop and exit eventually).

[code]

[2017-11-21 17:54] underhillian commented on #1318
Since @fd0 asks for opinions, I (with some trepidation) will insert a somewhat off-topic comment.

I'm a little concerned about "feature creep" in restic.  It seems to me that the developer(s) are, to their credit, very helpful and enthusiastic about adding features like this one which (with apologies in advance to the OP and others who may be offended by my opinion)  adds a new command, and possi

[2017-11-21 20:11] fd0 commented on #1318
Thanks for the feedback. I don't think this warrants a flag to disable the warning: At the moment it's a one-line message printed to stderr (but that's up for debate, we could also use stdout). It is only printed when there are old cache dirs for a different repo. For most servers I guess that there will be just one repo, so no warning will be printed at all. When you run `cache --cleanup` as the

[2017-11-21 20:24] armhold commented on #1434
Hmm, I think the way it's "working" is that eventually when the lock removal finally gets a token and returns, cancel() finally runs (effectively as a no-op), and then the entire process ends via os.Exit(). So no graceful shutdown really happening.

[2017-11-21 20:25] fd0 commented on #1318
@underhillian  Thank you for your comment. I can understand where you're coming from. Posting a possibly controversial opinion isn't easy. I'd like to set the tone for all the forums that people feel safe posting such opinions, I hope that I'm successful so far ;)

It's always a fine line between "not enough functionality" and "feature creep". I'm trying to find the right balance, and there are pl

[2017-11-21 20:36] fd0 commented on #1140
I'm aware of the limitation of `prune`. As a workaround, you could remove all files from the repo that were added since the run of `prune` started. Since `prune` will only ever remove data at the very end of the run, that shouldn't remove any data that isn't saved in another file which was present before. If in doubt, don't remove the files, but move them to a different directory outside of the re

[2017-11-21 20:39] fd0 commented on #1421
Thanks for the report. I believe this is already resolved in the master branch, you can find compiled binaries here: https://beta.restic.net/?sort=time&order=desc

I'm going to close this issue for now. If it persists with the master branch, please leave a comment.  Thanks!

[2017-11-21 20:39] #1421 closed

[2017-11-21 20:41] fd0 commented on #1349
I'm going to close this issue, it is resolved in master. A new release is not far away, in the meantime people can find beta releases here: https://beta.restic.net/?sort=time&order=desc

[2017-11-21 20:41] #1349 closed

[2017-11-21 20:46] fd0 commented on #1424
The code in the current master branch has two different retries: The s3 library we're using (minio-go) retries requests (or part of requests, I'm not sure) and I don't know what the policy there is. On a higher level, restic also retries failed backend requests, for all backends. In this case, an exponential backoff strategy is used, max 10 tries, max interval 1 minute and max elapsed time 15 minu

[2017-11-21 20:46] #1424 closed

[2017-11-21 21:11] fd0 commented on #232
Ah, this was added in #1336 already, restic now supports `--limit-upload` and `--limit-download`. I'm closing this issue.

[2017-11-21 21:11] #232 closed

[2017-11-21 23:10] legrostdg commented on #1318
If a cronjob ran successfully, it does not seem very convenient to report a warning to the user... I would prefer to be able to clean the cache automatically (by default or with a global flag).

[2017-11-22 01:53] pvgoran commented on #1318
I second this. If each successful (!) cronjob generates an unimportant warning like this, the user can easily be overwhelmed by the stream of emails from cron, and then start missing really important emails from cronjobs.

So maybe instead of the flag specific for this particular warning, it could be a generic flag like "--no-transient-warnings" (probably not the best name), that would silence all

[2017-11-23 16:29] mdwhatcott commented on #524
You could use aws cloudtrail to track the requests made to a test aws account:

https://aws.amazon.com/cloudtrail/

[2017-11-24 07:06] feutl opened #1440 "write /tmp/restic-temp-pack-399360320: no space left on device"
I am using restic on a QNAP and while started my initial backup of around 3 TB of data to an USB connected HDD it failed with the following message

[code]

Is there a way to specify a different /tmp/ location or make a cleanup more often. The /tmp/ drive on a QNAP NAS is around 32 or 64 MB only, because it is kept in RAM.

[2017-11-24 18:43] scialo opened #1441 "restic and usage cpu"
when crontab running command -> nice -n 19 restic -r /repository backup /mydir i check usage of restic with command top and in % CPU restic use 185,0%.

[2017-11-24 18:47] rawtaz commented on #1441
1) What is the actual problem you are having/reporting?

2) Why did you not fill out the issue template that you're presented with when opening a new issue form? It's there for a very good reason, and would have given us more information and also answered question # 1 above.

[2017-11-24 19:03] fd0 commented on #1441
I'm going to close this issue, you did not fill out the issue template and we don't have enough information.

[2017-11-24 19:03] #1441 closed

[2017-11-24 19:07] fd0 commented on #1440
Yes, and it's documented in the manual: http://restic.readthedocs.io/en/latest/manual_rest.html?highlight=TMPDIR#temporary-files

Since this is a question (which has been answered) I'm closing this issue for now. Please feel free to add further comments.

[2017-11-24 19:07] #1440 closed

[2017-11-24 19:55] fd0 commented on #1318
I've amended the code and incorporated your feedback, thanks! The message about old cache dirs is now a notice that isn't printed when `--quiet` is passed. I've also removed the `cache` command in favor of a global `--cleanup-cache` (default is off) option that allows restic to automatically remove old cache dirs (if there are some).

Thanks again for the feedback.

[2017-11-24 20:03] pvgoran commented on #1318
Will `restic --cleanup-cache` (without any command) just clean up the cache, then?

[2017-11-24 20:05] fd0 commented on #1318
Yes

[2017-11-24 20:13] fd0 commented on #1318
Ah, I'm wrong: `restic --clenaup-cache` without any command won't cleanup the cache, it needs at least a command.

[2017-11-24 20:35] #1413 closed

[2017-11-24 20:58] #1422 closed

[2017-11-24 22:44] scialo opened #1442 "Restic and usage cpu"
## Output of `restic version`
0.73

## How did you run restic exactly?
nice -n 19 restic -r $myrepository backup $myfolder

## What backend/server/service did you use?

## Expected behavior
When i check with command top, restic use 185,0% of CPU.

## Actual behavior

## Steps to reproduce the behavior

## Do you have any idea what may have caused this?

## Do you have an idea how to solve the issu

[2017-11-25 02:47] pvgoran commented on #1318
It's a small interface problem, then. :) I believe users shouldn't be forced to issue a fake/unrelated command, if all they want is to perform cache cleanup.

[2017-11-25 02:52] pvgoran commented on #1442
Again, you did not specify what's wrong with the current restic behaviour that you experience, and what would be the expected (correct) behaviour.

[2017-11-25 02:55] rawtaz commented on #1442
@scialo What is the actual problem you are having?

[2017-11-25 02:56] rawtaz commented on #1318
`restic prune --cache` FTW (to have `prune` only clean the cache and not the repo).

[2017-11-25 08:01] scialo commented on #1442
No problem, thanks

[2017-11-25 08:01] #1442 closed

[2017-11-25 10:16] fd0 commented on #1442
So, I'm gonna guess here: You've run restic with `nice` and saw 185% CPU usage.

That's expected for two reasons:
 1. restic uses multiple CPUs/cores if available, and the percentage is relative to one core. So if you have two cores and a program uses both the whole time, the CPU usage would be 200%.
 2. `nice` only tells the OS: "if there's another program that can be run at any given moment, pre

[2017-11-25 10:21] scialo commented on #1442
Thanks very much.

[2017-11-25 10:34] #1292 closed

[2017-11-25 11:05] fd0 commented on #1292
The code is merged now, and I've also written a blog post about it: https://restic.github.io/blog/2017-11-25/upcoming-changes-to-s3

[2017-11-25 11:10] fd0 commented on #1318
I've decided to leave this for now. We'll see how it goes. Thanks again for the feedback!

[2017-11-25 19:00] fd0 commented on #1261
Did some of you also get the errors reported here? https://forum.restic.net/t/gateway-timeout-errors/257

[2017-11-26 01:07] wlonkly opened #1444 "Large memory allocation talking to s3 backends (AWS, DigitalOcean)"
## Output of `restic version`

restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?

[code]

(and restic.backups contains:)
[code]

 * The output of the commands, what restic prints gives may give us much
   information to diagnose the problem!
-->

## What backend/server/service did you use to store the repository?

DigitalOcean Spaces, via their S3-compatible API.

[2017-11-26 01:20] wlonkly commented on #1444
Surprisingly, backing up against actual AWS S3 produced the same memory issue! Invocation was identical except
[code]
This time the OOM-killer got to the process, so I didn't get a trace. Watching `top`, it looks like there's about a 500MB allocation all at once (or within a second or so) before the oomkiller takes it out.

[2017-11-26 01:29] wlonkly commented on #1444
Hm, I just saw #979, which is probably related. I'm going to leave this here to give @fd0 a chance to see it, because this memory allocation is happening on a freshly-init'd repository, which I think might be a different situation than #979.

[2017-11-26 08:45] fd0 commented on #1444
Hey @wlonkly, was that on a fresh repo? Or is there already data in the repo? #979 is about downloading and decoding a large index files, which implies there is quite some data already in the repo.

I suspect this is a different problem: The library we're using in restic to access S3 was used in a non-optimal way and much memory is allocated. We've fixed that in the meantime, can you please try th

[2017-11-26 10:33] fd0 commented on #1261
I've created a ticket with DO, let's see if they can supply a test account.

[2017-11-26 15:43] JPPhoto commented on #1290
I, too, am experiencing these same performance issues with my backups of multiple paths under 0.7.3. I wonder if there's an issue with the logic of using a previous snapshot as a parent. It seems that a tuple <host, fullpath> could be used to uniquely identify a file's metadata (size, mtime, snapshots, etc.) and that in turn could be used to determine whether a file should be re-read. Does using a

[2017-11-26 15:53] fd0 commented on #1290
In order to find something within the repo, we need to have an anchor point. In the current implementation, that's the parent snapshot, and I agree the implementation is not the best, and I'm already working on a new one.

If you want to understand how the data structures look like and what's stored in the repo, I recommend having a look at the repo specification, here:
https://restic.readthedocs.

[2017-11-26 16:03] JPPhoto commented on #1290
I should also say that, as I think was mentioned above, if I split up my backup instead of having multiple paths stored as a single snapshot AND if I use appropriate parent snapshots, backups happen rather quickly. So for now, I plan on doing that.

[2017-11-26 16:30] oullah commented on #1383
B2 is known to have limited bandwidth per connection, I've seen this same issue with other backup software as well. The solution is always to use multiple connections to upload. I'm glad I found this thread because I didn't know about the `b2.connections` option. Where are all the options documented?

[2017-11-26 21:12] wlonkly commented on #1444
I saw that 0.8.0 was out today so I gave that a try. It no longer OOMs immediately after the scan.

Memory usage does seem to still increase more than I'd expect to see during the backup, though, here's an every-minute sample during the first 10 minutes of my backup of 25GB of data to S3.

[code]

But this isn't S3-specific, I can get the same behavior backing up to B2. Do you think that's worth o

[2017-11-26 21:14] fd0 commented on #1444
It's a known issue, I have several ideas how to mitigate it, but no work has been done in this direction so far. You can try setting the `GOGC` variable to make the garbage collector more aggressive, by default it's set to 100 so you can try 20 (less is more aggressive). But the underlying problem here is that restic keeps too much information in memory, in this case probably the information about

[2017-11-26 21:14] fd0 commented on #1444
I'd like you to close this issue, is that okay with you?

[2017-11-26 21:15] wlonkly commented on #1444
Sure thing, the S3-related issue here is definitely resolved!

[2017-11-26 21:15] #1444 closed

[2017-11-27 00:40] RobertoGongora commented on #1261
I'm getting closed pipes errors when trying to use DO Spaces, I'm not sure if it's related:

[code]

[2017-11-27 12:52] fd0 commented on #1408
Since there wasn't any feedback I'm going to close this issue for now, please feel free to add further comments. Thanks!

[2017-11-27 12:52] #1408 closed

[2017-11-27 12:54] rawtaz commented on #1408
Oh I wish GitHub didn't send a separate e-mail for the close and one for your comment, but instead sent ONE e-mail with both close information and the comment..

[2017-11-27 17:17] abraithwaite opened #1448 "Homebrew Restic now in Homebrew"
Looks like github.com/restic/homebrew-restic was removed without any mention in the release notes.

Also, link to installation notes is broken from github pages: https://restic.github.io/#installation

http://restic.readthedocs.io/en/v0.7.3/installation.html

http://restic.readthedocs.io/en/latest/020_installation.html

Thanks for the great work!

Might also be worth keeping around the old repo wi

[2017-11-27 18:04] fd0 commented on #1448
Uh, ah, you're right. I'm sorry, I'll restore the repo, and add a note to it. Do you maybe know if we can publish a Formula there which prints a warning?

[2017-11-27 18:14] abraithwaite commented on #1448
No worries!  I'm not sure what the standard process is for deprecating or moving taps is since I'm just a user.  This is what the error looks like:

[code]

Yep, that's how I found out it had merged into mainline.  The link to the installation is broken from pages now, due to the new `020_` prefix (presumably for sorting).

[2017-11-27 18:15] fd0 commented on #1448
Indeed, it would've been good to mention that in the changelog. Can you try again? I've reinstated the repo, added a warning in the readme and archived it (so it is read-only).

[2017-11-27 18:15] #1448 closed

[2017-11-27 19:41] rienafairefr commented on #1383
I second the solution with b2.connections, from 0.5 to 15 MB/s is a nice relief :-)

[2017-11-27 21:09] #1318 closed

[2017-11-27 21:09] #1411 closed

[2017-11-27 21:13] naffit opened #1449 "Add option to lower amount of output from 'forget' command"
## Output of `restic version`
restic 0.7.3
compiled with go1.9 on windows/amd64

## How did you run restic exactly?
RESTIC_REPOSITORY=L:\restic\files
RESTIC_PASSWORD_FILE=<file>
restic_0.7.3.exe forget --prune --keep-last 112 --keep-daily 30 --keep-weekly 52 --keep-monthly 24 --keep-yearly 10

## What backend/server/service did you use to store the repository?
Local networkdrive (L:)

## Expected

[2017-11-27 23:22] RobertoGongora commented on #1261
As far as I know DO Spaces is free right now until December, so it shouldn't be an issue to create a test account just for this

[2017-11-28 07:24] fd0 commented on #1411
Thanks for your contribution!

[2017-11-28 08:28] fd0 commented on #396
The section in the manual should also mention `CACHEDIR.TAG` and link to http://www.brynosaurus.com/cachedir/

[2017-11-28 13:40] jobcespedes opened #1450 "unable to create lock in backend: repository is already locked"
## Output of `restic version`

[code]
## How did you run restic exactly?
[code]

## What backend/server/service did you use to store the repository?
local to an external usb drive

## Expected behavior

Restic to have error handling and correct previous backup.
After new successfully backup, no message of **"unable to create lock in backend: repository is already locked by PID..."**
A way to repai

[2017-11-28 14:18] jobcespedes commented on #1450
Hi,

I didn't know about ```unlock```. After using it, I could run check, rebuild-index and prune. Maybe it is a good idea to have it in the doc. I still don’t know how to proceed with check errors. Should I forget the snapshot and run a backup again (150GB)?

When I run ```rebuild-index``` I still get errors when ```check```
[code]

[2017-11-28 14:33] jobcespedes commented on #1450
```prune``` took care of remain "not referenced in any index" when ```check```. To sum up:
[code]

[2017-11-28 14:33] #1450 closed

[2017-11-28 14:55] fd0 commented on #1450
Hey, glad you figured it out. restic will hint at the `unlock` command when a stale (=old) lock is detected.

[2017-11-28 16:46] fengb opened #1451 "Restic prune failed and asked me to create an issue"
## Output of `restic version`

[code]

## How did you run restic exactly?

[code]

Output:
[code]

## What backend/server/service did you use to store the repository?

Backblaze B2

## Expected behavior

Prune does not error out.

## Actual behavior

[code]

## Steps to reproduce the behavior

I've been running nightly backups for awhile on `v0.7.1`. Yesterday I made 2x manual backups to test out

[2017-11-28 20:33] CurtWarfield commented on #1383
Restic definitely has potential but not sure if it is ready for prime time yet especially with Backblaze.
When I back up to Backblaze B2 with duplicity it is blazingly fast.
--------------[ Backup Statistics ]--------------
StartTime 1511881648.02 (Tue Nov 28 10:07:28 2017)
EndTime 1511881650.63 (Tue Nov 28 10:07:30 2017)
ElapsedTime 2.60 (2.60 seconds)
SourceFiles 10915
SourceFileSize 7991047699

[2017-11-28 20:59] fd0 commented on #1383
@CurtWarfield can you please retry with [rclone](https://rclone.org/) and report back?

[2017-11-28 21:40] kurin commented on #1383
@CurtWarfield 2.6GiB/s to B2 seems kind of high.  Can you confirm this is for a dataset that is not already partially backed up?  It takes longer than 2.5s for me just to walk a stat directory tree of about that size.

If duplicity really is getting that kind of performance I would like to run some tests.

[2017-11-28 21:55] CurtWarfield commented on #1383
No kurin, that speed with duplicity is on a re-sync with no new data.

I just ran a new 570MB directory backup to B2 using rclone as requested. The new backup took 10 minutes total which seems quicker than with restic.

[2017-11-28 21:57] kurin commented on #1383
Are the restic backups listed also resyncs?

[2017-11-28 22:01] CurtWarfield commented on #1383
yes kurin. Only takes duplicity 2.6 seconds for a re-sync and restic on Azure takes 8 seconds and restic on B2 takes 23 seconds.
I just checked the B2 re-sync with rclone. rclone is more in line with the Azure performance.

2017/11/28 16:58:20 INFO  :
Transferred:      0 Bytes (0 Bytes/s)
Errors:                 0
Checks:              2781
Transferred:            0
Elapsed time:        8.7s

[2017-11-28 22:02] linsomniac opened #1453 "Memory consumption is high"
## Output of `restic version`

restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?

restic backup -o b2.connections=5 --one-file-system --exclude /tmp --exclude /var/tmp --exclude-file /etc/restic/excludes / /data /var /home /tmp

## What backend/server/service did you use to store the repository?

Backblaze B2

## Expected behavior

"Reasonable" memory consumption.

[2017-11-28 22:07] kurin commented on #1383
Okay, gotcha.  I'm not an expert on restic internals (I'm here for B2 muckery).  I think there's performance to squeeze out of the actual data transfer but that wouldn't help for your examples.

However, your examples probably do highlight the most common use case, which is backing up a dataset that is 95%+ unchanged, with lots of small files.  It would be nice if restic could quickly identify and

[2017-11-28 22:10] kurin commented on #1383
We should probably split this into two bugs, one being specific to B2 bandwidth, the other being restic handling unchanged data (if that doesn't already exist).

[2017-11-28 22:11] CurtWarfield commented on #1383
It does skip the files, it's just takes restic 12 times longer on B2 than duplicity does.
Unfortunately the initial backup is also slow too. Even using the b2 connections options.

[2017-11-28 22:12] CurtWarfield commented on #1383
The B2 bandwidth is still too slow using restic, not just for handling unchanged data but for the initial backup too.

[2017-11-28 22:22] kurin commented on #1383
Do we have any data on how long it takes Duplicity to talk to B2?  570MB in 10min is ~8 1mbps, which is already in line with the speeds I see from restic to b2 today.

[2017-11-28 22:28] CurtWarfield commented on #1383
I'm going to run the same test for a new back up with duplicity and post results here.

[2017-11-28 22:34] kurin commented on #1383
Thanks!

[2017-11-28 22:48] CurtWarfield commented on #1383
The proof is in the pudding !!!!
So I backed up the same directory from my server to the SAME B2 bucket using restic and duplicity.
Restic actually took about 12 minutes to back up

Duplicity only took 4 minutes to back up the same directory to the same B2 bucket
Last full backup date: none
Reuse configured PASSPHRASE as SIGN_PASSPHRASE
No signatures found, switching to full backup.
--------------

[2017-11-28 22:55] CurtWarfield commented on #1383
Running my backup script the 2nd time on the B2 bucket was again so much faster than restic. So it's not Backblaze that is slow. Out of all my cloud services I use, Backblaze is quicker than all of them. That includes AWS and Google Cloud.

Last full backup date: Tue Nov 28 17:37:34 2017
Reuse configured PASSPHRASE as SIGN_PASSPHRASE
--------------[ Backup Statistics ]--------------
StartTime 1511

[2017-11-28 23:07] kurin commented on #1383
That's ~20Mbps, which is totally achievable today in restic with B2 (I just got 750Mbps from a GCE instance on a single large file).

I believe most of this is in restic's handling of directory trees.  But that doesn't account for the difference between Azure and B2.

[2017-11-29 07:42] fd0 commented on #1383
@CurtWarfield sorry for not having asked this earlier: Which version of restic did you use in your tests? What's the output of `restic version`?

The background is that with restic 0.8.0 which was released just a few days ago we've added a local cache for metadata. Before that (e.g. with restic 0.7.3) it would by default query the B2 API for each directory it encounters, at least for non-initial b

[2017-11-29 10:33] unclesamwk opened #1455 "logpath for logoutput"
Hey,

an very nice feature was an logpath and some logging features.

```restic -r xyz backup ~/home --log /tmp/job1.log```

greetings
Sam

[2017-11-29 13:56] addos commented on #1383
@fd0 pretty sure he is using 0.8.0. It will be interesting to see what it does when he uses the build from the master branch.

[2017-11-29 15:13] CurtWarfield commented on #1383
Hello,
Yes I am using 0.8.0 :-)

[2017-11-29 17:48] fd0 commented on #1383
Hm, I've had at least one integration test on Travis fail due to a too slow B2 backend test, so I suppose something at B2 is/was wrong.

[2017-11-29 21:07] CurtWarfield commented on #1383
I would like to switch all my backups from duplicity to restic but B2 is too slow right now :-(

[2017-11-30 01:28] CurtWarfield commented on #1383
Just did some more testing. Duplicity and rclone all about the same on AWS, Google Cloud, Azure, and B2. It's only B2 that has slow restic performance. So far now I need to stick with either duplicity or rclone for my B2 buckets. But for my AWS and Google cloud I can convert to restic.

[2017-11-30 01:39] oullah commented on #1383
How many b2 connections do you have restic configured to use?

On Nov 29, 2017 8:29 PM, "Curt Warfield" <notifications@github.com> wrote:

[2017-11-30 01:40] CurtWarfield commented on #1383
I've tried everything from 1 to 500

[2017-11-30 03:51] swalladge opened #1456 "Retain original directory structure"
Currently the behaviour seems to be the following - with:

[code]

warns that there was a filename collision and will end up with files `NAME` and `NAME-1` in the snapshot.
I'd like to be able to use a flag that tells it to keep the directory structure so that the snapshot will contain `path/to/some/file/NAME` and `another/path/to/different/NAME`.

My use case is wanting to up backup a selection o

[2017-11-30 04:46] pvgoran commented on #1456
This problem (and development of a solution) is already tracked in #549.

[2017-11-30 05:37] swalladge commented on #1456
Thanks! Closing as duplicate. :)

[2017-11-30 05:37] #1456 closed

[2017-11-30 18:00] fd0 opened #1457 "Bad performance with the s3 backend and DigitalOcean Spaces"
We've received several reports that restic performs badly with DigitalOcean Spaces using the s3 backend:
 * https://github.com/restic/restic/issues/1261
 * https://twitter.com/roberttt1005/status/935957537089900550
 * https://www.digitalocean.com/community/questions/spaces-and-restic-0-7-3

I've contacted DO and they were so nice to provide credit for a test account that we can use to debug the pe

[2017-11-30 18:01] fd0 commented on #1261
I've created #1457 to track debugging the performance issues with Spaces. I've also contacted DO and they provided credit for a test account to test with.

[2017-11-30 18:08] RobertoGongora commented on #1457
If it helps, I can help test any commit with my problematic folder, I have over 71GB of WordPress uploads and when I try to upload them the connection gets dropped.

[2017-11-30 18:10] fd0 commented on #1457
@RobertoGongora Can you try reproducing the dropped connections with a small part of that folder? And when you can reproduce it, can you please rebuild restic and create a debug log ([instructions](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)) and attach it to the issue? Please make sure to replace any sensitive details included in there (authentication tokens, pass

[2017-11-30 18:25] harshavardhana commented on #1457
@fd0 anything particular you want me to take a look at?

[2017-11-30 18:37] fd0 commented on #1457
I'm not sure yet, it seems I'm unable to reproduce the performance issues. I've created a new Space in the ams3 region (Amsterdam/Europe), and I'm able to backup just fine with about 5MiB/s (my whole upstream bandwidth here at home).

[2017-11-30 18:39] harshavardhana commented on #1457
I guess the problem is perhaps throttling by digitalocean end on some large requests.

[2017-11-30 18:45] fd0 commented on #1457
I think it's a good idea to collect exact use cases where the performance is bad. So you if you've experienced it, please leave a comment including the following details:
 * restic version (output of `restic version`)
 * Which location did you choose for the Space? New York or Amsterdam?
 * What did you specify as the repository location for restic (exactly)?
 * What was the size of the data to be

[2017-11-30 19:04] kurin commented on #1383
@CurtWarfield can you paste the invocation and output of restic for each service?

[2017-11-30 19:10] RobertoGongora commented on #1457
- restic version (output of restic version)
[code]

- Which location did you choose for the Space? New York or Amsterdam?
`nyc3`

- What did you specify as the repository location for restic (exactly)?
`s3:nyc3.digitaloceanspaces.com/redacted/`

- What was the size of the data to be saved?
`71.481 GiB in 1155753 files, 303 directories`

- What is the (rough) upstream bandwidth?
`Around 38MiB/s`

I

[2017-11-30 19:13] fd0 commented on #1457
@RobertoGongora I've added a few questions, can you add your answers?

[2017-11-30 19:16] kurin commented on #1383
Oh wait I see you have one from Azure above.

[2017-11-30 19:18] RobertoGongora commented on #1457
@fd0 done.

[2017-11-30 19:26] fd0 commented on #1457
@RobertoGongora Thanks. The debug log is odd, and I can't make sense of it. It looks like restic does its job and uploads stuff, then the process receives SIGPIPE ("broken pipe") and shuts down, it even removes the lock file from the repo. I'm not sure why it receives SIGPIPE (there's no pipe at play here, at least not in the traditional Unix sense)...

I've just witnessed the same effect here, sa

[2017-11-30 19:34] RobertoGongora commented on #1457
I added the debug log for a subset of the uploads folder, but the gist got a little messed up so I'll link the raw files instead:

Full log: https://gist.githubusercontent.com/RobertoGongora/9ffe7837b001d3c0439037996bb368e3/raw/35f33cb76efadd7f42f9433410dbc5604a0f32d8/restic-debug.log

Subset log (gzipped):
https://gist.github.com/RobertoGongora/9ffe7837b001d3c0439037996bb368e3/raw/aa30ec63bf2c37d

[2017-11-30 19:50] HerrmannHinz commented on #1457
@fd0 i'm the DO issue guy. i never replied myself there but we got it working.
see: https://github.com/appscode/stash/issues/189 - (restic 0.7.3 WAS working)

i can check if it is still working for me with the latest restic version later today.

[2017-11-30 19:51] beardicus commented on #1457
- **restic version (output of restic version)**
  multiple. different errors so far w/ `restic 0.7.3` and `restic 0.8.0 (v0.8.0-23-g812ce4bf)`

- **Which location did you choose for the Space? New York or Amsterdam?**
  New York

- **What did you specify as the repository location for restic (exactly)?**
  `s3:nyc3.digitaloceanspaces.com/bucketname`

- **What was the size of the data to be saved?*

[2017-11-30 19:57] fd0 commented on #1457
Ok, I think I got it, and I'm reliably able to reproduce it with 20 connections (`-o s3.connections=20`) with a Space in New York from a machine in Germany.

My analysis so far:
 * Restic saves data to the Space via HTTPS
 * At some point, the server resets the connection, I'm able to observe this with tcpdump
 * The socket dies, restic receives the signal SIGPIPE ("broken pipe"). That was unexpec

[2017-11-30 20:07] pmkane opened #1458 "Allow repository path to be passed in from a file, instead of passed explicitly via CLI or an environment variable"
Currently, the only ways to pass a repository path to restic is explicitly with -r or via the RESTIC_REPOSITORY environment variable.

For users using the rest-server, however, this presents security problems similar to those discussed in https://github.com/restic/restic/issues/278.

By using ps or ps e, non-trusted users on a machine being backed up could discover the basic authentication credent

[2017-11-30 20:13] fd0 commented on #1457
Further observations, including the `504 Gateway Timeout` error:
 * When restic saves data and receives a 504 response, it retries saving the file
 * The Space server then responds that the file already exists, it is not overwritten
 * That is not handled well by restic:
[code]

This is then retried several times (without success), and finally restic gives up:
[code]

[2017-11-30 21:05] rawtaz commented on #1458
I think it's not a bad idea, it wouldn't pollute the options very much. The repository URL and the password are two of the most fundamental things needed for restic to run, and since there's a `--password-file` it makes sense that there's a `--repository-file` as well, regardless of use case. It would seem "complete" in a way :)

[2017-11-30 21:13] fd0 commented on #1457
I've pushed two commits to the branch `improve-s3-do-spaces` which disable SIGPIPE handling, and removes a file before a retried save is attempted. Can you compile restic in the branch (`go run build.go`), try it and report back?

[2017-11-30 21:24] RobertoGongora commented on #1457
@fd0 I switched to that branch and build restic and the backup seems to be working now, it hasn't crashed in a relatively long time (around a minute or so).

It's reporting some errors but it is not crashing.

[code]

[2017-11-30 21:28] armhold commented on #1457
I had no idea about getting a SIGPIPE for a TCP reset, so my bad for introducing that bug.

I think that cleaning up the lock for shell typos (gh-1413) is kind of a "nice to have", but perhaps not worth complicating the code to disable SIGPIPE on particular TCP sockets?

[2017-11-30 21:29] fd0 commented on #1457
@RobertoGongora Nice so far. The `broken pipe` errors is what the process gets when the server forcefully resets a TCP connection (with a TCP RESET packet).

@armhold don't worry, bugs happen. I've reverted the SIGPIPE handling, and I agree with your assessment. I googled around for a bit and it seems it's possible to fiddle with setsockopt in Go, but it does not seem trivial. So we'll leave SIGPI

[2017-11-30 21:30] fd0 commented on #1457
Ha, the Spaces web UI throws errors at me, at least the error page is rather cute:
![2017-11-30-222728_1143x717_scrot](https://user-images.githubusercontent.com/123276/33455970-1523fbd4-d61e-11e7-984a-aabdffd27f2f.png)

[2017-11-30 21:56] armhold commented on #1457
Hmm, this got me wondering how this worked at all before introducing my SIGPIPE handling. Why was the program not killed for TCP resets before?

The answer is that Go does some special handling of SIGPIPE based on whether the file descriptor is 0/1 vs some other fd: https://golang.org/pkg/os/signal/#hdr-SIGPIPE

[2017-11-30 22:18] jgannondo commented on #1457
Hi Alexander - if it's not too much trouble, could you email me directly
(jgannon @ do.co) with your userid and any other logging info you might
have in the browser? Thanks.

On Thu, Nov 30, 2017 at 4:30 PM, Alexander Neumann <notifications@github.com

--
John Gannon
Product Manager, Spaces
jgannon@digitalocean.com
------------------------------
We're Hiring! <http://grnh.se/wkhqrx1> | @digitaloce

[2017-12-01 08:52] fd0 commented on #1457
Not at all, I've sent you an email.

[2017-12-01 14:34] xulongwu4 commented on #1338
I used the new release to backup a directory of several hundred GB using the sftp backend. The second backup is much faster now. I think this issue can be closed. Thanks.

[2017-12-01 20:53] fd0 commented on #1457
I've merged #1459 into master, can you please retry and report back?
You can find compiled binaries of the restic master branch here: https://beta.restic.net/?sort=time&order=desc , starting at `v0.8.0-27-g5d4110d2` the improvements are in.

[2017-12-01 23:59] rfc1036 opened #1460 "Feature request: snapshots diff"
It would be very useful to be able to list the metadata (not files content) differences between two snapshots, to better understand e.g. what needs to be excluded from backups.

(This is a feature of rsnapshot.)

[2017-12-02 01:04] eblau commented on #1457
Is this SIGPIPE issue restricted to S3 and DigitalOcean backends? The fix looks like it was made in generic code. I'm hitting what seems to be the same issue with B2:

[code]

[2017-12-02 08:52] fd0 commented on #1457
The fixes are generic and also work for the B2 backend.

[2017-12-02 14:37] fd0 commented on #1338
Thanks for the feedback, I appreciate it.

[2017-12-02 15:19] fd0 commented on #1457
So, the two errors I can see from the outside are: Reset connections (with TCP RESET), and a 504 Gateway timeout. I've received word that there's a limit of 250 requests per second, after which the service should return 503. It looks like we're onto something different here.

I've taken the time to reproduce the issue using only DO infrastructure and [fakedatafs](https://github.com/restic/fakedata

[2017-12-03 09:02] fd0 commented on #1427
Fine with me, go ahead with a PR. At the moment, the progress callback functions aren't installed when `--quiet` is passed.

[2017-12-03 09:03] fd0 commented on #1430
Thanks for the report. Can you reproduce the issue (fresh repo, first backup works, second backup shows the errors)? Does it happen every time?

[2017-12-03 09:06] fd0 commented on #1432
Thanks for the report. No, you're not the only one. The reason is that the progress bandwidth you're seeing does not really reflect what's going on. At first, restic reads data and creates new files to be uploaded to the repo. That's the phase when it seems to be very fast. Then it starts uploading the data, which takes some time. During that time, creating new files to upload stalls, so the overa

[2017-12-03 09:06] #1432 closed

[2017-12-03 09:31] qyz commented on #1460
Yes, that would be marvellous. I am missing a connected feature: Especially the size difference between snaphots would be tremendously helpful for me. First of all to answer the question: "Why is the backup taking hours instead of minutes?" The useful metric here would be to see amount of data, that is in one snapshot but not the other.

I'm trying to backup my family's systems to cloud storage ov

[2017-12-03 12:25] fd0 commented on #1460
I have a little treat for you: PR #1462 (branch `add-diff`) adds a command `diff` which allows comparing snapshots:
[code]

Please have a look, try it, and give us feedback :)

[2017-12-03 14:02] qyz commented on #1460
Cool, thanks. But I could not get the build from `add-diff` to work on my saved snapshots.

[code]

Maybe I have caught a bad version from master a few days ago. I don't speak Go, but the changes in `add-diff` do not look like they could bust functionality in other commands.

Baby is waking up. Maybe I will find time to look into this tonight and try the 0.8.0 release against my snapshots.

[2017-12-03 14:28] rfc1036 opened #1463 "Should ignore UNIX domain sockets"
## Output of `restic version`
restic 0.8.0
compiled with go1.9.2 on linux/amd64

## How did you run restic exactly?
[code]

## Expected behavior

```~/.ssh/``` contains some UNIX domain sockets. They should not be backed up since the listening programs will just create them again when needed.

## Actual behavior

The sockets are not restored by ```restic restore``` but they are in the repository:

[2017-12-03 16:12] fd0 commented on #1463
Good point, thanks!

[2017-12-03 16:16] fd0 commented on #1463
I'll fix the display in the fuse mount, I'm not sure what to do with sockets. I think it may sometimes be nice to view what sockets were present in a directory, and what the ownership and access modes were. What's your opinion on that?

[2017-12-03 16:25] rfc1036 commented on #1463
There is no point at all in backing up UNIX domain sockets since they cannot be restored, or else bind(3) would fail because the file already exists: in the best case they would just be deleted again when the program creating them is started.
In my experience people do not manually change the permission of a UNIX domain socket after it has been created, so I see no value in this even as "documenta

[2017-12-03 16:25] fd0 commented on #1463
Thanks for the explanation.

[2017-12-03 16:40] fd0 commented on #1463
#1465 correctly handles all cases where sockets (and other types) are displayed/used. Ignoring them from being archived requires more work.

[2017-12-03 17:25] #1463 closed

[2017-12-03 17:28] qyz commented on #1460
Alright, I was bitten by

[code]

After used the S3 Management Console to move everything from `/restic` to root within bucket, the `add-diff` branch works for me, but needs a lot of time: ~85 minutes in my setup. I must admit that my setup does not exactly have a low latency to the S3 bucket: I am in Central Europe, the bucket is in North Virginia:

[code]

[2017-12-03 17:29] fd0 commented on #1460
I'm sorry, you probably ran into this (quoting from `CHANGLOG.md`):

 * The s3 backend used the subdir `restic` within a bucket if no explicit path
   after the bucket name was specified. Since this version, restic does not use
   this default path any more. If you created a repo on s3 in a bucket without
   specifying a path within the bucket, you need to add `/restic` at the end of
   the reposi

[2017-12-03 17:33] fd0 commented on #1460
@qyz Did you run `restic prune` with 0.8.0 or newer yet? Because afterwards the cache (added in 0.8.0) will become fully effective. In addition, we've fixed a bug with the cache just today, and I've only just rebased the `add-diff` branch to master.

So, if you retry now (maybe after running `restic prune` over night) it should be much faster.

[2017-12-03 17:42] FiloSottile opened #1466 "Handle SIGPIPE gracefully"
The SIGPIPE issue in #1457 will occur for all backends, it's just that some are... less reliable than others ;)

The problem is that registering a SIGPIPE handler removes the Go runtime logic that only crashes on SIGPIPE on fd 0/1/2, and not on SIGPIPE caused by i.e. TCP connection resets.

https://github.com/golang/go/blob/78074f6850c34a955d69f578e363d1d3f3e00e25/src/os/signal/doc.go#L91-L110

Th

[2017-12-03 17:42] qyz commented on #1460
I will try that. Thank you!

[2017-12-03 18:03] FiloSottile commented on #1466
@fd0 you're right, the best thing to do is to always ignore the signal, and do complete error handling + cleanup on EPIPE (or any other non-Timeout) errors from stdin/out/err.

That's also what the runtime does.

https://github.com/golang/go/blob/415349575dec277fbadf08b9d690d07fe313b288/src/os/file_unix.go#L143-L150

[2017-12-03 18:09] fd0 commented on #1466
Good points, thanks for the analysis. I'll add an entry to the CHANGELOG now. We'll leave this issue open until writing stdout/stderr failures are checked everywhere and handled correctly.

@armhold you mentioned in #1413 that sometimes your backups fail and leave a lock file. How do you typically run restic?

[2017-12-03 18:13] fd0 commented on #1466
Done, https://github.com/restic/restic/blob/master/CHANGELOG.md#important-changes-in-0xy

[2017-12-03 18:31] qyz commented on #1460
Excellent! 16 seconds for the diff! Everything worked out as promised. Thank you very very much!

[code]

[2017-12-03 18:46] fd0 commented on #1438
Thanks for the suggestion. While it would be nice it'll add a considerable amount of code and complexity.

[2017-12-03 18:48] fd0 commented on #1449
Good point, thank for raising it!

[2017-12-03 18:50] fd0 commented on #1451
Thanks for the report. This is not really a restic issue, since the underlying cause was that you've hit your caps at Backblaze. I'm going to close this issue for now, please feel free to add further comments. Thanks!

[2017-12-03 18:50] #1451 closed

[2017-12-03 18:54] fd0 commented on #1453
Thanks for the report. We're aware that restic uses way too much memory right now. This is tracked in #979, so I'm going to close this issue for now. Feel free to add further comments. Thanks!

[2017-12-03 18:54] #1453 closed

[2017-12-03 18:55] fd0 commented on #1455
Hey, thanks for the suggestion. We don't have a clear concept for logging yet.

[2017-12-03 18:56] fd0 commented on #1458
Hm, to be honest I'd prefer implementing a configuration file, so everything gets a bit less messy.

[2017-12-03 19:14] pmkane opened #1467 "Make listPackWorkers a configuration option"
For large repositories, the hard-coded value of 10 for listPackWorkers significantly reduces the performance of commands like prune.

For example, with a current version of restic (23d7d9159739650e9e99138e3f5bb99f4e2b80ca) from master working against a 3.2TB repo in an AWS S3 bucket, this prune comand:

restic -p [path] -r s3:s3.amazonaws.com/[bucket] -o s3.connections=128 prune

takes 2.8 hours t

[2017-12-03 19:20] pmkane commented on #1458
A configuration file would be awesome (especially since I just opened a separate issue about adding another option), but since this is a security issue and mirrors https://github.com/restic/restic/issues/278, I'd like to submit a PR to add support for this as an option.  When a config file is available, I'd be happy to see the CLI option either deprecated or removed.

[2017-12-03 19:29] fd0 commented on #1467
Interesting idea, thanks for reporting it.

[2017-12-03 19:30] fd0 commented on #1458
Go ahead then :)

[2017-12-03 22:55] armhold commented on #1466
I think most (perhaps all?) of the lock situations I encountered were due to me flubbing a command line where I was piping restic output to a filter of some sort. Like this:

This results in "command not found" and also a lock not cleaned up.

[2017-12-04 05:35] jim3ma commented on #277
+1

[2017-12-04 08:47] mikhailian commented on #1432
You could also split bandwidth  progress  into upload/download.  This will also give a hint at different stages of the backup process.

Offtopic: I've seen your Brussels GDG presentation in 2016, and it's nice to see how restic is being picked up all over the world as the backup tool of choice.  Good job.

[2017-12-04 09:06] fd0 commented on #1432
Uh wow, thanks, that was a long time ago!

[2017-12-04 10:34] doudou commented on #312
Hi ...

I'm writing a high-level service (run in the background) that would provide backup using restic.

The tool uses sftp connections to do local-network backups and B2 in the cloud. Local targets are auto-detected using IP and SSH keys (e.g. do different backups at home or at work).

To achieve this, one well-working mechanism I found is to provide the backup host using an IP and the host keys

[2017-12-04 10:42] fd0 commented on #312
It's already available: You can use `restic -r sftp:host:/path -o sftp.command "ssh host -s sftp -o option=value"` to specify the command that restic runs in order to establish the sftp connection. There, you can specify arbitrary options to `ssh`.

[2017-12-04 12:16] doudou commented on #312
Great ! Thanks !

[2017-12-04 12:46] karl-gustav commented on #1348
@gransear Does it take a long time before you get the progress output? I just get the "password is correct" message and then nothing, been waiting days now...

[2017-12-04 17:02] mjbrennan99 commented on #1383
Not sure if this is helpful, but here is an additional data point
restic 0.80
built from source with go 1.92 linux/arm on rpi3 using -p 4 option

**./restic -o b2.connections=100 backup ~/bin**
Starts off with saturated upload bandwidth ( ~2-3 MiB/s) and quickly falls to 100-200 KiB/s for remainder of upload.

**_scanned 6 directories, 68 files in 0:00
[2:19] 100.00%  137.554 KiB/s  18.672 MiB / 1

[2017-12-04 18:41] pmkane opened #1470 "Parallelize prune pack rewrites"
Currently, when restic rewrites packs as part of a purge, the process is single threaded.

In an Amazon S3 environment, this results in long prune times.  For example, in our ~850k pack repository where we keep 7 daily backups from several machines, about 35k packs need to be rewritten each day.  This takes approximately 3.5 hours with a single thread.

Parallelizing this would significantly decre

[2017-12-04 20:36] #11 closed

[2017-12-04 20:36] #1460 closed

[2017-12-04 21:08] fd0 commented on #1348
@karl-gustav it should definitely not take days, hm. Can you please rebuild restic and create a debug log ([instructions](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)) and upload it somewhere? Please make sure to replace any sensitive details included in there (authentication tokens, passwords etc) before posting it. You can abort if it takes too long, the debug log

[2017-12-04 21:09] fd0 commented on #1470
Agreed, good suggestion, thanks!

[2017-12-04 23:19] timdeluxe commented on #313
Sorry for being quiet for ages.
Today i updated to the latest go version and to the latest restic version.
I also have rebuild the index.

Now the mount works excellent. I don't get the reported error anymore.

Thanks a lot!

[2017-12-05 06:56] fd0 commented on #313
Thanks for taking the time to leave feedback!

[2017-12-05 12:59] karl-gustav commented on #1348
@fd0 I'll rebuild and test as soon as I get home from work!

[2017-12-05 20:28] karl-gustav commented on #1348
@fd0 Here is a copy of the log that was produced by the debug build: https://gist.github.com/karl-gustav/9a2c5a2bb9c1d4ef0b59c581076887ac ( with personal stuff replaced by `<removed>`)

[2017-12-05 21:37] lathspell commented on #874
Adding the dedup'ed size to the snapshot meta data would
- help "checking" if the backup worked as intended
- help estimation how much longer an e.g. external USB drive lasts if the daily changes are roughly constant (and no old snapshots are removed)
- be easy to calculate (if the hash is already present, just add "0" else the filesize)

Of course if the user removes an old snapshot that size inf

[2017-12-05 21:38] fd0 commented on #1348
Hm, at the point the log ends restic is still loading and decoding index files. They should already be cached locally. Can you try re-running with `-o b2.connections=20`?

[2017-12-06 08:07] unclesamwk opened #1472 "include file"
Hey,

great restic but an feature i missing.
```--include-from file```

example structure:
/folder1
/folder2/dir1
/folder2/dir2
/folder2/dir3/dir1

example for exclude file:
/folder1
/folder2/*

example for include file:
/folder2/*/dir1

greetings sam

[2017-12-06 16:33] karl-gustav commented on #1348
@fd0 here is the log with `-o b2.connection=20`. And I had forgotten that I had done the backups as root and therefore probably couldn't use the cache as a non root user, so this time I ran it as root again. https://www.dropbox.com/s/znnfu54wffj3you/restic2.debug.log?dl=0 (136MB)

[2017-12-06 16:40] karl-gustav commented on #1348
@fd0 by chance I checked the screen session that restic was running in and now it has percentages :+1: 29% to be exact :-D

So the whole reason for the slowness was then most likely the fact that I ran `prune` as a non root user.
But does this mean that I will never be able to run the `prune` command on another computer than the one I run the backups from?

[2017-12-06 20:03] fd0 commented on #1348
Not at all. When restic is run as a different user, it should recreate the cache and get the job done. The exception to this is if the cache dir is not writable for the current user, then it prints an error (and everything will take ages). Did you run `prune` with the cache enabled before? If not, the first `prune` may take longer, the subsequent ones will be much faster (independent of the user/c

[2017-12-06 20:53] moritzdietz commented on #1472
Hi @unclesamwk please make sure to read the [Guide](https://github.com/restic/restic/blob/master/CONTRIBUTING.md) for creating an issue here.

Be sure to check which version of restic you are running.
In current version there is support for this kind of feature. Please see the documentation here: http://restic.readthedocs.io/en/latest/040_backup.html

[2017-12-06 20:59] fd0 commented on #1472
Mixing include and exclude patterns requires complex code, and we haven't implemented that yet. Its eventual implementation is tracked in #233. I'm closing this as a duplicate of #233.

As @moritzdietz already pointed out it'd be nice if you could fill out the issue template, that helps us a lot. Thanks!

[2017-12-06 20:59] #1472 closed

[2017-12-06 22:57] kurin commented on #1383
The bursty behavior there is caused by the fact that the b2 client lib buffers the output before sending it (because it has to send the sha1 hash as part of the request).  To restic, this looks like a _really fast_ connection and then a single Write() or Close() that blocks for a while.

[2017-12-07 01:56] mjbrennan99 commented on #1383
For my case it runs at line speed for exactly 45 megs and they drops speed.  I get that this is buffering, but is this a limitation of restic?

[2017-12-07 05:21] kurin commented on #1383
I don't believe so but I'm not positive.  I can say that all the tests I tried from my VPS (few large files, many small files, a medium amount of large files) were unable to produce a marked difference to B2 compared to GCS, either for fresh uploads or unchanged data.  B2 is the slower one, but it is slower by a constant amount, usually 2-5s, because roundtrips to B2 (e.g. for grabbing a lock, or

[2017-12-07 07:28] karl-gustav commented on #1348
@fd0 That's the the thing, I _don't_ get the error message when he can't use the cache, I only get the "Password is correct" message. The repo finished OK \o/ It's a bit under 300GB, and less than 10 snapshots, but I probably had a lot of aborted prunes and maybe aborted backups (and aborted cleanups from those again). I don't know when the index files are created, but if any of those things creat

[2017-12-07 14:35] addos commented on #1383
Can you clarify how this debug log is supposed to be created?

[2017-12-07 15:00] dsommers opened #1473 "Cache directory and the root user"
## Output of `restic version`
restic 0.8.0 (v0.8.0-0-gc02923fb)
compiled with go1.8.3 on linux/amd64

## Issue
When running restic as the root user to take a system backup, the default cache directory is /root/.cache/restic. I propose to use /var/cache/restic as the cache directory when restic is run as root.

## Reason
/root is often part of the root file system.  This file system might not be as

[2017-12-07 15:15] zcalusic commented on #1473
Thinking a bit about your proposition, it makes a lot of sense. /var/cache is standard FHS location for various system caches. Thanks for opening this issue.

Not to mention that I've already symlinked /root/.cache/restic to another bigger partition with more space on ALL of my restic client hosts. ;)

But, even if it's easy to symlink, sane defaults are always welcome. Probably restic could also

[2017-12-07 15:18] zcalusic commented on #1473
As always, migration is hard, @fd0, you could probably put in code that works for both locations, but for newly created repos, /var/cache would be chosen. So, restic client would first check the current /root/.cache/restic, and use that if found. Maybe another info line (not warning 😄) that would suggest user to move cache to the new default /var/cache/restic.

[2017-12-07 16:34] fd0 commented on #1473
To be honest, I'd like to leave it as is for now. Adding this requires more code and even more special cases, even checking two different cache dirs or a migration. If needed, people can easily set `XDG_CACHE_HOME` to `/var/cache` and be done with it.

[2017-12-07 17:48] kurin commented on #1383
Yes, sorry, if you are able to build from the source, checkout the "v0.8.0" tag and then follow the instructions in https://github.com/restic/restic/blob/master/CONTRIBUTING.md for building a debug binary,

  * go run build.go -tags debug
  * DEBUG_LOG=/tmp/restic-debug.log ./restic [...]

Be aware that the logfile will have sensitive information including auth tokens.  Run `sed -i -e '/Authorizat

[2017-12-07 19:34] dsommers commented on #1473
That approach is fine when only considering non-admin users running backups.  But once starting to use this for system wide backups, where the backup tools needs to be run as root to have access to all files being backed up, this will be a growing issue.

[2017-12-07 23:43] RobertoGongora commented on #1457
@fd0 After rebuilding with the new changes, I was able to complete the backup and a snapshot was created (About 71G of data) -- but just to be sure I ran "./restic check" and it took some time but at the end it reported a critical error because some packs didn't exist (I'm assuming those are the ones that 504'd).

This was a few days ago so I don't have the logs on me anymore, but if it helps I ca

[2017-12-08 13:34] fd0 commented on #1457
Can you paste the output of the `restic check` run? Or re-run it?

[2017-12-08 20:55] fd0 commented on #1348
Index files are created during backup, even when the backup is aborted. So I'm glad you figured it out.

Thanks!

[2017-12-08 20:55] fd0 commented on #1348
I'm going to close this issue for now, @gransear can you please test again with 0.8.0? The first `prune` will be slow, the next ones will be much better. Please report back if prune is still very slow. Thanks!

[2017-12-08 20:55] #1348 closed

[2017-12-08 21:13] fd0 commented on #1363
For released versions, I prefer that you use the official binaries from the GitHub Releases page, at least if that is accepted for a Snap package. This allows users to verify that the binary is the right one. For "devel/-git" packages (I don't know if that's a thing) you better build the binary for the package.

[2017-12-09 15:25] rawtaz commented on #510
Should have been `restore --stdout` instead of `dump`, to be coherent with `backup --stdin`.

[2017-12-10 13:06] dstosberg commented on #1473
Just a note on the side: If you are on Linux, you don't have to run `restic` as root to make a full system backup. Yes, restic needs to be able to read all files, but it does not need any of the other privileges that root has. On Linux you can assign that specific single capability to the restic binary and run it as an ordinary user:

[code]

Starting at this point, the restic user can backup the

[2017-12-10 16:45] jojomi commented on #1473
@dstosberg @fd0 Might be interesting to document this for everyone? :-)

[2017-12-10 23:06] advanderveer opened #1477 "S3 fails on Buckets with permissions scoped to prefixes"
Thank you for this great piece of software! I've run into an issue on S3 Buckets with tightly controlled permissions.

## Output of `restic version`
[code]

## How did you run restic exactly?
env (I cleared all other variables):
[code]

[code]

[code]

## What backend/server/service did you use to store the repository?
hosted s3

## Expected behavior
I created the bucket by hand and tightly contro

[2017-12-11 08:25] kgraefe commented on #313
I just ran into the same issue with restic 0.7.3 and 0.8.0 when using the following script to update my fritzbox config:

[code]
This is on a fresh repository so there shouldn't be any files besides `/config/fritzbox.export` in there.

Since the Fritzbox export files are encrypted as well, I might even be able to share the restic repo with you. (I have to double-check that.)

[2017-12-11 08:33] kgraefe commented on #313
I am on Debian too:

[code]

[2017-12-12 12:12] fd0 commented on #313
Oh, interesting. The filename is not supposed to contain slashes, that is the error. Can you create a new issue about it? Thanks!

[2017-12-12 22:30] kgraefe opened #1480 "Input/output error when browsing repository containing files with slashes created with --stdin-filename"
When a backup is created using the `--stdin-filename` option and the filename contains slashes, the file cannot be restored with `mount` and `dump` driving the backup useless (I guess?).

`restic` should either support directory paths for `--stdin-filename` (not sure if that makes sense) or at least error out on creation.

The issue can be reproduced with:
[code]

Versions:
[code]

[2017-12-12 22:35] kgraefe commented on #1480
I guess it makes sense to support directory paths as that can be used to easily locate the origin of the file (`/etc/issue` in my example).

[2017-12-13 07:32] fd0 commented on #1473
Great idea, anyone up for a PR? :)

[2017-12-13 18:49] fd0 commented on #1480
This is definitely a bug, thanks for the report. As the first step I'd like to restrict the `--stdin-filename` to file names only, without directories.

[2017-12-14 18:25] fd0 commented on #1477
Thanks for the report, we can indeed handle the situation better.

[2017-12-14 18:36] #1480 closed

[2017-12-15 12:23] turalus opened #1484 "Restoring to a completely new server"
This is not issue or bug. Just asking if this feature available or not.

Let's say following situation happened:

Server that is getting backed up by restic is under attack or attacked. And local repo is unreachable.
Is it possible to restore from remote (origin) into a completely new server?

[2017-12-15 12:31] rawtaz commented on #1484
Restic isn't bootable in itself, so you need to boot something that can run restic, and then run restic from that. Since restic works on OS X, Linux, Windows, etc, this should be fairly straight forward. You can use any Live OS or similar, for example. You just need the restic binary, which you can either download from https://beta.restic.net/ or cross-compile yourself using Go (let us know if you

[2017-12-15 12:34] rawtaz commented on #1484
PS: This type of question is a better fit for the forum at https://forum.restic.net/ 👍

[2017-12-15 13:49] turalus commented on #1484
@rawtaz  I never mentioned booting it. All I want to know it, how to initialize local repo and pull last backup from remote repo in a new server?

[2017-12-15 14:22] rawtaz commented on #1484
@turalus No, I did.

I'm not sure I understand what you're trying to say. What local repo are you talking about? When you use restic to back something up, you initialize *one* repo(sitory). That repo may be remote (e.g. SFTP, Minio, S3, etc), or it can indeed be a local one (e.g. on local disk). Either way, there's just one repo for your backup (in the normal case, you can of course do multiple ba

[2017-12-16 08:51] ronopitz opened #1485 "restic 0.8.0 on windows - s3 invalid backend"
## Output of `restic version`

restic 0.8.0 - (binary on Windows 10)

## How did you run restic exactly?

set AWS_ACCESS_KEY_ID="***"
set AWS_SECRET_ACCESS_KEY="***"
set RESTIC_REPOSITORY="s3:http://10.100.10.140:9001/backup-laptop"
set RESTIC_PASSWORD="***"
c:\Programme\restic\restic init
create backend at "s3:http://10.100.10.140:9001/backup-laptop" failed: invalid backend

## What backend/serve

[2017-12-16 09:23] peperunas opened #1486 "Panic when uploading to BackBlaze B2"
## Output of `restic version`
[code]
## How did you run restic exactly?

**First** config:
[code]

**Second** config:
[code]
## What backend/server/service did you use to store the repository?
BackBlaze B2

## Expected behavior
The backup is executed correctly, with no errors.

## Actual behavior

Crash related to **first** config:
[code]

Crash related to **second** config:

[Click me!](https://p

[2017-12-16 11:22] peperunas commented on #519
I may be a bit late to the discussion but I created some systemd units you can find [here](https://github.com/peperunas/configs/tree/master/restic).
These are my restic config files, they may be useful for someone.

[2017-12-16 14:27] fd0 commented on #1485
I'm guessing that the double quotes (`"`) work different than on Mac/Linux, because they seem to be part of the value. Can you try again without them?

[code]

[2017-12-16 14:41] fd0 commented on #1486
Huh, that's odd, it looks to me like a system failure (memory maybe?). If you can reproduce the issue, can you try with `GOTRACEBACK=system` set? We may need to escalate this to the Go developers...

[2017-12-16 15:27] n0npax commented on #536
seems hubiC just works with the swift endpoint. I was able to create and restore a backup from the hubiC using authentication based on tokens.
I exported `OS_STORAGE_URL` and `OS_AUTH_TOKEN` and set `--repo` like:
``` -r swift:https://lb1.hubic.ovh.net/v1/AUTH_<SOME_NUMBERS> ```

[2017-12-16 15:35] ronopitz commented on #1485
Thanks for the hint. It works perfect.
Windows is not my preferred os.

[2017-12-16 15:35] #1485 closed

[2017-12-16 17:44] luminoso commented on #21
So, according to @viric lzbench link, the most appropriate compressor is one that doesn't slow down backups (high compression speed?, >200 MB/sec), that actually has a good compression ratio (>=50), right?

So, I've filtered out the results from the ordered-by-ratio table.

I've also done a _quick_ search for Go implementations (that's why I've kept them in the table). Strikethrough means that I'v

[2017-12-16 17:50] ThomasWaldmann commented on #21
guess you want lz4 and zstd, if any. we also use these for borgbackup.

[2017-12-16 18:21] peperunas commented on #1486
Started another run with `GOBACKTRACE=system` set.

I found nothing in `dmesg` and I will run `memtest86` as soon as possible.

[2017-12-16 20:19] dkm commented on #596
For info, here's what happens with restic 0.8 on an up to date synology DS212j (DSM 6.1.4-15217 Update 3). Message are not exactly the same as above, but the fix is the same, so most likely the same issue. Adding this so that searching for the error message also sends people here.

[code]
Using absolute path fixes the issue.

[2017-12-16 21:35] viric commented on #21
BUT zstd is very tunable with one single integer, from lz4 speed to better
than xz compression. That would make happy users of dense slower
compression and those of fast compression. Not to mention that zstd
decompresses very fast, regarless of the compression effort.

lz4 is quite narrow purposed.

On Sat, Dec 16, 2017 at 09:50:49AM -0800, TW wrote:

--
(Escriu-me xifrat si saps PGP / Write ciphe

[2017-12-16 21:59] luminoso commented on #21
Well.. according to https://github.com/restic/restic/issues/21#issuecomment-250983311 of keeping restic dependency free, zstd isn't an option, for now. Also, there are a few threads about patents/licensing issues.

As for xz and high compression ratios, even for the lower compression settings, according to the table, the fastest compression is about 15MB/sec.

If the requirement for fast backup is

[2017-12-16 22:05] ThomasWaldmann commented on #21
@viric zstd is not quite lz4 speed.

but if one would want to have just one compressor rather than multiple, zstd is more flexible.

[2017-12-17 01:38] alphapapa commented on #21
Forgive my lateness.  Some comments:

No, it's not necessary to compress at hardware-accelerated AES speeds.  Compression is about trading time for size.  It's completely expected that compressed backups will take longer.

For example, rather than using restic on my personal backups, I'm still using Obnam, because on one of the small servers I store them on, if they were not compressed, they would

[2017-12-17 09:06] peperunas commented on #1486
Two other panics, unfortunately.

Here are the logs:

[Click](https://paste.pound-python.org/show/S9Rjq1Z9DU5c5uYZP4wo/)

[2017-12-17 10:14] fd0 commented on #536
Oh, that's nice, thanks for the feedback!

[2017-12-17 10:14] fd0 commented on #1485
I can relate to that very well ;)

[2017-12-17 10:21] fd0 commented on #1486
It may be a DNS resolution problem, no DNS response packet should crash the Go runtime (in the stdlib) in this way. I'll ask the Go developers what we can do here.

[2017-12-17 10:47] peperunas commented on #1486
I confirm I had a very short power outage this night. This lead to the
(possible) DNS resolution error.

2017-12-17 11:21 GMT+01:00 Alexander Neumann <notifications@github.com>:

--
*- Giulio*

[2017-12-17 11:07] fd0 commented on #1486
Maybe, but that cannot explain the crash in the garbage collection function. Would you mind running `memtest86` for a while?

[2017-12-17 18:07] ametzler opened #1487 "Documentation for exclude patterns needs improvements (more examples)"
Hello,

## Output of `restic version`
restic 0.8.0
compiled with go1.9.2 on linux/amd64
Hello,
as a first time user I have a hard time finding out how exactly --exclude works. The docs are very terse.

**Experimenting found the following specifics:**
Matching is against a complete pathname component (subdirectory name or filename) (foo does not match xfoo, it matches /1/2/foo, /foo/1/2 and /1/foo/

[2017-12-17 18:40] fd0 commented on #1487
Thanks for taking the time to report this. It's actually a duplicate of #396, there you can find several issues with examples. I haven't had the time yet to distill these into the docs.

I'm closing this issue as a duplicate.

[2017-12-17 18:40] #1487 closed

[2017-12-17 18:41] fd0 commented on #1487
Especially, #1005 has many examples.

[2017-12-17 18:47] legrostdg commented on #1356
Same problem here!

[2017-12-19 01:50] alistek commented on #1457
Hello,

I am running into the same problem that Roberto was running into above. I have compiled a debug version and ran `restic check` on that. I am also running this against DO Spaces and the latest available version against master. The debug version is also compiled against master and GO 1.9.2.

The following is the output before I `ctrl-c` to end it as it was taking a very long time. Perhaps it

[2017-12-19 07:19] fd0 commented on #1457
@alistek you can try running `restic check` again while limiting the number of concurrent connections to the server via `-o s3.connections=3` (default is 5). If that still shows errors, you can try running `restic -o s3.connections=3 rebuild-index`, then run `check` again.

I'm not entirely sure what's going on. After a successful backup (and regularly in between) restic writes "index files" which

[2017-12-19 15:25] olistrut opened #1489 "No intermediate snapshots on large uploads"
## Output of `restic version`
0.8.0
compiled with go1.9 on linux/amd64

## How did you run restic exactly?
 /usr/local/bin/restic  -r b2:[repoName] backup [directory]
Backing up to a Backblaze repository from a local HDD

## What backend/server/service did you use to store the repository?
B2

## Expected behavior
With a very large initial or incremental back (in this case: ~1.5TB over a 5Mbit/s up

[2017-12-19 16:01] peperunas commented on #1486
@fd0, done a few `memtest`'s rounds and I got 758k errors. 😭
I removed the defective module and I'm stress testing my server with 3 concurrent backups (2 remote, 1 local).

I will let you know as soon as they finish / fail!

[2017-12-19 16:14] rawtaz commented on #1489
I'm sorry if I'm a bit sceptic, but why should work be spent implementing this, when you can easily back up individual parts of the total you want to back up, to effectively get the same thing done? It's a one-time thing.

[2017-12-19 16:41] brodul commented on #21
Added 10$ bounty for a :beer: :)

[2017-12-19 18:04] mikeburr opened #1490 "" Invalid authorization token" trying to create repo on B2"
I'm having problems setting up a B2 repository for restic.

## Output of `restic version`
$ cat /etc/os-release
NAME="Ubuntu"
VERSION="17.10 (Artful Aardvark)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 17.10"
VERSION_ID="17.10"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/

[2017-12-19 19:03] alistek commented on #1457
@fd0 I've been trying the various things that you suggested and somewhat figured out the following.

On 200k files and 21gb, it appears just too much for DO Spaces to handle right now in terms of initial upload. It takes about an hour to back that up using `s3.connections=1` (even 3 is too many). It works better (less 504 timeouts) but they still creep in.

Running a check, I still get a lot of th

[2017-12-19 19:37] fd0 commented on #1486
Nice, thanks for the feedback! Try to see the positive side: You found the bad memory before it caused any serious issue.

And you're not alone, that's about the fifth case of bad hardware exposed by restic.

[2017-12-19 19:37] #1486 closed

[2017-12-19 19:54] fd0 commented on #1489
Thanks for reporting this. While the idea seems to be nice, there are several problems with it. Among others, what should be contained in these intermediate snapshots? After the backup, they need to be removed again.

There are two things that you can do:
 * What's already implemented is that restic regularly (at least every five minutes or so) writes intermediate index files which list the files

[2017-12-19 19:54] #1489 closed

[2017-12-19 20:02] fd0 commented on #1490
Hey, we had this issue already a few times, e.g. in #1425. Can you please report back what the output of the following command is:
[code]

[2017-12-19 20:03] fd0 commented on #1490
Oh, I just saw that you've got one of the variable names wrong: `B2_ACCOUNT` instead of `B2_ACCOUNT_ID`...

[2017-12-19 20:18] fd0 commented on #1457
No, sounds good so far. Just make sure to run `restic check` regularly so that you are warned when something is wrong.

No, but we have plans to include that into the output of `check`, so that you can easily see which files are affected.

[2017-12-19 20:26] olistrut commented on #1489
Thanks for responding so promptly.

I understand that all data is on B2 even in case of an interruption and will not be uploaded again. This was one of the first things I have tried and it has worked like a charm.

I think what is confusing me is that no matter how much I have already uploaded, if I were to suffer local data loss before the full initial backup completed, there would be no way for

[2017-12-19 20:31] fd0 commented on #1489
Thanks for the additional explanation!

[2017-12-19 20:41] rawtaz commented on #1489
@olistrut The problem is that even if you could do what you want, i.e. look at a snapshot of what restic had uploaded so far, this would be of limited value because you haven't been in control och which files/directories were prioritized. Even if you list the things to back up in order of importance on the command line when backing them up (assuming you don't just backup one single folder), you mi

[2017-12-19 21:13] mikeburr commented on #1490
That was indeed the problem. Many thanks for the quick response!

[2017-12-19 22:32] peperunas commented on #1486
Sad news: another panic.

Full log (including last crashes): [here](https://paste.pound-python.org/show/VgXk0IbgYDpzXMevUeUi/)

Ideas?

[2017-12-19 22:48] rawtaz commented on #1486
Have you run memtest again to verify that all of your current memory is 100% good? If not, that might be a good idea.

[2017-12-19 23:08] peperunas commented on #1486
Done that, that's why I restarted my backups. :(

-- Giulio De Pasquale

On Dec 19, 2017 11:48 PM, "rawtaz" <notifications@github.com> wrote:

[2017-12-19 23:24] rawtaz commented on #1486
Okay, it wasn't clear to me that you had run memtest *after* removing/replacing faulty memory, to make sure that the current (possibly newly added) memory is good. I assume you have, though.

[2017-12-19 23:28] peperunas commented on #1486
Yes, I am sorry I was unclear about that.

-- Giulio De Pasquale

On Dec 20, 2017 12:24 AM, "rawtaz" <notifications@github.com> wrote:

[2017-12-20 07:08] fd0 commented on #1457
No, the retry code first removes the file again (if it was there in the first place), and re-uploads it from scratch.

That's not implemented yet. restic has all the data to do that (diff a snapshots against a directory/list of directories).

What's the error? 504 Gateway Timeout again?

[2017-12-20 07:14] alistek commented on #1457
Ah thanks for the clarification, that helps a lot.

Sorry, I should have said what the error was. Occasionally I get a "pack doesn't exist", but rarely. Right now it looks like the strategy of making smaller snapshots is working well. I'll basically end up with about 60 snapshots a night for the backups across servers.

Do you foresee an issue with that man? Is there an upper limit or a good pract

[2017-12-20 11:22] harshavardhana commented on #1457
@fd0 if you are interested I have a test DO droplet running minio which can be used to test if any networking issues that exist on spaces or in general everywhere on DO. If you are interested in accessing this server please ping me your SSH keys can give you access.

[2017-12-20 12:33] fd0 commented on #1457
@harshavardhana thanks a lot for the offer, DO provided a bit of credit to test these things already, so I've got plenty of droplets to test from ;)

I've researched the issue a bit and it seems to be the service, not the network.

[2017-12-20 14:00] fd0 commented on #1486
I'm really sorry that you're having so much trouble running restic. It still smells like a hardware issue, both crashes are in the Go standard library at different places. In both cases, it's a segmentation fault with strange addresses:
[code]
and
[code]

I don't know what we can do here, and apart from running memtest (which you already did) I don't have more ideas. Sorry for that.

[2017-12-20 14:28] rawtaz commented on #1486
@peperunas What are the system specifications? Is it in a basic configuration or have you tuned anything, overclocked, etc? Is there any part of the system that gets very hot during these backup runs?

[2017-12-20 14:31] peperunas commented on #1486
@fd0, no worries!

@rawtaz, I am using a Lenovo T530. No overclock or any other hardware
modification. I haven't noticed any surface that gets very hot. I will try
to run the same backup (same files, same configuration) on another PC.

Il 20 dic 2017 15:28, "rawtaz" <notifications@github.com> ha scritto:

@peperunas <https://github.com/peperunas> What are the system
specifications? Is it in a basi

[2017-12-20 17:07] #1490 closed

[2017-12-21 07:23] tamalsaha opened #1492 "S3 api calls for buckets in regions other than us-east-1"
Restic does not allow users to tell the `region` for s3 buckets. Say, I want to store backup in a bucket in us-west-2 region using restic. Does that mean every request gets redirected (resulting in twice the number of http requests)?

I am referring to https://github.com/minio/minio-go/blob/0306684c438ecbb3aab0532016f25d8aad07dd75/api.go#L428

@harshavardhana

[2017-12-21 08:56] fd0 commented on #1492
As far as I understood the code, minio-go once queries which region the bucket is in, and then uses the correct endpoint directly.

[2017-12-21 10:10] JackBlackmore commented on #884
resurrecting an old issue but are you sure you don't want to add a donate button? :) After playing around with a few backup solutions previously this has turned out to be EXACTLY what I was after and the amount of time you seem to be putting in answering issues alone deserves admiration!

Thank you so much for this man, it's massively appreciated!

[2017-12-21 13:00] mschiff commented on #526
Are there any news on this? I deployed restic 0.7.4 to about 130 systems all backing up to one repo. What looked very promising at the beginning now looks like being unusable to me: After several days of doing backups the repo grew to about 1TB of repo data. Now restic is eating so much memory on backup that systems start failing because the linux OOM-killer starts killing random processes on vari

[2017-12-21 15:44] harshavardhana commented on #1492
Yes region is cached upon a lookup . There is no redirection

[2017-12-21 16:06] fd0 commented on #1492
Ok, so we can close this issue. Thanks for the clarification!

[2017-12-21 16:06] #1492 closed

[2017-12-21 18:27] fd0 commented on #526
No news directly, but I'm making good progress with reimplementing the archiver. That's the next step.

[2017-12-21 18:48] tamalsaha commented on #1492
Thanks for the quick response, folks! I am using the AWS SDK for one of our repos directly and it seems that we have to provide the region correctly for AWS sdk to work correctly with buckets in non us-east-1 region.

[2017-12-21 21:24] k3a commented on #21
🍺++

Here is a link to the BountySource if someone else would like to contribute
[![badge](https://api.bountysource.com/badge/issue?issue_id=6096108)](https://www.bountysource.com/issues/6096108-implement-compression)
https://api.bountysource.com/badge/issue?issue_id=6096108

[2017-12-22 01:20] tamalsaha commented on #21
I wonder if this can be implemented in a user configurable manner so that choice of speed vs size left to the user to decide. I would prefer higher compress as a default.

[2017-12-22 06:11] hardikar commented on #555
@fd0 You might also like to consider using the style that rsync does, which I feel is more concise :
[code]
https://linux.die.net/man/1/rsync

Also noticed that I'm reviving an old issue, not sure if it has already been implemented in some way, I wasn't able to find `--prefix` or ` --strip-components` in the code.

[2017-12-22 09:56] rawtaz commented on #555
I second that (again) - the rsync style of controlling the "target" part of the path is really really good. I used it many times with good success.

[2017-12-22 10:00] fd0 commented on #21
Let's decide when we get there. For the record: I'm fine with giving the user a bit of control in terms of speed vs. size.

[2017-12-22 23:05] pmkane commented on #1470
Just an additional data point -- a repository with 399,318 packs (2,945,147 blobs) with 719,021 duplicate blobs (403.384 GiB duplicate) -- has been in the "rewriting packs" phase of prune for 39 hours and is only 54.22% done.

Host running restic is beefy (i3.xlarge) and is in the same AZ as the S3 bucket it is backing up to, so latency/throughput isn't the issue.

[2017-12-23 09:13] fd0 commented on #1470
I'll see what I can do short-term.

[2017-12-23 11:57] lingej opened #1495 "Sort Output of "restic find" by snapshot date"
## Output of `restic version`

restic 0.8.0 (v0.8.0-55-g95b6e4e9)
compiled with go1.9.2 on linux/amd64

## Actual behavior

`restic snapshots` show alle snapshots orders by date
`restic find` shows all found files but not ordered by snapshot date

## Expected behavior

 - Output should be sorted by snapshot timestamp.
 - Add snapshot id to long output of `restic find -l ` if possible

[2017-12-23 17:52] amenk opened #1496 "[discussion] Google Archival Cloud - Coldline storage"
I am searching for a cheap offsite storage and have read

Backend: Amazon Glacier #541

to find out that glacier is not very suitable.

What about GCS coldline [1] storage? Is that more suitable from the pricing? Is anybody using it and can estimate prices?

The pricing modle seems to be a bit easier than glacier, but still not very transparent.

I think it is about estimating how many class A / c

[2017-12-23 18:29] ametzler commented on #396
How about the attached patch? I think it covers all the major points, much of the wording is copied from your comments in the bug-reports.
[more-examples.diff.txt](https://github.com/restic/restic/files/1584358/more-examples.diff.txt)

[2017-12-24 04:41] ifedorenko opened #1497 "option to check subset of repository data blobs"
## Output of `restic version`

    restic 0.8.0
    compiled with go1.9 on darwin/amd64

## How did you run restic exactly?
`restic check --read-data`

## What backend/server/service did you use to store the repository?
any remote backend

## Expected behavior
I have 50Mbps Internet connection and 1TB remote backup repository.  I'd like to be able to check a subset of data blobs for few hours ever

[2017-12-24 10:55] fd0 commented on #396
Would you mind submitting a pull request? :)

[2017-12-24 14:39] alphapapa opened #1498 "--exclude-if-present seems missing from docs"
The `--exclude-if-present` option to the `backup` command seems to be missing from http://restic.readthedocs.io/en/latest/

[2017-12-24 14:54] ametzler commented on #396
Sure, see #1499. HTH. I have read over CONTRIBUTING and I think I have done the necessary. If I missed something please tell me.

Merry christmas, BTW. ;-)

[2017-12-24 15:43] akalin opened #1500 "Panic during Save"
## Output of `restic version`

[code]

## How did you run restic exactly?

I ran a script which basically does:

[code]

Here's the output:

[code]

## What backend/server/service did you use to store the repository?

Backblaze's B2.

## Expected behavior

No panic.

## Actual behavior

Panic, as described above.

## Steps to reproduce the behavior

Not sure if there's an easy repro, probably trig

[2017-12-24 19:39] spanezz commented on #533
I wish there was a `--password-script` as a `--password-file` equivalent that read the password from the standard output of a script. Or maybe just `--password-file '!script'`, where the file is executed if it is prefixed with a `!`.

That way I could have a script that does something like `gpg --decrypt restic.gpg` that would then work with `gpg-agent` so that a sequence of restic invocations (sa

[2017-12-24 19:51] rawtaz commented on #533
Specifying stdin with arguments/options that take a file is usually done by specifying stdin as `-`. In this case it would be `--password-file -`. It's quite common in the UNIX/Linux world.

[2017-12-24 20:04] fd0 commented on #533
@spanezz there's no need to implement that in restic, as it is provided by your shell:
[code]

Calling restic in this way, the shell starts `gpg` and provides restic with a pipe that it can read like a file.

[2017-12-24 20:11] #396 closed

[2017-12-24 20:15] spanezz commented on #533
@fd0 nice idea!

It looks like there is too much magic going on, though, at least on `restic init`, which works if `--password-file` points to a file, but not if it points to `/dev/stdin` or `/dev/fd/nn`:
[code]

[2017-12-24 20:16] fd0 commented on #396
Thanks! :)

[2017-12-24 20:18] fd0 commented on #533
Yeah, `init` is a special case, that indeed does not work. We could fix the code to support it though.

[2017-12-24 23:24] alphapapa opened #1502 "Daemon to monitor changes in real-time and run restic"
Having used CrashPlan and Obnam for a while, I'm very impressed by Restic.  When it gains compression (and optionally disabled encryption), I think it will be a great alternative (for the software, not the backend service).

One of the nice things about CrashPlan is its real-time service that watches for changes to backup sets (using e.g. inotify on Linux) and runs the actual backup every so often

[2017-12-24 23:32] rawtaz commented on #1502
This is something I always thought about as well (I too used CrashPlan briefly), but honestly I haven't felt the need with restic, as you say it's very fast.

[2017-12-25 04:01] ifedorenko commented on #536
FYI, I started to work on hubiC backend (https://github.com/ifedorenko/restic/tree/hubic). Mostly copy&paste authentication logic from [SVFS hubic.go](https://github.com/ovh/svfs/blob/v0.9.1/svfs/hubic.go), then let existing Swift backend do the rest. Appears to work in my limited testing on Linux and OSX.

If somebody wants to try
1. sign up for hubiC free account
2. register hubiC application an

[2017-12-25 12:15] fd0 commented on #536
@ifedorenko Is this needed? @n0npax reported that restic works with hubiC with the Swift endpoint, didn't that work for you?

[2017-12-25 12:52] ifedorenko commented on #536
Swift tokens generated by hubiC expire in 24 hours. While it is possible to tell the users to script token request&renewal themselves, I think it is better to have restic do it automatically. (Note that the proposed change implements hubiC authentication only, everything else is delegated to existing swift backend implementation).

[2017-12-25 12:59] ifedorenko commented on #536
Actually, for operations that run longer than 24 hours, like `restic check --read-data` I mentioned in the other issue, restic will have to implement token renewal.

[2017-12-25 15:29] vovcacik commented on #536
@ifedorenko the token renewal is must have, at least for automated backups. I've already mentioned this, but Rclone got has this sorted out, including token renewal.

[2017-12-25 15:55] ifedorenko commented on #536
My proposed change does handle token renewal.

[2017-12-27 14:53] alphapapa commented on #1502
Thinking about this a bit more, I think it does need support in restic, because restic needs to use the same set of paths for each backup run without actually scanning them; it needs to do this so that the new snapshot will have the same paths and be considered the next snapshot of the same paths.  It needs to do this while receiving the list of actual files to backup from another source, so it do

[2017-12-27 23:43] rawtaz commented on #1502
@alphapapa Why can't you just have it create a snapshot with whatever files and directories in it that were changed (in a consolidated format of course)? For example, every time it runs, it could be done as if you manually asked it to back up those top-level items that changed manually.

Yes, there will be many snapshots with many different files and directory names, but so what? They will just te

[2017-12-28 02:06] alphapapa commented on #1502
@rawtaz If you did that, you would suffer data loss when forgetting and pruning snapshots:

1.  Snapshots are grouped by path.
2.  You can manually group snapshots by tag instead.
3.  If you do this, you will lose data when you forget snapshot B which contains files from directory Z which are not present in snapshots A and C.

This is the same issue Obnam has: it allows you to backup different set

[2017-12-28 02:09] rawtaz commented on #1502
It works if you combine it with "full" runs regularly, and/or tags to control which snapshots you forget. But sure, I see what you're saying.

[2017-12-28 02:10] alphapapa commented on #1502
Now you're talking about moving from a snapshot model to a full/incremental backup model, which is taking us back to the previous generation of backup software.  If that's what you're after, you can already have that with, e.g. Duplicity.

[2017-12-28 02:16] rawtaz commented on #1502
I really am not. But whatever you say.

[2017-12-28 02:21] rawtaz commented on #1502
Perhaps an alternative solution to reach the goal you are seeking is to implement some type of `--include` and/or `--include-file` (that supports stdin) in restic, that makes it only process the files in the include. That way an external process dealing with filesystem notifications can run restic and tell it which files to process (out of those in the files/folders you list for the snapshot).

[2017-12-28 02:47] alphapapa commented on #1502
That's what I proposed in the first message.  The issue is that restic must merge the "included" files (including removing deleted ones) with the previous snapshot.  Each snapshot must be complete or it's no longer a snapshot.

[2017-12-28 03:40] nixguru opened #1506 "Potential issue or different implementation with --limit-upload"
When uploading data (at least to B2) using --limit-upload 90 (in kB), data flows are bursting to sometimes 1MiB/s or higher, with long delays typically between each large burst.

I suspect the --limit-upload was done by averaging upload data over time.  That would result in 90kB/s over time, but there is no rate limiting of the actual upload itself in real time.  Is this a correct understanding of

[2017-12-28 19:49] fd0 commented on #1506
Yeah, thanks for bringing this up again. We're aware of the issue, which is on the boundary between restic and the library (blazer) we're using to access B2.

[2017-12-28 22:54] MatthewVance commented on #1496
I've been using Google Cloud Storage as my backend. It's been cost effective for my needs. The thing with AWS and GCS to keep in mind when using their less expensive storage tiers is reads and the like are more expensive. What I do is backup to a local repo and then have a cron job to sync the repo to cloud storage. Within GCS, I have a lifecycle policy that tiers the data down as it ages. I can r

[2017-12-28 23:14] rugk opened #1508 "Encryption documentation very hidden"
I looked at this project for the first time and it was hard to find the encryption details, which is something I always look at in such a kind of projects.

## Actual behavior

I finally found it in the references doc with the search funtcion, but that was hard. On the intro page it just mentions that it dopes it "safely". That is okay to day, but it does not mean anything. As a user I want to see

[2017-12-28 23:15] rugk opened #1509 "Add to Wikipedia"
BTW one should add this project to https://en.wikipedia.org/wiki/List_of_backup_software.

[2017-12-28 23:42] rawtaz commented on #1509
I just did. Not a fan of the "Last updated" column, but well, it is there so I filled it out. Didn't create a link for the Package column, because there's currently no Wikipedia page for restic and I'm not sure what they're like to put in quotes for it.

[2017-12-29 07:12] ifedorenko opened #1510 "Microsoft OneDrive storage backend"
I'd like to propose adding MS OneDrive storage backend support. They are priced fairly competitively with 1TB for USD70/year and I think it is possible to use their "5 user 5TB" USD$100/year plan with some tweaks too. I plan to have working implementation in next few days (all existing storage backend tests pass but I haven't tested with real data yet). I can open pull request if there is interest

[2017-12-29 08:35] fd0 commented on #1510
Hey, what's the current state of the "client secret" for OneDrive? Does software need such a secret (and does it need to be kept secret)?

Before merging a new backend, we must find solutions for:
 * Is it suitable for saving backup data? There was the drama with Amazon Cloud Drive and rclone (for details see #212) that we need to avoid.
 * Does the authentication (e.g. oauth) workflow support run

[2017-12-29 08:40] fd0 commented on #1509
Cool, nice idea! I think we can close this issue, thanks @rawtaz!

[2017-12-29 08:40] #1509 closed

[2017-12-29 11:33] fd0 commented on #1508
Good idea, thanks

[2017-12-29 11:34] fd0 commented on #1496
Thanks for the explanation (and the link to the forum). I'll close this issue for now, please feel free to add further comments. Thanks!

[2017-12-29 11:34] #1496 closed

[2017-12-29 11:51] fd0 commented on #1506
This will be addressed in #1511, which limits the bandwidth at the `http.RoundTripper` layer.

[2017-12-29 11:56] fd0 commented on #1506
You can try the branch `improve-http-limiting`

[2017-12-29 11:59] fd0 commented on #1500
Thanks for taking the time to report this! Errors are not yet handled sufficiently in 0.8.0, and backblaze sometimes just closes the connection or so. We're working on it.

Upgrade to 0.8.1, and restic will retry the requests (but still panic if the request did not succeed after some time). I'm going to close this issue for now (we're aware of the issue), please leave feedback whether it works wit

[2017-12-29 11:59] #1500 closed

[2017-12-29 12:41] rugk commented on #1509
Great, just for the reference: On https://en.wikipedia.org/wiki/Comparison_of_backup_software it is already there.

[2017-12-29 12:54] rawtaz commented on #1509
@rugk I'm preparing a Wikipedia page about restic. Once it's published (requires review and acceptance, so it can take some time), I'll add it to the comparison you linked to above.

[2017-12-29 14:42] ifedorenko commented on #1510
I can't speak for Microsoft and don't know how they feel about using OneDrive as a backup backend. They did have [their own little drama about unlimited accounts couple of years ago](https://blogs.office.com/en-us/2015/11/02/onedrive_changes/?eu=true) but their current website does not appear to be hostile to "file storage" usecases. (Amazon Cloud Drive, on the other hand, very explicitly does not

[2017-12-29 16:32] rawtaz commented on #1509
I have now created a draft article at https://en.wikipedia.org/wiki/Draft:Restic - please provide any feedback you have, preferrably with suggestions on what to add.

[2017-12-29 18:17] addos opened #1512 "Windows backups restore with wrong permissions on linux"
## Output of `restic version`
restic 0.8.1
compiled with go1.9 on linux/amd64

## How did you run restic exactly?
restic -r myrepo restore id -t directory

## What backend/server/service did you use to store the repository?
usb flash storage

## Expected behavior
When restoring a directory, it should have the necessary permissions set to be able to create files and subdirectories in the directorie

[2017-12-29 19:36] weiss opened #1513 "Optionally suppress warnings"
It would be nice if there was a way to suppress warnings (by specifying `-q` twice or whatever).  I don't want my backup cron job to send emails on events that can occur during normal operation (e.g. `file has changed`), while I *do* want to be notified of actual errors.

[2017-12-29 19:57] #1506 closed

[2017-12-29 23:45] rawtaz commented on #1509
FWIW, I've added more text.

[2017-12-30 08:52] da2x opened #1514 "Feature-request: Source .gitignore"
So this is just an idea. I’ve got a lot of source code that I want backed up. There is a ton of non-essential reproducible build related files in between all the valuable source code. Most of it is in git, and most of the repositories knows what files are important to backup already; everything else is in `.gitignore`. I’d like to see an optional flag for `--exclude-from-gitignores` that would sou

[2017-12-30 11:48] rawtaz commented on #1509
Submitted it for review as it is now. Apparently that process can take months, so we'll see.

[2017-12-30 12:34] rawtaz commented on #1514
`--exclude-gitignores` is more coherent with the existing exclude options.

[2017-12-30 13:51] gransear commented on #1348
I'm testing it with master, 0.8.0 was useless because of pipe broken errors, that interrupt the progress. I still can't complete purge due to one threaded nature of pack rewrites. Is it possible to at least to remember the progress of pack rewrites? Right now if I stop restic prune half-way, it will do each rewrite (and then some) again.

[2017-12-30 13:55] gransear commented on #1470
This looks like the same problem as I had in #1348. I have a large latency so it will take a week to prune.

[code]

[2017-12-30 17:09] ovalseven8 opened #1515 "Code audit for restic"
In general, I think it's always a good idea for a software to be audited . Especially for a backup software robustness and security is a sensitive topic.

However, I guess it's too early for `restic` yet. But once the software is more feature complete and the important issues are closed (for example compression) as well as 1.0.0 is reached, it's the right time for an audit in my view.

Of course,

[2017-12-30 17:11] rawtaz commented on #1515
Not a bad idea, and I completely agree we should wait a while to get more of the planned features in place before an audit is done.

Meanwhile, do you know about https://blog.filippo.io/restic-cryptography/ ?

[2017-12-30 20:01] rugk commented on #1509
IMHO you can already add the comparison before the main article as the colored table also already helps.

I can have a look, but I'm not familiar with restic. Anyway, I'll have a look as for general Wikipedia things and so on.

[2017-12-30 20:09] bherila commented on #527
With Google File Stream you might be able to back up restic today using just the GFS mount point?

[2017-12-30 22:40] eruffaldi opened #1516 "Metadata only repository for indexing and verification"
It could be interesting to add a modality that is not writing down "data" blob content but only metadata (trees). This would allow to use the tool for verification of filesystem or tracking without additional storage.

Possible implementation: add a "vdata" blob type without offset/length data

[2017-12-31 07:15] fd0 commented on #1516
Thanks for taking the time to suggest this feature. In my opinion, this is out of scope for restic, at least for now. So I'm closing this issue for now, please feel free to add further comments. Thanks!

[2017-12-31 07:15] #1516 closed

[2017-12-31 10:53] alecbl opened #1517 "panic: runtime error: invalid memory address or nil pointer dereference"
## Output of `restic version`
restic 0.8.1
compiled with go1.9.2 on linux/amd64

## How did you run restic exactly?
RESTIC_PASSWORD=$RESTIC_PASSWORD B2_ACCOUNT_ID=$B2_ACCOUNT_ID B2_ACCOUNT_KEY=$B2_ACCOUNT_KEY /usr/bin/restic --cache-dir=$cache_dir -r b2:$b2_bucket:/ backup $bkp_dir -e $bkp_dir_exclude -o b2.connections=10

And on the dataset in which it panics, I get this output:
panic: runtime er

[2017-12-31 14:56] Philippe23 commented on #1517
I just got this same error, also with B2 as a backend on a data set that's been backing up fine daily for weeks.

[2017-12-31 15:05] eruffaldi commented on #1516
My usage scenario is for tracking the content of external USB hard disks. Restic provides all the other features needed: history management and mounting using FUSE.

Eventually I will play with that in a fork.

Thanks and happy end of 2017!

[2017-12-31 16:13] fd0 commented on #1517
Hey, thanks for the reports. Can one of you paste the complete output from a crash? Thanks!

[2017-12-31 16:15] Philippe23 commented on #1517
Pretty much what @alecbl had above: ```
using parent snapshot ad88b6e9
scan [/home]
[2:16] 42061 directories, 865060 files, 166.977 GiB
scanned 42061 directories, 865060 files in 2:16
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x56c202]

goroutine 3231 [running]:
net.(*dnsMsg).Pack(0xc435cae780, 0x330b6a94, 0

[2017-12-31 16:39] fd0 commented on #1517
Is that all? Nothing more?

It's a panic that occurs in the Go standard library, I'm going to report the bug upstream.

[2017-12-31 16:41] fd0 commented on #1517
Can you please reproduce the issue again while capturing the network traffic with `wireshark`? That may be very helpful.

[2017-12-31 16:48] eruffaldi commented on #1516
Patch (using empty data blobs): https://github.com/eruffaldi/restic/tree/metadataonly

[2018-01-01 09:53] fd0 commented on #1516
Hm, what's your use case here exactly? It feels to me I haven't fully understood what you're trying to do.

What would be the difference to running `ls -alR`, saving the result and comparing that with e.g. diff?

[2018-01-01 11:07] alecbl commented on #1517
I can do that (wireshark). It might be done in 24h, or it might take me a week max.
Could you mention what traffic you might want/need on wireshark? If I do it with a whitelist it might save me some time than capping all and then seeing if there's anything that might be sensitive and unrelated to filter out.

Thanks!

[2018-01-01 11:26] eruffaldi commented on #1516
Using restic I can mount the offline tree of the external media hard drive browsing the structure and searching preserving metadata. Also one single restic repository allows for keeping multiple disk in a easy to manage way.

In the patch I have implemented a second different approach that skips completely the chunking of data emitting content=[] for file objects while preserving the original file

[2018-01-01 12:07] fd0 commented on #1509
You could add a bit more details for the deduplication: It uses Content Defined Chunking based on [Rabin Fingerprints](https://en.wikipedia.org/wiki/Rabin_fingerprint), https://github.com/restic/chunker has a few links.

[2018-01-01 16:43] fd0 commented on #1517
Capturing port 53 is probably enough, so the capture filter could be `port 53`.

[2018-01-02 08:55] alphapapa opened #1519 "Document handling empty forget policy"
After noticing that some files have been backed up that I don't want to be, I decided to forget all snapshots for a certain tag, but Restic won't let me:
[code]
If I use `--keep-last 1`, it offers to remove all but the latest snapshot.

This might actually be a good safety measure to prevent removing all snapshots in case of a typo, so maybe instead of changing this behavior, there should be an op

[2018-01-02 08:57] alphapapa commented on #1512
What are the permissions of the restic repository directory on the mounted USB drive?

[2018-01-02 10:08] JackBlackmore commented on #1514
Just an idea but if this was going to be implemented I wouldn't limit it to just `.gitignore` files as this feature could be extremely useful for non git directory trees.

An option for something like `--exclude-path-file=.gitignore` (really can't think of a better name) and these files would get picked up and used to generate the exclude list for everything from that directory down.

Is the curre

[2018-01-02 17:45] phillipp opened #1520 "Restore of one file (--include) reads all files in the snapshot"
## Output of `restic version`
restic 0.8.0 (v0.8.0-23-g812ce4b-dirty)
compiled with go1.9 on linux/amd64

## How did you run restic exactly?
restic -r restic-repos/areligious_shortcliffe restore -t /tmp/restic-restore --include apache2-mpm-itk_2.2.22-1ubuntu1.11_amd64.deb 633d3782

## What backend/server/service did you use to store the repository?
Local dir

## Expected behavior
Restic reads the

[2018-01-02 18:05] phillipp commented on #1520
I just discovered that it works that way I want it to, if I add a slash plus the top-level directory to the directory:

Working:
[code]

Not working:
[code]
or
[code]

I was wondering if this is my fault or if restic should warn if you don't add a slash to the include argument and therefore will ignore the include/not use it like expected?

[2018-01-02 19:51] fd0 commented on #1495
Good idea, thanks for reporting it!

[2018-01-02 19:54] fd0 commented on #1497
That's a nice idea, thanks for reporting it! We need to come up with a good partition algorithm though, to ensure that it is guaranteed that each blob is checked.

[2018-01-02 19:55] fd0 commented on #1498
Hm, you're right. That can be improved. Thanks for the report!

[2018-01-02 20:01] fd0 commented on #1513
Hm, I'm not sure I understand: When restic reports that a file has changed, it was not able to archive a stable/deterministic version of that file, so it is probably corrupt when you restore it. Wouldn't you want to be notified of that? Why not exclude the file if it isn't important to archive?

[2018-01-02 20:41] fd0 commented on #1519
Thanks for the report! You're right: for safety reasons, restic refuses to act on an "empty" policy. In this case, users can use `--keep-last 1` and remove the last snapshot ID manually (by passing the ID to `forget`).

This is not a bug, so I'm going to close this issue for now. Please feel free to add further comments, people with the same problem will find this issue.

[2018-01-02 21:05] breml commented on #536
I just tested successfully the extended version from @ifedorenko (https://github.com/ifedorenko/restic/commit/3e1a766d9afc6d7933dddf8230b978a7fec183b0). Thank you for the good work, I would like to see this change merged into restic.

[2018-01-02 22:02] brycied00d opened #1522 "HTTPS TLS Client Certificate Authentication"
I propose adding support for TLS client certificate authentication with HTTPS connections.

The change is relatively straight-forward as it only requires feeding the paths to a certificate/key pair to [`tls.LoadX509KeyPair`](https://golang.org/pkg/crypto/tls/#LoadX509KeyPair) and appending the result to [`tls.Config.Certificates`](https://golang.org/pkg/crypto/tls/#Config).

I've already written a

[2018-01-02 22:03] timdeluxe opened #1523 "Lock not found warnings on parallel restic runs"
## Output of `restic version`
[code]

## How did you run restic exactly?
[code]

As described in the title i made two runs, the first run (started a second earlier) worked just fine:
[code]
The second run obviously waited for the lock of the first one, but gave strange messages about that:
[code]

## What backend/server/service did you use to store the repository?
Linux system (Debian) with SFTP

[2018-01-03 00:30] alphapapa commented on #1519
Ok.  Should we mention this in the docs?

[2018-01-03 00:34] alphapapa commented on #1514
@JackBlackmore As you said, the gitignore glob patterns and Go match/glob patterns would have to be exactly the same.  It would be very convenient if they are.

What this is essentially asking for is a file contents-based version of `--exclude-if-present`, so maybe something like `--exclude-file-if-present`.

What I'd really like to see is a more universal standard for something like a `.backupign

[2018-01-03 03:38] mikeburr opened #1525 "TLS handshake timeout while backing up large dataset to B2"
## Output of `restic version`

$ restic version
restic 0.7.3
compiled with go1.9 on linux/amd64

## How did you run restic exactly?

(B2_ACCOUNT_ID, B2_ACCOUNT_KEY, RESTIC_PASSWORD_FILE, TMPDIR all set and exported)
$ /usr/bin/restic -r b2:xyz:def backup /path/to/large/files -e '\*\*/ghi/\*\*' (+7 more -e's)

## What backend/server/service did you use to store the repository?
 B2

## Expected beha

[2018-01-03 11:41] fd0 commented on #1519
Good idea, are you up for a PR?

[2018-01-03 11:43] fd0 commented on #1525
Hi, thanks for the report. The version of restic you're using (0.7.3) is quite old, and this problem has been addressed in 0.8.0 (#1291, #1301). Can you please retry with restic 0.8.1?

I'm going to close this issue for now, please feel free to add further comments. Thanks!

[2018-01-03 11:43] #1525 closed

[2018-01-03 16:37] alphapapa commented on #1519
Haha, sure.  Assign it to me if you would, in case I forget.  :)

[2018-01-03 17:29] dionorgua commented on #1514
I also like idea for automatic exclude of `.gitignore` / `.hgignore` or similar files. Just because they are usually already provided for free.

[2018-01-03 18:18] fd0 commented on #1519
Done :)

[2018-01-03 23:00] weiss commented on #1513
This consequence wasn't obvious to me.

From what I can tell, this is something that can happen during normal operation, and something I can't do anything about.  In this case, the notification serves no purpose for me.  But I see your point, and I'm not suggesting to suppress such warnings by default.

Well, it would be nice if those (log) files were archived.  So if I exclude them, I'd do so bec

[2018-01-03 23:23] alphapapa commented on #1519
Thanks, a bit busy right now, but I'll get to it...

[2018-01-04 15:09] thebrave commented on #1514
`tar` already has `--exclude-vcs-ignores`. From the [manual](https://www.gnu.org/software/tar/manual/html_node/exclude.html):

[2018-01-04 15:27] eliasp opened #1526 "`restic backup` hangs indefinitely after a few hundred MBs upload"
## Output of `restic version`
[code]

## How did you run restic exactly?
Using the following systemd unit:
[code]
`/etc/restic/moria/restic.env`:
[code]

## What backend/server/service did you use to store the repository?
Backblaze B2

## Expected behavior
I'd expect `restic backup` to continue its operation until it has finished uploading the snapshot.

## Actual behavior

After I already uploade

[2018-01-04 15:43] fd0 commented on #1526
Thanks for the report. I don't have any clue what's going on here. Can you reproduce the issue without running it via the service file?

If so, can you please bring restic into the state where it hangs (I suppose nothing is happening at the network level then?), and then press ^+\ (sends SIGQUIT), the Go runtime will then print a stacktrace of all running Goroutines. Maybe that gives us a clue wha

[2018-01-04 16:04] fd0 commented on #1514
There are several problems with supporting ignore files:
 * Which syntax would they be?
 * Do we support all ignore files? Then we'd need to come up with an implementation for each format
 * The code will get even more complex, the excludes are already very complex

I would be willing to merge a PR which adds this, but only if the code is readable and there are **a lot** of tests for the individua

[2018-01-04 17:06] lukastribus commented on #1514
Anyone interested in working on this may be able to get some more specific ideas from tar's implementation (given that in implements the major vcs as per @thebrave hint from the manual):
http://git.savannah.gnu.org/cgit/tar.git/tree/src/exclist.c

[2018-01-04 19:57] breml commented on #1375
I observe the same problem with hubic (OVH). I use the a version of restic I built on my own, which is based on commit https://github.com/restic/restic/commit/0247fe01c0a98df4d9d23331e57ef6b7a6c3333d (3 days old) which includes the hubic backend from https://github.com/ifedorenko/restic/commit/3e1a766d9afc6d7933dddf8230b978a7fec183b0.

[code]

I get the following errors:

[code]

Before this panic

[2018-01-04 22:00] mikeburr commented on #1525
I'll certainly try, but that might take some doing. This is on a QNAP NAS & I'm not certain if it can use the standard binaries or if I need to set up a toolchain specifically for it.

Regardless, thanks for the quick response!

[2018-01-04 23:04] timdeluxe opened #1527 "Windows: find does not work when using sftp backend via plink"
## Output of `restic version`
[code]

## How did you run restic exactly?
[code]
Needed to kill the process via windows task manager, cleanup after CTRL-C also wasnt able to finish.

"snapshots" command works

## What backend/server/service did you use to store the repository?
SFTP on remote Linux host, via plink because i want to use a key + a different SFTP port.

## Expected behavior
find files

[2018-01-04 23:15] timdeluxe commented on #1527
Additional info: Working on the remote server directly might have destroyed something, because new backups also do not work anymore.
"check" also brings the same error.
Only "snapshots" works :(

[2018-01-05 04:33] whereisaaron commented on #1455
The current output is interactive with line breaks and other stuff that doesn't suit logging or scripting. It would be nice to have some basic logging and a `--batch` switch or similar (could be automatic if `stdin` is not a tty) to output the log messages and turned off the interactive stuff. Same info, just without the line breaks :-)

[2018-01-05 04:47] whereisaaron commented on #1063
The JSON output idea for non-interactive use is a nice idea, but could it be without line breaks please? That way is also suitable for non-interactive logging output also.

[2018-01-05 06:28] fd0 commented on #1375
@breml Does restic retry the backend requests?

[2018-01-05 06:30] fd0 commented on #1525
You can either try the released binaries (we also have binaries for Linux on `arm` and `arm64`), or just cross-compile from your workstation, just use: `go run build.go --goos linux --goarch arm` (or whatever architecture that is).

[2018-01-05 06:53] breml commented on #1375
After the error messages like `Timeout when reading or writing data`, `HTTP Error: 408: 408 Request Timeout` and `HTTP Error: 503: 503 Service Unavailable` it looks like restic is retrying the backend requests, because the progress moves forward. But then later, restic fails with the above mentioned panic. In general the output of restic in my case looks the same as in https://github.com/restic/re

[2018-01-05 07:00] fd0 commented on #1375
From my point of view it looks like a backend problem. We can retry in restic (we already do that), and we could retry some more, but in general I don't have any idea on how to improve the situation. Any ideas?

[2018-01-05 07:05] breml commented on #1375
For me, to fail with a panic in general looks like a bad solution. I agree, that if there is a problem with the backend, there is not much for restic to do other to quit. But this should be done in a controlled manner with a proper error message and not with a panic.

Additionally I have the following ideas:

* Maybe the count (or the time) for the retries could be configurable via a command line

[2018-01-05 07:24] fd0 commented on #1527
Hm, that's odd. What's the backend? Maybe a NAS?

[2018-01-05 08:07] fd0 commented on #1527
This smells like a path issue, hm. Can you build restic with `go run build.go -tags debug`, then run it on Windows while setting the environment variable `DEBUG_FILES` to the value `sftp.go`? That should print all debug messages from the sftp backend implementation, maybe we see something there.

[2018-01-05 12:54] dvicory opened #1528 "Missing directories in data/ will cause backup to fail"
## Output of `restic version`
[code]

## How did you run restic exactly?

Configure for a local directory backend. Take an initial backup:

Delete all empty folders in `data/`:

Add some files in `path/to/files` and then take another backup:

You will get errors like the following and backing up won't work:

[code]

## What backend/server/service did you use to store the repository?
Local director

[2018-01-05 13:42] eliasp commented on #1526
BTW: Sending `SIGQUIT` to the process while running as service using `kill -QUIT $(pidof restic)` didn't work - systemd most likely isolates service processes from this kind of external interference.

Only later I discovered `systemctl stop --signal=[…]`.

[2018-01-05 15:51] fd0 commented on #884
To the people subscribed to this issue: While it has nothing to do with restic directly, it would mean a lot to me personally if some of you would donate to the [fundraiser of Matt Holt](https://twitter.com/mholt6/status/948687667264307200) which would allow him (a college student) to speak at a conference half way around the world. He's not only a restic contributor, but also one of the authors o

[2018-01-05 16:23] fd0 commented on #1528
Hm, I'm unable to reproduce the issue.

[2018-01-05 16:28] fd0 commented on #1528
Oh, gotcha. The bug triggers only when the local repository is specified as a relative path.

[2018-01-05 18:29] #1528 closed

[2018-01-05 18:47] fd0 commented on #1526
Ok, thanks for the feedback!

[2018-01-05 18:51] fd0 commented on #1375
For the record: I agree. It's not strictly a `panic()` (that'd look slightly different), but it's not a good user experience. I'll take care of that in #1494.

We have that, but the state is held in the repo. When the connection to the backend fails, the state cannot be updated any more. I have plans to add local state (in the cache directory), keep some kind of "transaction log" that lists the pa

[2018-01-05 19:57] FiloSottile commented on #1517
Run with env var `GOTRACEBACK=system` to see what spawned that goroutine.

[2018-01-06 08:49] alphapapa opened #1531 "FYI: restic-runner"
Hi,

Just wanted to share this script I put together to make it easier to configure Restic repos and backup sets:

https://github.com/alphapapa/restic-runner

Thanks for this great program!

[2018-01-06 10:10] rawtaz commented on #1531
This would probably be better to post in the forum.

May I ask though, what problem or use case does this solve?

It seems to me that all you specify in the config file is the very same things you'd specify on the command line, so what is the point of wrapping that in the first place?

[2018-01-06 10:15] breml commented on #1375
@fd0 thanks for the feedback, this sounds promising. nevertheless due to the slow upload speed of hubic I decided to use backblaze b2. there i do not observe any such problems.

[2018-01-06 10:28] alphapapa commented on #1531
The point is that it's easy to backup multiple sets of data to multiple repositories, with certain complex configuration consistent between them, without writing long command lines every time.  For example:

[code]

Compare to:

[code]

It also makes the `diff` command much easier to use, as well as summarizing repo size changes, etc.

I spent some time documenting it thoroughly in the readme, so

[2018-01-06 11:03] alphapapa opened #1532 "Crashes when locks directory is missing"
When the `locks/` directory is missing from a repository, Restic crashes instead of creating the directory.  This may happen if stale lockfiles exist and the user deletes the directory to clear them.
[code]

[code]

Thanks.

[2018-01-06 11:12] fd0 commented on #1532
This has just yesterday been resolved in https://github.com/restic/restic/pull/1529, so I'm closing this issue :)

[2018-01-06 11:12] #1532 closed

[2018-01-06 11:13] fd0 commented on #1532
Ah, FYI, you should not remove the lock files manually, but rather use `restic unlock` on the repo to remove stale lock files.

[2018-01-06 11:18] timdeluxe commented on #1527
Thanks to debug log i spotted the error by myself.
The activity (forget/prune) on the Linux backend rewrote the index file - while rewriting that, it changed the owner:
[code]
(i x-ed the hash to not present sensitive data)

After chowning it back to the right user all works again now. Sorry that i didn't see it from the start, on the parent level all still belonged to the correct user and i didnt

[2018-01-06 11:18] #1527 closed

[2018-01-06 11:26] fd0 commented on #1527
Ah, thanks for the feedback!

For the record: The names of the files in the repo is just the SHA256 hash of the encrypted content, that data is meant to be seen by an attacker (according to our threat model) and is not secret at all. :)

[2018-01-06 11:29] fd0 commented on #1531
Thanks for the explanation and the hint to the project, it looks nice and until we get config file support it may serve other users.

I'm going to close this issue for now, please feel free to add further comments. Thanks!

[2018-01-06 11:29] #1531 closed

[2018-01-06 11:37] alphapapa commented on #1532
Thanks.

[2018-01-06 15:35] MatthiasKauer opened #1533 ""unable to open B2 backend" but why not?"
Hi, I'm having trouble accessing my restic repo on B2.

It is kind of similar to https://github.com/restic/restic/issues/1490.
However, I am pretty sure I am not mixing up the environment variables here.

## Output of `restic version`
I tried three releases I downloaded from github.
Originally, I created the repo with 0.7.1

[code]

## How did you run restic exactly?
'sncli-latest' is a Python ven

[2018-01-06 15:45] MatthiasKauer commented on #1533
Ok, I may be mixing something up with the way I am setting the environment variables after all.
The `b2` tool appears to have its own cache and probably doesn't even read env vars.
Let me see about that some more.

[2018-01-06 15:54] fd0 commented on #1533
Hey, this is caused by the way you use the environment variables. I don't know how the Python b2 client works, but the environment variables aren't passed to subprocesses you start in the shell:

[code]

If you want to pass environment variables to subprocesses, you need to `export` them:

[code]

Does that work?

[2018-01-06 16:01] MatthiasKauer commented on #1533
Yeah, I just got there as well.
Should have known that `export` is necessary.
The b2 client really threw me off but it seems to store its parameters in a different way. Probably a file somewhere.

[2018-01-06 16:02] #1533 closed

[2018-01-06 18:47] mikeburr commented on #1525
For the benefit of anyone who runs across this thread in the future, replacing /share/MD0_DATA/.qpkg/Restic/restic with the 0.8.1 linux_amd64 binary seems to have done the trick on my QNAP TS-569L running 4.3.4 firmware.

[2018-01-06 18:57] fd0 commented on #1525
Huh, is restic somehow bundled with the qnap software? I didn't know that, but it seems there's https://www.qnapclub.eu/en/qpkg/496

How did you install restic?

And the version is pretty old, 0.7.3 was released in September 2017, the current version is 0.8.1 (released at the end of December 2017).

[2018-01-06 20:05] mikeburr commented on #1525
I installed restic from the link you referenced - it's still at 0.7.3. AFAIK the packages on qnapclub are all maintained by volunteers on a best-effort basis, so it's not unusual for them to be several months behind. The version in the default Ubuntu repos is even older (0.7.1).

[2018-01-06 20:42] fd0 commented on #1525
Ok, thanks. Maybe you can bug them somehow? The distributions are a different issue. Although we have an active Debian maintainer for our Debian packages, unstable even has 0.8.1 :)

[2018-01-06 22:31] ifedorenko commented on #1497
If `totalPartitions` is the total number of partitions and `currentPartition` is the partition to check (`0 <= currentPartition <  totalPartitions`),  then each block can be assigned to a partition by simple `(id[0] % totalPartitions) == currentPartition` check on the first byte of the block id. https://github.com/ifedorenko/restic/commit/3a91af94cfedda3c752530e93684454858db6065 implements this ap

[2018-01-06 22:51] fd0 commented on #1520
This behavior is somewhat documented in the manual: https://restic.readthedocs.io/en/latest/050_restore.html#restoring-from-a-snapshot

If you're passing restic a realtive path (or a single file name) to `--include`, it needs to traverse the whole snapshot to see if the file is maybe in there several times. If you only want a particular file, you need to pass in the absolute path (as saved in the

[2018-01-07 00:00] phillipp commented on #1520
That makes sense 100%. I agree, not a but, just a misunderstanding.

Thanks for the explanation!

[2018-01-07 00:00] #1520 closed

[2018-01-07 10:27] fd0 commented on #1522
Nice proposal, I'll have a look at the PR now.

[2018-01-07 12:22] fd0 commented on #1354
Alibaba won't let me register an account without providing a mobile phone number and credit card payment information, and I've decided I won't give that to a Chinese company. Are there any other options to get an account for integration testing? Is someone willing to sponsor such an account?

[2018-01-07 12:28] fd0 commented on #1354
Just for the record: I'm not against adding this backend, we just need to figure out the details with the test account and get the code into shape.

[2018-01-07 12:33] fd0 commented on #1512
Thanks for the report, I'm almost certain this is a bug. Can you please answer the question from @alphapapa? Can you maybe backup a sample directory with a sample file containing nothing secret, test that the issue occurs, and then zip and upload the repository somewhere (or attach it to this issue) so I can have a look? I don't have a Windows development environment...

[2018-01-07 12:36] fd0 commented on #536
As always with a new backend, we need to figure some stuff out first:
 * Is there a free (or sponsored) test account we can use to run the integration tests on Travis and do development/debugging? Without a way to test and debug stuff, we won't merge a new backend.
 * Is hubic a protocol, or a service? Is it offered by someone else besides OVH?
 * What's the additional value besides using `rclone

[2018-01-07 12:39] addos commented on #1512
fd0, I just made a test repo here. I am not sure if this one has the problem, but it is small and should be easy to test on linux. I am going to have to boot linux to see what the permissions are on the repo, but I am pretty sure it should be something like 775 since the repo is on a fat32 filesystem and won't have any linux permissions.

[2018-01-07 12:40] addos commented on #1512
[test.zip](https://github.com/restic/restic/files/1609753/test.zip)

[2018-01-07 12:42] rawtaz commented on #536
I think "who will maintain the code" and not less importantly "who will maintain the test account and other stuff needed to support code maintenance", both in the long run, are important questions too.

Even if someone were to pay for that other chinese backend you commented on in another issue, what happens if that person stops doing so at some point? We'd sit here with a backend to maintain but

[2018-01-07 12:42] fd0 commented on #1523
Huh, interesting, thanks for the report. What happens in the background is that restic creates a lock file (non-exclusive, there may be multiple clients running backup in parallel), then waiting for other locks to appear. During that time, there was a lock file present (maybe from the other process), but which was removed. The messages are just telling you that restic retries loading the lock file

[2018-01-07 12:46] fd0 commented on #1513
Okay, thanks for the feedback. I'll think about it and keep this issue open as a feature request.

[2018-01-07 12:47] tamalsaha commented on #536
At the risk of sounding crazy, have you considered adding a plugin support for restic backend? Kubernetes project uses gRPC based plugin system. Also https://github.com/hashicorp/go-plugin exists. This way user's can maintain plugin for backends outside the main repo.

[2018-01-07 12:48] breml commented on #536
@fd0 I am not an expert in regards to hubic, but still here my 2cts:

* Yes, there is a free test account with 25GB space (https://hubic.com/de/offers/)
* As far as I understand hubic it has a special authentication mechanism, but other than that it is compatible to OpenStack Swift. I guess, in this combination it is only provided by OVH.
* Additional value: The only thing I could think of is, the

[2018-01-07 12:50] fd0 commented on #536
No, you don't sound crazy and I have indeed thought about it. I'm just not finished yet ;)

I had a discussion with @ncw (author of rclone) to maybe use rclone as a backend for restic, but that's also still at the "idea" phase.

[2018-01-07 13:07] fd0 commented on #1512
Thanks for the test repo, I don't see the issue here. When I'm restoring, the directory and the file are created with 777 and 666 permissions, exactly as recorded in the repo:
[code]

The owner of the files is stored as UID 0 (which is `root` on Linux), and since I'm not running `restic restore` as root correcting the ownership fails. But apart from that I don't see any issue here.

Thoughts?

[2018-01-07 13:27] addos commented on #1512
When I am trying to restore on my linux system from the repo that has the problem it says this:

enter password for repository:
password is correct
restoring <Snapshot bf6e412e of [C:\Users\John Doe\Documents] at 2017-12-24 23:42:25.3294172 -0500 -0500 by John\John Doe@John> to a
ignoring error for /Documents: Lchown: lchown /home/ubuntu/Downloads/a/Documents: operation not permitted
ignoring erro

[2018-01-07 13:29] addos commented on #1512
When I cd to the a directory I was trying to restore to and I do a ls -l on the Documents directory it was trying to create and restore into, I see it has the following permissions:
dr-xr-xr-x 2 ubuntu ubuntu 40 Dec 20 21:48 Documents/

[2018-01-07 13:30] fd0 commented on #1512
Can you please upload a repo with test files that I can use to reproduce the issue?

[2018-01-07 13:31] addos commented on #1512
When I run restic ls -l from the snapshot id, it shows the permissions as the following:
dr-xr-xr-x     0     0      0 2017-12-20 16:48:44 /Documents

[2018-01-07 13:31] addos commented on #1512
So apparently this was restic setting the permissions in the snapshot to 555 for some reason when it took the backup on windows.

[2018-01-07 13:33] fd0 commented on #1512
Ah, thanks, then maybe I can come up with a repo myself, I'll have a look.

[2018-01-07 13:33] addos commented on #1512
I'd have to reboot back to windows again to do more testing.

[2018-01-07 13:39] addos commented on #1512
Looks like every directory I backed up on windows: Documents, Pictures, Desktop, Downloads. They all have the 555 permissions on the root directory, and some of the sub directories. Not entirely sure why restic thinks they should be 555.

[2018-01-07 13:40] fd0 commented on #1512
It's returned by `os.Lstat()` on Windows apparently, because that's what restic copies to the repo...

[2018-01-07 13:41] fd0 commented on #1512
Ok, I can reproduce it locally, just create a dir, run `chmod -R -w dir`, backup and restore that. Thanks!

[2018-01-07 13:45] addos commented on #1512
I just created a new test repo too on windows.
[test.zip](https://github.com/restic/restic/files/1609811/test.zip)

[2018-01-07 13:51] fd0 commented on #1512
Thanks! By the way, this issue is not specific to Windows. :)

[2018-01-07 16:18] #1512 closed

[2018-01-08 17:02] is opened #1537 "Wrong mode in restorer_test case #3."
https://github.com/restic/restic/blob/99f0fce67308bedf164bb04b324b92e28a206300/internal/restic/restorer_test.go#L190-L199

for non-root user, the file can not be to created in the dir with 0555 mode.
so the case will always failed in non-root user.
[code]

[code]

[2018-01-08 18:03] fd0 commented on #1537
Uhm, which commit of the restic repo is that? The branch you're working on for the concurrent restorer? I've only just yesterday added the test case, it should exactly test restoring a directory which was not writable during backup. It works with the old restorer:
[code]

This is the commit that makes it work: b8620429e27ce28c565f657359b4a93b72c42837

The new restorer must also be able to do that,