[2017-04-06 11:52] JaCoB1123 commented on #904
The client-side is secured by a Sophos Firewall. I think it acts as a proxy as well.
On the server-side there's a nginx instance running as a reverse proxy in front of minio.

minio was not logging when the error happened. I'll try to reproduce the error with logging enabled.

[2017-04-06 12:04] JaCoB1123 commented on #904
minio log only contains lines like this one:

[code]

[2017-04-06 12:49] fd0 commented on #904
Sounds like this: https://groups.google.com/forum/#!topic/golang-codereviews/Z3PJkpbTH0o

It sounds to me like the minio-go library should retry the request (at least that's what I interpret from the error message and the code linked in the mailing list thread). We've seen the same issue in #849 with nginx, but Go 1.8 has changed the http client library slightly.

You can try disabling http2 as a

[2017-04-06 15:29] yhafri commented on #869
Hi @fd0

It seems that the `find --json` is not working anymore (both 32/64-bit) :-(

Today, we tried to build restic from `trunk` (_go v1.7.3_) and the feature seems to be broken (panic crash).

Same result with the prebuilt binaries [v0.5.0](https://github.com/restic/restic/releases/tag/v0.5.0). No crash, but the result is wrong.

Try for example:
[code]

The version we're currently using and wh

[2017-04-06 15:59] JaCoB1123 commented on #904
Yep, that seems to be the problem.
Using `GODEBUG=http2client=0` I was able to complete a 25GB Backup without problems.

[2017-04-06 16:58] ibib commented on #869
I thin a own Ticket would be better.

Error: https://gist.github.com/ibib/b802eae2110cc4c5e44197c337b07e75
Error appears before password prompt.

`git bisect start

...

git bisect bad 946b4f4b86319b802d2c4f68df88400253a6fa59
first bad commit: [946b4f4b86319b802d2c4f68df88400253a6fa59] Add extended options via -o/--option
`

[2017-04-06 17:07] fd0 commented on #869
Oh, I'm sorry to hear that. It's always better to create a new issue so we can track it.

@ibib thanks for bisecting

[2017-04-06 17:15] fd0 commented on #869
#905 will fix this.

[2017-04-06 17:59] fd0 commented on #904
You can use that as a workaround until we figure out what's going on here.

[2017-04-06 18:28] harshavardhana commented on #904
This is the same issue reported twice. Will open a bug on our end and debug it further.  Btw is restic using HTTP2 forcefully ?

[2017-04-06 18:35] fd0 commented on #904
Ok, then I'll close this issue as a duplicate of #849. restic doesn't do anything to force http2. Thanks for looking into it!

[2017-04-06 18:35] #904 closed

[2017-04-07 07:53] sanmai commented on #21
So I threw my test bed one more time against [zbackup](http://zbackup.org/) with LZMA compression.
[code]
Impressive, isn't it?

Suffice to say zbackup has own set of limitations and drawbacks.

[2017-04-08 15:46] sgeisbacher opened #906 "Restore all available versions of a file"
i would like to restore all available versions (one per snapshot) of a file to easier find the version i'm looking for. i'm thinking of writing a bachelor-thesis where you snapshot your word-document every hour. and then you recognise you accidentally deleted a part sometime in the past. so i want to restore the word-doc from each snapshot to one target-directory with <filename>-<snapshotid/snapsh

[2017-04-08 16:30] ibib commented on #906
i really like the idea
some additional features for this (which can be added later):
    -restore no duplicates (different modification time).
    -target directory naming after `snapshotid/snapshottimestamp/mtime/atime/ctime` for easier search.
    -this might be a bit overkill but maybe something like `git bisect` to find the relevant version of a file.

[2017-04-09 10:08] fd0 commented on #906
You can already do that by mounting the repo to a directory.

[2017-04-10 22:36] notna123 commented on #722
hmm... made an "--exclude-file" with stuff like "C:\$Recycle.Bin" and/or "C:\$Recycle.Bin\" and/or like "C:\$Recycle.Bin\*" but seems like this is also not working...

if it's related to this discussion here, the "solution" seems to be up to you guys... see "If someone else needs their program to expand command line parameters in a particular way, they should do so" [here ](https://github.com/gola

[2017-04-10 22:38] notna123 commented on #722
pls note, seems like markdown swollows the \\'s

[2017-04-11 05:38] fd0 commented on #722
Thanks for the report. I've fixed the markdown, you can denote raw text with backticks ("`"), please review your comment.

This is a different issue, please open a new ticket. This issue is about expanding globbing in command-line parameters, you're talking about globbing patterns in an exclude file (which should work, so it looks like a bug).

[2017-04-11 10:59] fd0 commented on #722
@notna123 The problem here may be that the `c:\` isn't interpreted correctly. Could you try again with `\$Recycle.Bin`?

[2017-04-12 20:55] sgeisbacher commented on #906
yeah, but if you have 5 versions/snapshots of a file you have to mount 5 different snapshots or have i missed something? i think in such a case it would be easier for users to be able to export all to one target-directory

[2017-04-13 06:37] fd0 commented on #906
Uhm, did you try this at all? You mount a repository, then all snapshots in that repository are available as subdirs below the mount point. You can then easily inspect or copy all revisions of the file you're searching for. That's even easier that restoring and then inspecting the files. In addition, the fuse mount will only load data on demand, so there's no overhead.

At the moment I think this

[2017-04-13 06:37] #906 closed

[2017-04-13 08:05] sgeisbacher commented on #906
oh sorry, my mistake. i had in mind that you are only able to mount a single snapshot. so closing is totally ok!

[2017-04-13 16:32] zx2c4 opened #907 "one-file-system does not correctly handle sub-paths"
`/mnt/storage` is a filesystem. `/` is a filesystem. `/` has many file systems mounted underneath it, including `/mnt/storage`.

What happens if I run:

[code]

It will give me the sum total of files used on `/`, on the `/` filesystem, and of `/mnt/storage/Archives/` on the `/mnt/storage` filesystem. This is the correct behavior.

However, if I run:

[code]

Then it will backup everything in `/` *

[2017-04-13 16:53] notna123 commented on #722
Still not working... seems like it works as expected if passed via "--exclude" in the comand line BUT non of the various paths I tried in a "--exclude-file" seems to work:

 

 

C:\>C:\bin\restic -r U:\Backup\restic\C_Drive\ backup --exclude "C:\$Recycle.Bin\*" C:\  <--- OK! (with \* at the end!)
enter password for repository:
scan [C:\]
error for \\?\C:\Config.Msi: open \\?\C:\Config.Msi: Access

[2017-04-13 16:53] fd0 commented on #907
Hey, thanks for taking the time to report this. It is actually a known issue, the code responsible for `--one-file-system` is unable to handle nested mount points. I'm going to close this as a duplicate of #702, please subscribe to that issue if you want to be notified once it's resolved.

In the meantime, you could make separate backups (but running at the same time) of `/` and `/mnt/storage/Arch

[2017-04-13 16:53] #907 closed

[2017-04-13 16:55] fd0 commented on #722
Oh, indeed, this looks like an issue with the "long paths" (prefixed with `\\?\`), this is some strange windows specific path thingy, which makes everything a lot more complicated...

[2017-04-13 16:56] notna123 commented on #722
exclude via command line seems to work fine, in opposite what ever I tried in an exclude-file never worked :|
 

Gesendet: Dienstag, 11. April 2017 um 07:38 Uhr
Von: "Alexander Neumann" <notifications@github.com>
An: restic/restic <restic@noreply.github.com>
Cc: notna123 <notna@ist-einmalig.de>, Comment <comment@noreply.github.com>
Betreff: Re: [restic/restic] Implement globbing (expand *) on Wind

[2017-04-13 16:56] zx2c4 commented on #907
Hey @fd0. Thanks. Just saw that bug a few seconds before you posted. Sorry for the duplicate.

Question: if I do two separate backups, and then later, after you fix this issue, move to doing one single backup, will `--parent` still auto-populate with the identical information?

[2017-04-13 17:00] fd0 commented on #907
No big deal, I'll just close duplicates ;)

When you move to a separate backup, the first run will re-read all files, but restic will recognize that all data has already been saved in the repo, so no new data is uploaded. The next backup after that will again use a parent snapshot.

[2017-04-13 19:05] fd0 commented on #907
Could you please check if the code in #908 if that works for you?

[2017-04-13 19:14] fd0 commented on #702
There's a fix in the works over at #908, could you maybe give it a try?

[2017-04-13 20:00] #645 closed

[2017-04-13 20:00] #702 closed

[2017-04-13 20:00] fd0 commented on #702
Works, merged :)

[2017-04-14 10:40] zx2c4 opened #909 "Empty Mountpoints Are Not Backed Up"
When backing up a system with, say, `restic backup -x /`, I expect for `/dev/*` or `/proc/*` to not be backed up, since it's a different filesystem. However, I _do_ expect the base directory, `/dev`, to be backed up as an empty directory, since it resides on the parent filesystem. I realize you can't descend into covered mounts, in case an unmounted `/dev` isn't empty, somehow, but at the very lea

[2017-04-14 10:41] zx2c4 opened #910 "Nested Backups Become Unnested"
If I run: `restic backup / /mnt/storage/Archives`, when I then run `restic mount`, I expect to see:

[code]

Instead, I see:

[code]

[2017-04-14 15:25] fd0 commented on #909
Huh, you're right, these directories are not saved. This behavior is caused by the fact that calling `lstat()` on a mount point returns the stat for the root node of the fs mounted there, so it is excluded. This needs to be handled as a special case, unfortunately. Thanks for the report!

[2017-04-14 15:28] fd0 commented on #910
I can see where you're coming from. This unfortunately is the result of a (bad) design decision early on, and I'm planning to rewrite the archiving code to correct this. It is all wrong, there are many special cases that aren't covered by the current approach, so this part of restic will be rewritten. I'm going to close this as a duplicate of #549.

[2017-04-14 15:28] #910 closed

[2017-04-15 09:23] #735 closed

[2017-04-15 09:30] #818 closed

[2017-04-16 08:06] fd0 opened #914 "Design.md: Tree section has inconsistent blob IDs"
Reported by a user on IRC: The section about trees and data has inconsistent blob IDs https://restic.readthedocs.io/en/latest/Design/#trees-and-data
It's unclear where `b8138ab08a4722596ac89c917827358da4672eac68e3c03a8115b88dbf4bfb59` and `8b238c8811cc362693e91a857460c78d3acf7d9edb2f111048691976803cf16e` come from, we need to clarify the examples.

Blocked by #913: Wait for the doc restructure bef

[2017-04-16 18:05] fd0 commented on #621
I can't reproduce this error today, so I did a `git bisect` and found that it was accidentally resolved by 26da14f315fbfad09bc9e0fa10f16298fa2c0225.

[2017-04-16 18:05] #621 closed

[2017-04-16 18:10] fd0 commented on #486
Could you please report whether the latest release still does this? I haven't seen this in a while, so I'm going to close the issue for now (we can always reopen it later).

[2017-04-16 18:10] #486 closed

[2017-04-16 18:11] fd0 commented on #522
Could you please check whether this still occurs with the current master branch (or the 0.5.0 release)?

[2017-04-16 18:25] Gjum opened #915 "Empty lines in exclude-file result in empty snapshot"
## Output of `restic version`

    restic 0.5.0 (356099d)
    compiled with go1.8.1 on linux/amd64

## Expected behavior

`my-exclude`:
[code]

command:

    restic -r /repo backup /data --exclude-file my-exclude

I expect this to back up all of `/data` except `first-line` and `third-line`.

This is of course a simplified example, my real exclude files are much bigger and their readability benefit

[2017-04-16 18:32] Gjum commented on #915
Also somewhat related, as far as I can tell multiple usages of `--exclue-file` are not supported for `backup`, instead the second usage overrides the first.

I couldn't find a Github issue for that but that probably is already tracked somewhere. Just thought I'd mention that because it's also somewhat unexpected behavior relating to exclude files, if you think it's reasonable I can open another is

[2017-04-16 18:33] fd0 commented on #915
Hey, thanks a lot for the report and taking the time to debug this! I'll have a look.

[2017-04-16 18:54] fd0 commented on #915
Could you please check if the code in #916 (branch `fix-915`) solves the bug you reported.

[2017-04-16 20:03] Gjum commented on #915
Everything works perfectly now, both using empty lines and specifying multiple exclude files. Thanks for the quick response, that means a lot.

Keeping this open until the PR is merged.

[2017-04-17 07:24] fd0 commented on #915
yep, I'll close it when I merge the PR

[2017-04-17 08:20] #915 closed

[2017-04-17 15:48] sedlund opened #917 "unable to open repo: wrong password or no key found"
## Output of `restic version`
restic 0.5.0 (v0.5.0-108-g76f6a9e)
compiled with go1.8.1 on linux/amd64

## Expected behavior
backup works

## Actual behavior
error:
unable to open repo: wrong password or no key found
Command exited with non-zero status 1
0.11user 0.02system 0:00.65elapsed 20%CPU (0avgtext+0avgdata 12108maxresident)k
504inputs+0outputs (1major+1495minor)pagefaults 0swaps

## Steps t

[2017-04-17 16:24] fd0 commented on #917
Hey, thanks for creating an issue. Could you please be a bit more specific:
 * Which backend do you use?
 * How do you supply the password to restic?
 * Could you please check with the latest stable version (0.5.0), does that work?
 * What's the last known working version?
 * Could you please create a debug log? https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs

Thanks!

[2017-04-17 16:44] sedlund commented on #917
S3 backend.

I supply RESTIC_PASSWORD and RESTIC_REPOSITORY and TMPDIR environment variable, I also set TMPDIR.  AWS credentials are also via environment.

Yes, tag v0.5.0 works perfectly.    This is an automated daily cron backup.  I just hapened to build yesterdays from github and it failed this morning.

I sanitized the log a bit

[restic-debug.txt](https://github.com/restic/restic/files/926093

[2017-04-17 16:50] fd0 commented on #917
Thanks a lot, I'll investigate.

[2017-04-17 16:55] sedlund commented on #917
I was thinking something in this

https://github.com/restic/restic/commit/c796d84fca48feea91ca3e85fbf38e16f764a468#diff-2a2539ccf6f6c9b1dfc9e8fab28e7142

[2017-04-17 16:57] fd0 commented on #917
I'm able to reproduce it, `git bisect` tells me the faulty commit is 541484d142a1da0301d650f5aa00e691e3ffa3fc (as I already suspected).

[2017-04-17 16:58] fd0 commented on #917
The commit you've referenced just changes the behavior in regards to exclude files.

[2017-04-17 16:59] sedlund commented on #917
Great -  Thanks for your help!

[2017-04-17 17:20] fd0 commented on #917
Can you please check if the code in #918 (branch `fix-917`) resolves the issue? Thanks!

[2017-04-17 17:35] fd0 commented on #881
I just ran into the resolve issues, lowering the number of concurrent connections to s3 (from 40 to 10) made it much better. I'll merge this change (#918) into master soon so you can check if it works for you.

[2017-04-17 18:10] sedlund commented on #917
restic 0.5.0 (v0.5.0-111-gb0b6bd3)
compiled with go1.8.1 on linux/amd64

Works fine now.

Thank you!

[2017-04-17 18:22] #917 closed

[2017-04-17 18:24] fd0 commented on #881
It's merged, could you please have a look?

[2017-04-18 11:51] legrostdg opened #921 "use newer xattr"
It would be great if restic could use a newer version of xattr (latest release: `v0.2.0`). According to `vendor/manifest` it uses revision `b867675798fa7708a444945602b452ca493f2272`.

It would help the Debian packaging of the latest restic.

[2017-04-18 12:10] fd0 commented on #921
No problem, are you interested in doing a PR?

[2017-04-18 18:05] legrostdg commented on #921
Sorry, I don't have much time to check if this release changed the api and still is compatible with restic or not. I just have enough time to do the packaging for xattr and the newer restic...

I will probably be an easy check for the person who added xattr support to restic.

[2017-04-18 18:40] fd0 commented on #921
No problem at all :)

[2017-04-18 23:41] emmetog opened #923 "Restoring from different host saying `wrong password or no key found`"
Recently I backed up my entire home folder (around 75Gb), tested that the restore worked (it did) and then reinstalled my entire computer, wiping everything thinking I had everything safely backed up. Bad move. Now I keep getting the error `unable to open repo: wrong password or no key found` when I try to restore on the same (now wiped) laptop :sob:

Question: are the password keys somehow linked

[2017-04-18 23:55] lithiumfrost opened #924 "b2 backblaze"
## Output of `restic version`

## How did you start restic exactly? (Include the complete command line)

## What backend/server/service did you use?

## Expected behavior

## Actual behavior

## Steps to reproduce the behavior

## Do you have any idea what may have caused this?

[2017-04-18 23:56] #924 closed

[2017-04-19 06:20] fd0 commented on #923
Thanks for the comprehensive report. I'm very sorry for the bad user experience! There's nothing in the repo or in the data structures that is bound to a specific host/installation, you should be able to restore to a different host (provided you have the right password of course). Also I'm sure that using `--force` did not cause this.

We recently made structural changes in the s3 backend (among o

[2017-04-19 06:37] fd0 commented on #923
Further ideas:
 * Are you sure that the repository path (bucket and path within the bucket) is correct? Maybe you used a sbudir within the bucket? Check with the s3 console what's in your bucket, search for a directory that contains the file `config`, that's your repository
 * Try using the same version of restic as the one you used to create the repo

[2017-04-19 10:06] emmetog commented on #923
Resolved! The issue was the subdirectory in the bucket as you suggested. It looks like when the backup was performed the first time restic created a `s3.amazonaws.com` subdirectory and put the actual repository inside that. As far as I remember this happened behind the scenes during the backup, I didn't specify that, just the name of the bucket. When I performed the original backup I think I was u

[2017-04-19 10:06] #923 closed

[2017-04-19 10:41] fd0 opened #925 "Check for config file before requesting password"
In #923, @emmetog described that restic asked for the repo password and exited with an error  message that the password was wrong. This was caused by specifying an incorrect path. It could've easily been prevented by restic first checking if a config file is accessible, and only then requested the user's password and trying to decrypt the key files. So, add such a check and an appropriate error me

[2017-04-19 10:43] fd0 commented on #923
Heh, glad you found the cause for this issue! Not being able to restore a backup is very stressful... I'll add a check for the presence of the config file and an appropriate error message, this is tracked in #925.

restic does not have any code which adds such a subdir, so I suspect that you may have either typed the hostname twice (in the repo specification string), or had an additional character

[2017-04-19 16:30] #921 closed

[2017-04-19 16:44] nbommu1 opened #926 "getting repository is already locked message when running prune"
## Output of `restic version`

restic 0.5.0 (v0.5.0-24-gc85055b)
compiled with go1.8 on linux/amd64

## How did you start restic exactly?
restic -r s3:s3.amazonaws.com/bucketname  -p <passwordfile> forget <snapshots-id>

## What backend/server/service did you use?

s3
## Expected behavior
actually we are taking backups of each server in a single s3 repo, schedule jobs are running fine, when we run

[2017-04-19 17:03] fd0 commented on #926
Which command do you run as the "cleanup job"? Do you run `prune` and/or `forget` on each server? Please note that this is not necessary, you can do that from one single server.

There are two operations, `forget` and `prune`. Both require an exclusive lock on the repo, so no other jobs may be run in parallel. This is important because both commands remove data from the repository, and all other i

[2017-04-19 17:06] rhauptmann opened #928 "ftp backend"
Feature request: plain ftp backend

I'm happy to help in testing code if needed.

[2017-04-19 17:23] nbommu1 commented on #926
Hi, thanks for your reply,

in my case I have many servers where backup are running daily to a single repo in s3, each server has two cron jobs, one is daily back up and another one is weekly snapshots clean with tag(hostname)

here is the command where I run weekly cleanup and getting into lock  since rest of the servers running clean up at the same time.
restic --no-lock -r s3:s3.amazonaws.com/b

[2017-04-19 17:29] #925 closed

[2017-04-19 17:32] nbommu1 commented on #926
looks like it does that waht I want.

restic -r s3:s3.amazonaws.com/bucket-p restic_pass forget --keep-last 7 --prune

keeping 7 snapshots for each server and deleting rest of them,

thanks for you help, I'm all set.

[2017-04-19 17:32] fd0 commented on #926
When you run `restic forget --keep-last 7` on one server, it will keep the last 7 snasphots per server, which means you end up with `n * 7` snapshots in the repo (where `n` is the number of servers). For a detailed explanation see here: https://restic.github.io/blog/2016-08-22/removing-snapshots

You can easily experiment with it by using the `--dry-run` option to `forget`.

[2017-04-19 17:33] fd0 commented on #926
Then I'm going to close this issue.

[2017-04-19 17:33] #926 closed

[2017-04-19 17:34] fd0 commented on #928
Huh, FTP is still a thing? ;)

[2017-04-19 18:04] rhauptmann commented on #928
yes, some provider support support only ftp or webdav (i think webdav is complex to integrate). ftp is an easy and simple solution (for me)

[2017-04-20 21:52] nbommu1 opened #929 "option to check repo lock"
## Output of `restic version`
restic 0.5.0 (v0.5.0-24-gc85055b)
compiled with go1.8 on linux/amd64

## How did you start restic exactly? (Include the complete command line)
I'm running into a an issue while running prune job with different retention policies at the same time, it works great with global retention policy(ref#926). if I want to run prune job with different retention policies lock is

[2017-04-21 05:42] fd0 commented on #929
I don't think we need additional code. Please be aware that `forget` (which removes snapshots according to a policy) and `prune` (which removes content that is not referenced any more) are different operations and can be run on different machines and hosts.

The way I imagined using these two commands with a set of servers was:
 * run `restic backup` on a machine, daily
 * regularly (e.g. weekly)

[2017-04-21 05:42] #929 closed

[2017-04-23 10:56] pandrew opened #931 "Please provide a docker container that's empty besides a restic binary with the latest version"
I think it would be great if we could have an official, really small docker image using scratch as a base. Switching to tar and set exec permission for the release binaries would be a step in that direction. That would solve docker unpacking the binary using ADD. Thoughts on this?

[2017-04-23 17:16] fd0 commented on #931
Hm, I'm not sure I understand what you're suggesting, so I'm trying to paraphrase: "Please provide a docker container that's empty besides a restic binary with the latest version". Is that correct?

We're already providing pre-compiled binaries, just not as a tar file, but as a `.bz2`. I don't see the need for a tar at all...

[2017-04-23 17:36] pandrew commented on #931
Thats correct. I  I know you provide the binary compressed using bzip2 however docker can't extract it using the ADD instruction  as it will only extract if its a tar archive and then compressed.

[2017-04-23 20:56] fd0 commented on #931
I've thought about this:

 * Providing a `tar` file: I'm not convinced that the effort is worth it, sorry. You can easily build a minimal docker container by downloading and decompressing a restic release and then using the `ADD restic /usr/bin` instruction in the `Dockerfile` with a local file as the source.

 * Providing a docker container: I'm not using docker and I'm not sure that this is the

[2017-04-23 20:56] #931 closed

[2017-04-23 22:45] pandrew commented on #931
I only see docker as an alternative way to use restic not your only option to the end user. There is plenty of people using docker, just saying. So i built a makefile that pulls restic, and builds a container from "scratch". However restic panics when im using it this way.

[code]
I guess restic needs /tmp directory then.

[2017-04-24 05:51] fd0 commented on #931
You're right, restic will need a temporary directory. There will be other things, like a user/group database (otherwise the `user` and `group` fields in the backup will be empty, only the UID/GID field is filled)...

[2017-04-24 17:32] painhardcore opened #932 "Backup data from sftp."
Wanted to automate backups with restic, but didn't found option that can make snapshot from sftp directory.
It's missing?

[2017-04-24 19:30] fd0 commented on #932
Thanks for creating an issue. Creating backups over sftp is not implemented, and probably never will be. The protocol is not suited for that, at least not in my opinion. I have ideas for running a remote restic instance on a server and pulling the backups from there, for a discussion see #299. I'm going to close this issue for now, feel free to add further comments.

[2017-04-24 19:30] #932 closed

[2017-04-24 19:56] zcalusic commented on #932
@painhardcore, you could probably use sshfs to mount remote sftp location as local mount, then proceed with restic backup as usual. Give it a try.

[2017-04-25 12:44] rupat opened #933 "tell me how backups on different hosts on one backup repository works"
Note: This is more a question than an error report or issue

So my first question is, are the backups really separated by hosts ?
how restic detects host ?
is there a possibility to set the hostname used for a backup (maybe i mount a filesystem of a virtual machine and want to backup this. than i do not want to use the actual hostname of my system) ?

files backed up separate per host or being ref

[2017-04-25 12:55] rupat opened #934 "recommended backup strategy"
Note: This is more a question than an error report or issue
the recommended way to backup files in documentation is to run restic on the machine to backup and let connect it to a remote repo or local mounted filesystem.

lets assume i want to use one repo for:
lokal system,
a remote server
a virtual machine

how i do this

lokal system -> trivial

a remote server
- A) remoteserver runs restic to v

[2017-04-25 19:06] fd0 commented on #934
At the moment, restic is "push only", which means that it writes the backups to some location. There's issue #299 which tracks a pull mode that may be implemented eventually.

You can solve this for example by using the sftp backend and regularly (e.g. with a cron job) chown the files and dirs in the repo so that new files can be added but old ones cannot be removed. For the `backup` command, rest

[2017-04-25 19:06] #934 closed

[2017-04-25 19:15] fd0 commented on #933
I'm not sure what you mean with hosts that are "separated": restic creates a snapshot of files/dirs at one point in time. Among others, the hostname of the machine running restic is recorded. It can be overridden by using `restic backup --hostname foo`, then the string `foo` is set for that snapshot as the host name.

A snapshot is identified by a unique ID (a hexadecimal string). A snapshot is in

[2017-04-25 19:15] #933 closed

[2017-04-26 08:47] fd0 commented on #353
FYI: It was just reported that Hetzner is still running ProFTPD 1.3.5b. The fix should be in 1.3.6, which just released a few weeks ago on 9 April.

[2017-04-28 10:16] Niondir commented on #931
Not exactly empty but maybe I could add it as a special build:
https://github.com/Lobaro/restic-backup-docker

I would accept pull requests, if I find time I might just implement it.

https://github.com/Lobaro/restic-backup-docker

[2017-04-29 18:16] fd0 commented on #914
Fixed in 1e4bcf33678b67fa0af4a374c361b9d07a6fc75b

[2017-04-29 18:16] #914 closed

[2017-04-30 13:49] anarcat commented on #804
why isn't this just a dupe of #256? this is implementation-specific and #256 is more of a broad principle?

[2017-04-30 13:53] anarcat commented on #256
i just found out about SeqBox, which is an interesting approach to this:

https://github.com/MarcoPon/SeqBox

... instead of storing multiple redundant blocks, it tags each block with a specific metadata header so that the content can easily be found even after major filesystem or storage medium damage. it has really interesting properties, even though it looks a little like "magic":

![some dude

[2017-04-30 15:22] fd0 commented on #804
A bit of both. #256 can for example also be realized by making sure that each blob is stored twice in the repo (and restic can easily ensure this). If there is a read error, we'll just use the other copy. The problem with this approach is that the repo will be twice the size.

Adding ECC is another option, probably a bit more space saving.

[2017-05-01 13:46] cfcs commented on #256
SeqBox doesn't add redundancy; it enables you to carve out the puzzle pieces provided you have a block-aligned file system that lost its inode table but didn't lose any of the actual data. It does not help you recover from damaged storage blocks.
It does this at a massive overhead of ~3% - that's 30GB/TB.
If aligned to extents or to logical blocks (like - 1024) instead of 512 byte blocks the overh

[2017-05-01 14:05] anarcat commented on #256
I disagree. I think it can help recover damaged datasets with parts removed. It would allow someone to better recover if pieces of the filesystem went missing. Not entirely recover of course, but recover parts of the repo. How restic handles a partially destroyed repository is another thing, of course... But I think the comparison with PhotoRec is pretty convincing.

I do agree that a 3% overhead

[2017-05-01 17:46] kisst commented on #697
since Sphinx is already used to build the readthedocs html, why not just use the same tool with `-b man` and generate ( a bit to verbose ) man page as well ?

[2017-05-01 18:42] nob13 opened #937 "SFTP Upload Stops and does not recover"
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
[code]

## What backend/server/service did you use?

Ubuntu 14.04.2 Root Server
[code]

## Expected behavior
Uploads a lot of data (145 GB at 10MBit upload) until the End.

## Actual behavior
Connection breaks at some point, transfer sped is going down, no reaction on Ctrl+C. Have to kill

[2017-05-01 19:09] fd0 commented on #937
Hey, thanks for the report. This is actually a known problem (tracked in #353). The sftp process dies (no idea why), the error message is: `subprocess ssh: Write failed: Broken pipe`.

restic should restart the ssh process and resume operations. But this needs to be handled in the architecture, so it's not so easy.

I'm going to close this as a duplicate. Please subscribe to #353 in order to be no

[2017-05-01 19:09] #937 closed

[2017-05-01 19:10] fd0 commented on #937
Ah, please be aware that you can just restart your backup process, and restic will resume uploading data at approximately the point where the connection died the last time. All redundant data is being cleaned up by the next `prune` run.

[2017-05-01 19:11] nob13 commented on #937
Ok, thanks for the fast reply!

[2017-05-02 05:13] gregf opened #939 "Is there a way to pass the passphrase in a script"
Is there any way for me to automate passing the passphrase to my backup script?

I'm migrating from borg and with borg I could do

[code]

and then borg wouldn't prompt me for it when it ran.

[2017-05-02 05:49] fd0 commented on #939
Have a look at the manual, there are several ways (one via the environment variable `RESTIC_PASSWORD`, as you've done it for borg): https://restic.readthedocs.io/en/latest/manual.html#initialize-a-repository

[2017-05-02 05:49] #939 closed

[2017-05-02 16:35] cfcs commented on #256
I appreciate that it can help find blocks when the underlying FS is damaged and restic data has not been damaged.

I disagree that it can help solve the problem described in this issue post which is: Recover the original data put into restic in the scenario where restic data has been damaged:

IMHO comparing to `par2` is like comparing apples and oranges, they solve different problems.

I think we

[2017-05-02 20:08] vsivsi opened #940 "S3 repo data subdirectory keyspace doesn't match sftp/filesystem, impacting performance/compatibility"
Thanks for Restic. This is a bit of a quibble, but...

## Output of `restic version`

restic 0.5.0
compiled with go1.8 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)

Normal operation, per documentation

## What backend/server/service did you use?

S3 / Minio

## Expected behavior

Repo layout (specifically the data directory) will be as documented here:

[2017-05-03 01:26] vsivsi commented on #940
Another note: implementing the change required for this was really simple (ignoring backward compatibility, etc...)

See: https://github.com/vsivsi/restic/commit/03c9dd607c365c5cafe36e8566ea3ffdd0249cdd

I'm going to use this change to do some large repo benchmarking with minio and see if there's a noticable performance difference.

I've already done a compatibility test of mirroring the resulting

[2017-05-03 04:46] bzub commented on #831
It's not much, but I wanted to share my restic and rest-server container repos/images.  They are working well for me in Kubernetes so far.  Hope it helps.

https://gitlab.com/bzub/restic
https://gitlab.com/bzub/rest-server
https://quay.io/repository/bzub/restic
https://quay.io/repository/bzub/rest-server

[2017-05-03 18:50] fd0 commented on #940
Hi, thanks for bringing it up. This issue (or at least a part of it) was already discussed in a few times in other issues. In PR #898 I've added a layer called `Layout` and clarified the documentation. The code from the PR is not yet part of any released version, you can find it in the master branch here https://github.com/restic/restic/blob/master/src/restic/backend/layout.go and in the documenta

[2017-05-03 19:45] vsivsi commented on #940
The problem isn't that you are leaking the "file system" implementation detail into S3, the problem is actually the reverse... By assigning a layout to S3 that we know only *some* implementations of S3 can handle (and virtually no mounted filesystems), you are allowing the "AWS S3" implementation determine what is possible on other backends.

This will never be more true than the first time you tr

[2017-05-04 10:33] fd0 commented on #940
Let me think about this. Is using minio/s3 a hard requirement for you? Did you maybe have a look at the REST server at https://github.com/restic/rest-server? The protocol is much more lightweight and does the right thing in terms of local data storage...

[2017-05-04 14:17] legrostdg opened #942 "bash autocompletion"
It would be great to have autocompletion for restic.

https://github.com/spf13/hugo/blob/master/commands/genautocomplete.go could be used as a basis.

[2017-05-04 17:49] vsivsi commented on #940
I believe you already need to solve this problem if you are serious about being able to mirror an existing filesystem repo directly into S3 and having it "just work". It's unfortunate that the S3 repo layout already differs from the filesystem layout for no good apparent reason. I'm sure there some history there...

Yes, minio/s3 is a hard requirement. We are building a storage cluster to collect

[2017-05-04 18:06] vsivsi commented on #940
Just to add: I understand well your conservatism with regards to changes in the repository format.

As an outsider to the project what I see here is that the S3 support appears to have been added before all of these interoperability questions surfaced.

Unsolicited advice: Personally, if I were in your shoes, I would standardize on the filesystem layout and deprecate the existing "old" S3 layout,

[2017-05-04 20:39] vsivsi commented on #940
Here is another reason, the current naive implementation of `List` in the S3 code will lead to heavy memory demands as repos grow into the TB range.  So in this code:

https://github.com/restic/restic/blob/master/src/restic/backend/s3/s3.go#L296

In this code, `Listresp` will require the allocation of hundreds of megabytes of RAM for repos holding 10 or more TB of data.  And the S3 APIs will proba

[2017-05-05 21:04] mholt commented on #512
How is the free test account needed when 1 GB of download per day is free? (Sorry, I must have missed it in the comments above here?)

[2017-05-06 07:41] fd0 commented on #512
I don't think it's necessary any more. I'm currently reworking the backend CI tests so that they use much less data than before (at least for the backends that are tested against a live third-party service). So we can probably just use the free tier. I need to find time to look into this, it's on my list (right after the swift backend).

[2017-05-06 10:04] middelink opened #944 "[RFC] Scalability improvement for large amount of indexes"
This is a request for comment to improve the startup time of most CLI commands.

## Background
Currently restic interleaves tree information with their data blobs in packs. File operations do a treewalk to get to the next level of directories. Access to those blobs (any blobs for that matter) is sped up by using an index which maps blob hashes to pack file/offsets. Each backup creates a new indexe

[2017-05-07 07:34] fd0 commented on #940
So, I've thought about this and I think we need to do something mid-term. I'm not yet sure what that is exactly, so I'll write down my thoughts. Maybe we can figure it out together. :)

Here are several different things to consider (in no particular order):
 1) Not using subdirs will slow down operations a lot when used with s3/minio
 2) There's the (implicit?) assumption that copying over files f

[2017-05-07 08:26] fd0 commented on #944
You got a tiny detail wrong: At the end of a backup, restic writes a new index containing all new blobs added for that backup run, with an empty `supersedes` field. So we can neither just remove the previous indexes, nor the new index, the intersection of the blobs/pack files in the indexes is empty. In addition, no destructive modification of the repository should be done without an exclusive loc

[2017-05-07 08:28] fd0 commented on #944
FYI: In https://github.com/restic/restic/pull/842 I'm working on refactoring the `Repository` object. I've added some kind of `Session` data structure which tracks new data added, and I'm thinking about saving tree objects in separate pack files (so e.g. caching becomes easier).

[2017-05-07 08:30] #942 closed

[2017-05-07 09:43] middelink commented on #944
Ah. right. I see now.

Ok, then I do not get it. When I run `rebuild-index` or `prune`, `rebuildIndex()` builds a new, combined index and removes ALL indexes mentioned in the supersedes field. Based on what you said, there is no need to persist that field at all, right? It will by definition point to removed indexes. (And since both  `rebuild-index` or `prune` are running with an exclusive lock, I

[2017-05-07 09:46] middelink commented on #944
Re 842, Ah, you stole my thunder, I was about to write a RFC for putting the treedata into the snapshot object as they have the same lifecycle and having a single (albeit slightly large json file) is way better than having to seek through the repository a million times :)

[2017-05-07 12:57] zcalusic opened #948 "Temporary files not cleaned up"
## Output of `restic version`

restic 0.5.0 (v0.5.0-152-g0f057bd)
compiled with go1.8.1 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

backup restic /ext/folder

## What backend/server/service did you use?

Local

## Expected behavior

After pressing ctrl-C, and seeing "Interrupt received, cleaning up" message, all temporary files cleaned up.

## Actual b

[2017-05-07 13:57] middelink commented on #940
@vsivsi can you explain this comment?

As far as i can tell it is using a channel into https://github.com/minio/minio-go/blob/master/api-list.go#L259 , so there should be at most 1000 objects in flight, no? Still not nothing, but I'm not seeing 100ths of MBs either.

BTW having subdirectories under /data won't alleviate this memory problem, right? restic asks for a recursive search, so `ListObject

[2017-05-07 14:01] middelink commented on #948
/tmp is normally cleaned by some awesome cronjob running on your linux machine.

That said, (and taken into account the number of people complaining about it), perhaps it is time to investigate if we can pass the pack filehandle around and delete the file right after opening once?

[2017-05-07 21:32] vsivsi commented on #940
@middelink   You are correct.  I haven't used the `minio-go` package before, so I didn't know what type was being returned by `listObjects()`.

One wrinkle with reading golang code is that such important underlying implementation details can be obscured in code like this...

Defining `listresp` as:

`listresp := be.client.ListObjects(be.bucketname, prefix, true, done)`

hides its type.

Which is t

[2017-05-07 22:03] vsivsi commented on #940
@fd0  Thanks for your response/thoughts.

I believe this is a medium-term problem with using minio.  If the minio team are serious about making it a "drop-in" replacement for AWS S3, then they are going to need to properly support buckets with an essentially unlimited number of files on top of all supported backing file systems.

File systems themselves are slowly getting better in this respect to

[2017-05-08 10:48] zcalusic opened #949 "Allow backup of block devices"
@fd0, how do you feel about adding a feature to restic to allow backing up block devices? Not unlike what rsync provides with --copy-devices argument (https://lists.samba.org/archive/rsync/2010-June/025164.html).

The relevant case: virtualized Windows OS setup on physical partitions. Tried mounting partitions as NTFS, backed up content with restic, then restored on freshly created NTFS filesystem

[2017-05-08 12:38] cfcs opened #950 "Dead link to "usage" in README"
The link in the paragraph `For more options check out the usage guide.` links to `https://restic.readthedocs.io/en/latest/usage.html` which is a dead link.

[2017-05-08 13:42] cfcs commented on #256
Dumping this link here (from Hacker News today) for future reference: https://github.com/Bulat-Ziganshin/FastECC

[2017-05-08 14:07] fd0 commented on #940
@vsivsi thank you very much for raising this issue, and being persistent about it! I've thought about this for a bit, and the scaling issue wasn't on my radar at all. The only solution that I can think of is implementing the same strategy like git: Allow pack files to be arbitrary large. In addition, maybe we can move towards a unified naming scheme/layout. Turns out one of my reservations against

[2017-05-08 18:57] fd0 commented on #949
Hm, can't you do that easily by chaining restic and dd together like this:
[code]

[2017-05-08 19:10] fd0 commented on #944
Correct.

Also correct. My idea was that restic keeps a list of old index IDs around so that it can detect when an old index is present in the repo. Otherwise attackers with access to the backend could keep index files around, wait for content being removed and afterwards and move the index files back to the backend. The next time restic runs a backup it will think that old (=removed) content is s

[2017-05-08 19:17] fd0 commented on #948
Good point, I think we can already do that!

[2017-05-08 19:17] fd0 commented on #950
It is, thanks!

[2017-05-08 19:26] #950 closed

[2017-05-08 19:42] fd0 commented on #948
Ah, that doesn't work cross-platform, meh.

[2017-05-08 19:55] fd0 commented on #948
Let's see what the CI tests think about this change.

[2017-05-08 20:01] fd0 commented on #948
Yeah, Windows doesn't like it: https://ci.appveyor.com/project/fd0/restic/build/1601-master

[2017-05-08 20:34] middelink commented on #944
/me grins and points to #838, (I actually implemented this and it seems that even gobing the same structure results in a big speed improvement. None the less, let me address your concern more realistically.)

I don't think a single - one time - json decode even comes close to the memory fragmentation resulting from loading say 30k blobs and 30k smaller json decodes just to list or find a file in a

[2017-05-08 20:49] vsivsi commented on #940
Restic is a great project and we are committed to using it now, so I'm happy to help in any way I can to contribute ideas/improvements.

[2017-05-08 21:03] middelink opened #953 "[RFC] Implement consistent backup/forget policy"
This is a request for comments to improve (streamline, make more consistent) the current forget expire policy work.

## Background

Currently restics ExpirePolicy allows one to expire on Tag, Last, Hourly, Daily, Weekly, Monthly and Yearly policies. For each of the given elements one can specify how many of each one wants.

## Issue

The items in the ExpirePolicy are implemented serially, so first

[2017-05-08 22:13] zcalusic commented on #949
Huh, so simple?!  :+1: Somehow I forgot about --stdin, or at least that it would be really helpful for this case. Yeah, it definitely works and is plenty fast. Thanks for the hint.

Now, I wonder how to restore such a file, I suppose restore --stdout would come handy eventually (and be nicely symmetrical with backup --stdin). Until that time, I guess fuse mount could be used...

[2017-05-09 13:27] legrostdg opened #954 "sftp backends timeouts quietly"
Using version 0.5.0, with the SFTP backend, a very clunky wifi connection and very slow dsl, I get frequent timeouts. Sometimes (after a "short" timeout) restic gets back to work, sometimes (after a "long" timeout) it continues to run, but does not backup anything anymore... Would it be possible to resume to backup without restarting restic, or at least fail with an error message mentioning a time

[2017-05-09 14:18] unclesamwk opened #955 "[FEATURE] print state of repo"
Hey Alex,

very nice restic.

I've a feature request.

restic -r path state now ...

... prints informations like:
-> Backup now in progress,finished, error, failed,...
-> Size of repos, deplucation sizes
-> count of files,dir per repo
-> start time of backup und finished timestamp for repos

all output in json

:-)

greetings
Sam

[2017-05-09 20:41] mgumz commented on #838
in general i agree with @fd0 about the stability of the repo-format.

if it comes to "use protobuf"-aspect itself: creating the jsons seems to be the rare case in comparison to "decoding data" -> https://capnproto.org/

i suggest to retag this issue here "RFC".

[2017-05-09 21:06] mgumz commented on #693
i was instantly reminded of the statistics flag of rdiff-backup (see https://www.systutorials.com/docs/linux/man/1-rdiff-backup-statistics/ ). sometimes it's nice to see some sort of delta between 2 snapshots.

[2017-05-09 21:10] mgumz commented on #647
@fd0 do you see the documentation somewhat around https://github.com/restic/restic/blob/master/doc/design.rst#trees-and-data ?

[2017-05-09 21:18] mgumz commented on #628
gcm vs ctr: http://www.daemonology.net/blog/2009-06-11-cryptographic-right-answers.html

sym vs asym: the idea is to pubkey-encrypt a "session"-key, right?

[2017-05-09 21:28] mgumz commented on #277
https://godoc.org/golang.org/x/net/webdav might be worth a try but (the same with *sftp backends etc) i am not convinced that something fuse-based (either on linux or something like http://www.expandrive.com/ ) isn't better suited to provide something filesystemish.

[2017-05-10 11:55] unclesamwk opened #956 "[FEATURE] exit code handling"
Hey,

another request error/exit code handling.

Hey, nice feature is if restic abort answer with an error code more than 0 or 1.

rsync example:
0      Success
       1      Syntax or usage error
       2      Protocol incompatibility
       3      Errors selecting input/output files, dirs
       4      Requested  action not supported: an attempt was made to manipulate 64-bit files on a platform

[2017-05-10 13:09] X-Ryl669 commented on #21
Also, [Frost](http://x-ryl669.github.io/Frost/) seems to have similar features (deduplication, compression, encryption, Fuse based navigations for archives).

[2017-05-10 18:25] #948 closed

[2017-05-10 19:01] fd0 commented on #944
Ah, I thought I already added the code which uses separate pack files for tree objects, but it seems I haven't done that yet. I apologize :)

[2017-05-10 19:33] fd0 commented on #953
Huh, nice idea! Please create a PR for it, and we need to update some documentation and maybe write a new blog post for the next release, since this changes behavior :)

[2017-05-10 19:45] fd0 commented on #949
So, we just need a way to write files from a snapshot to stdout. I feel that this doesn't really belong to the `restore` command, maybe add a `cat` command?

[2017-05-10 22:13] zcalusic commented on #949
Sure. Whatever can help the case.

[2017-05-11 06:45] zcalusic commented on #949
In the meantime, I did a test restore via FUSE mount, and it worked flawlessly! Every single bit was restored properly from this quite large 80GB file (took exactly 6 hours). Which is really great, because that is my only backup of that data. I'm trusting restic more and more every day. :)

I still remember when such large files were impossible to restore via FUSE mount, due to OOM-ing machine and

[2017-05-11 09:37] fd0 commented on #949
Yeah, this is caused by #746.

[2017-05-12 14:26] legrostdg opened #958 "backup size should not include excluded dirs"
The excluded dirs should not be included in the total scanned/remaining/backuped sizes.

[2017-05-12 16:41] fd0 commented on #958
They aren't.

[2017-05-12 16:42] fd0 commented on #958
[code]

[2017-05-13 14:01] ar-jan opened #959 "Backup strategy (2): pull/remote/add-only"
After reading #934 and #784 I've come up with an alternative pull-like mode that works for me for the time being. I'd like to ask if you see any problems with it (or easier alternatives).

Use case:

- Server A has data in multiple directories that should be backed up, and little local disk space.
- Server B is a backup server with plenty of disk space.
- I want to give as little access between th

[2017-05-13 15:03] middelink commented on #959
How about starting a [restic-server](https://github.com/restic/rest-server) on Server B and using that as the repo endpoint for Server A? (and Server B itself is you so care). Aside from the in progress pack files you don't any repo storage on A, while still reaping the benefits from deduping files between A and B. Also the restic password cannot be used for any other system level authentication.

[2017-05-13 15:36] ar-jan commented on #959
I've looked at restic-server and it looks great (I read it should also be faster than sftp?), but I'm lazy and for now I didn't want to look into the proper way of configuring it as a service, and setting up a webserver with Let's Encrypt - my backup server basically has only SSH currently. But yeah, combined with regularly `chown`ing the snapshots so they can't be deleted by Server A this would b

[2017-05-14 19:32] fd0 commented on #560
This should be solved with the latest update of the s3 connection library we're using. Please try again. Until then I'll close this report, we can always reopen it later.

[2017-05-14 19:32] #560 closed

[2017-05-14 19:33] fd0 commented on #954
Thanks for opening this issue. I see that you haven't filled out the issue template, is there a reason for that? If not, please fill out the issue template now, you can find the text [here](https://github.com/restic/restic/blob/master/.github/ISSUE_TEMPLATE.md).

It sounds like your ssh connection died, you should've seen the error message from the ssh client. Adding generic reconnection logic is

[2017-05-14 19:33] #954 closed

[2017-05-14 19:41] fd0 commented on #955
Hey, thanks for opening an issue. The hypothetical `state` command you're imagining seems to print out a lot of different information, and I have the feeling that this is too diffuse.

Could you describe your use case? What is it that you'd like to know about your repo? Most of the information you've mentioned we either don't have readily available (e.g. the duplication ratio), or are simply not a

[2017-05-14 19:41] #955 closed

[2017-05-14 19:44] fd0 commented on #693
Indeed, but that's a different thing: It's computed live and compares two snapshots. We may add something like that, but doing that for the `snapshots` overview list is too expensive (at least with the information we have available in the data structures right now).

[2017-05-14 19:45] fd0 commented on #647
Ah, hm. That doesn't sound like the right place, because it is already outdated. For example, the ACL/extended attributes are not included in the Design document. Maybe a list in the manual would be good as a reference. We can amend that when new data is saved.

[2017-05-14 19:47] fd0 commented on #628
Let's not discuss crypto in this issue, as it is postponed for now. The relevant issue for asymmetric crypto discussions is #187.

[2017-05-14 19:49] fd0 commented on #956
Hey, thanks for suggesting this. Can you please elaborate what your use case is? Why do you need to know exactly what the error code was? What are the cases you need to distinguish in your script and why?

[2017-05-14 19:52] fd0 commented on #21
Are you really just plugging your project here? Please do not do that, it adds no value to the discussion in this issue. Thanks.

[2017-05-14 19:58] fd0 commented on #959
That's an interesting scenario. In terms of long-term issues that may arise I can think of several:
 * When no changes ever are propagated back from server B to server A, the latter will not be informed about removed content, so it will think that all blobs it ever wrote to the repo are still available
 * Server A will add index files, and a restic process on server B will need to merge them with

[2017-05-14 20:01] #57 closed

[2017-05-14 20:02] fd0 commented on #453
I've thought about this and I don't see the need for it right now.

[2017-05-14 20:02] #453 closed

[2017-05-14 20:07] fd0 commented on #457
Since there hasn't been any activity here recently and I cannot reproduce the issue I'm going to close it for now. Please feel free to add further comments. Thanks.

[2017-05-14 20:07] #457 closed

[2017-05-14 20:08] fd0 commented on #504
Since there hasn't been any activity here recently I'm going to close this issue for now. Please feel free to add further comments. Thanks.

[2017-05-14 20:08] #504 closed

[2017-05-14 20:09] fd0 commented on #417
This has been implemented, `backup` now has the option `--files-from` to read the list of files/dirs to backup from a file.

[2017-05-14 20:09] #417 closed

[2017-05-14 20:10] fd0 commented on #547
Since there hasn't been any activity here recently and I cannot reproduce the issue I'm going to close it for now. Please feel free to add further comments. Thanks.

[2017-05-14 20:10] #547 closed

[2017-05-14 20:12] fd0 commented on #561
The restore command at the moment does not alter existing files, especially it does not delete existing files. This is a safety feature. I'm going to close this issue for now, feel free to add further comments. Thanks!

[2017-05-14 20:13] #561 closed

[2017-05-14 20:20] fd0 commented on #684
Since there hasn't been any activity here recently and I cannot reproduce the issue I'm going to close it for now. Please feel free to add further comments. Thanks.

[2017-05-14 20:20] #684 closed

[2017-05-14 20:20] fd0 commented on #765
Since there hasn't been any activity here recently and I cannot reproduce the issue I'm going to close it for now. Please feel free to add further comments. Thanks.

[2017-05-14 20:20] #765 closed

[2017-05-14 20:21] fd0 commented on #882
So I'm going to close this issue for now, #29 tracks adding a metadata cache. Until that is implemented you can use `backup --force`. Please feel free to add further comments.

[2017-05-14 20:21] #882 closed

[2017-05-14 20:27] fd0 commented on #64
I'll close this for now.

[2017-05-14 20:27] #64 closed

[2017-05-15 07:25] ar-jan commented on #959
Thanks; I'll post here if I find any issues with it, or if I decide on another strategy.

[2017-05-15 07:25] #959 closed

[2017-05-15 14:28] messju opened #963 "PKGBUILD broken"
The doc/PKGBUILD wants to install  "$pkgname/README.md", but the README is named "README.rst".

The causes makepgk to errror:
install: cannot stat 'restic-git/README.md': No such file or directory

The fix is trivial: Just change "$pkgname/README.md" to "$pkgname/README.rst".

[2017-05-15 15:16] fd0 commented on #963
Thank you very much for raising this issue. There's the `restic-git` package in AUR which is independently maintained... so I'd suggest removing `doc/PKGBUILD`, and I've already contacted the AUR maintainer. What do you think? Is it valuable to have a copy of the `PKGBUILD` here?

[2017-05-15 15:17] #963 closed

[2017-05-15 15:19] #953 closed

[2017-05-15 15:33] messju commented on #963
I first reported this at https://aur.archlinux.org/packages/restic-git/ , but then i found the doc/PKGBUILD fixed it there and made pkgbuild happy. So I thought here would be a more appropiate place to report this. But on second thought I think it's less confusing to have only one PKGBUILD and that should be in the aur git repo.

(For example the yaourt tool asked me to edit PKGBUILD to fix the bu

[2017-05-15 17:48] fd0 commented on #963
Agreed, I'll remove it. Thanks!

[2017-05-15 18:29] mgumz commented on #647
https://github.com/restic/restic/blob/master/doc/manual.rst#under-the-hood-browse-repository-objects ?

[2017-05-15 19:34] fd0 opened #965 "Unify repository layout"
As discussed in #940, I think we'll need to standardize the repository layout to what the local/sftp backends use. I'd like to start moving towards that direction. The rationale is that only having one layout regardless of the backend easily allows moving data around and having restic access the repo, so it "just works". The local layout is a good compromise between number of subdirectories and th

[2017-05-15 19:38] fd0 commented on #940
I'm going to close this issue for now, the move towards a unified layout is tracked/discussed in #965 (so this issue is superseded by it).

[2017-05-15 19:38] #940 closed

[2017-05-18 09:46] legrostdg opened #969 "panic: store new item in finalized index"
## Output of `restic version`

    $ restic version
    restic 0.5.0
    compiled with go1.7.4 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

    $ restic -r sftp:user@myserver:/backup/laptop.restic --password-file password.txt --one-file-system --exclude=/var/cache --exclude=/var/tmp --exclude=/home/user/tmp --exclude=/home/user/.cache backup / /var /usr

[2017-05-18 09:49] legrostdg commented on #958
OK, so I have a weird issue there. The excluded dirs are included in the backup size:

## Output of `restic version`

    $ restic version
    restic 0.5.0
    compiled with go1.7.4 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

    $ restic -r sftp:user@myserver:/backup/laptop.restic --password-file password.txt --one-file-system --exclude=/var/cache --e

[2017-05-18 09:56] legrostdg commented on #954
Sorry about this, there was no error message from the ssh client, so it seemed like I had nothing interesting to provide. restic just seemed to run like before, but without backing up anything anymore.

## Output of `restic version`

    $ restic version
    restic 0.5.0
    compiled with go1.7.4 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

    $ restic

[2017-05-18 10:00] fd0 commented on #958
Thanks for the report. First: Do you maybe have docker installed? It is known to leave a sparse file of 100GiB somewhere in `/var`, you can check with `du -sh /var` vs. `du -sh --apparent-size /var`.

If that's not it: Can you please create a debug log file while running a backup and have a look if you can spot anything out of the ordinary? Excluded paths [will have a log entry](https://github.com

[2017-05-18 10:13] legrostdg commented on #958
You spoted the issue, `du -sh /var/lib/docker/``reported 166Go...

Is there a way restic could be improved to hide these sparse files from the total size?

[2017-05-18 10:14] legrostdg commented on #958
(feel free to close this issue or change the title, my original problem is fixed. Thanks!)

[2017-05-18 10:47] fd0 commented on #958
Yeah, that'd be #79, when we start supporting sparse files at all. You can follow that issue if you'd like to be notified. At the moment it's just a cosmetic/UI issue, because saving the data is fast (restic only reads blocks of nullbytes and realizes very fast that it doesn't need to store anything).

[2017-05-18 10:47] #958 closed

[2017-05-22 07:38] alexeymuranov commented on #329
I think this question would be more appropriate for a mailing list, but i did not find a mailing list for restic.

Trying to compare restic with borg, i decided to compare the amount of source code (wondering about maintainability of the two projects).  I downloaded the latest snapshots of the master branches and discovered that borg has 2.2 MB of code in 207 files and folders and restic has 32.2

[2017-05-22 07:57] zcalusic commented on #329
Have you been careful to exclude vendored libraries and testdata?

Naive `zsh -c "du -sc src/**/*.go"` returns only 1.2MB for me.

[2017-05-22 08:30] fd0 commented on #329
As @zcalusic wrote so nicely, the source code is only about 1.2MiB in 219 files. The rest is vendored libraries (everything below `vendor/`, 738 files, 8.4MiB) and testdata (47 files, 21MiB)

[2017-05-22 08:33] fd0 commented on #329
cloc is also interesting, both projects have approximately the same code size:
[code]

vs. borg:

[code]

[2017-05-22 11:45] alexeymuranov commented on #329
Thank you for the detailed clarification.  I was too lazy to investigate myself.

[2017-05-22 19:35] fd0 commented on #965
I've just merged #966 which adds support for the default layout to the s3 backend. The other issues will be addressed in a new PR.

[2017-05-22 19:37] fd0 commented on #969
Huh, this is odd, thanks for the report! I thought I had resolved all issues with finalized indexes...

[2017-05-22 19:40] fd0 commented on #969
So preliminary analysis: `/tmp/` is included in the backup, that's where restic leaves temporary files. It then happened that a temp file it was currently writing was to be saved, and that caused the whole mess. Interesting :)

[2017-05-22 19:44] fd0 commented on #954
Could you please create a debug log (instructions [here](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs), and see if you can reproduce the problem? Then have a look at the debug log, maybe post the last ~100 lines or so. Please be aware that the debug log may contain sensitive things, so be sure to remove them before posting.

[2017-05-25 02:16] vsivsi opened #970 "AWS credentials ending in "=" don't work"
## Output of `restic version`

restic 0.5.0

## How did you start restic exactly? (Include the complete command line)

restic init

The problem is when the AWS credentials (in this case from env vars), end in the character "="

Minio will automatically generate such credentials...

## What backend/server/service did you use?

S3 / minio

## Expected behavior

Restic will work with an S3 backend th

[2017-05-25 07:38] fd0 commented on #970
Huh, interesting! I'll look into it, thanks for the report!

[2017-05-25 07:50] fd0 commented on #970
I'm unable to reproduce this issue for the `AWS_SECRET_ACCESS_KEY` (works fine with an equals sign at the end), but setting a `AWS_ACCESS_KEY_ID` with an equals sign at the end provokes the error.

[2017-05-25 07:58] fd0 commented on #970
Something is strange here.  I've verified that restic just passes the values in the environment variables to the minio-go s3 library, so it's not a bug in restic.

Where did you get the credentials? As far as I know, `AWS_ACCESS_KEY_ID` should be an alphanumeric string, so it should not contain equals at all. The `AWS_SECRET_ACCESS_KEY` is base64 encoded, so for certain lengths there will be one o

[2017-05-25 08:00] vsivsi commented on #970
I may have been mistaken about `AWS_SECRET_ACCESS_KEY`, thought I checked that one too.

I lost about 2 hours today to this... Could not figure out what had changed that broke restic. The ransom credentials generated by minio each had an `=` at the end.

[2017-05-25 08:17] fd0 commented on #970
I'm sorry that you lost so much time. I'm not sure how you ended up with credentials containing `=` at all:

For the `AWS_ACCESS_KEY_ID`, minio will generate a string of 20 random characters from the set `0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ`, so that should never contain `=`: https://github.com/minio/minio/blob/master/cmd/credential.go#L32 https://github.com/minio/minio/blob/master/cmd/credential

[2017-05-25 08:30] fd0 commented on #969
This is mitigated in the master branch, tempfiles are removed directly after creation. So I'm going to close this issue for now. Please feel free to add further comments.

[2017-05-25 08:30] #969 closed

[2017-05-25 08:36] vsivsi commented on #970
I'm no longer sure how I ended up with those credentials either.  I plucked them off the screen that minio dumps to stdout when it starts. But that was during a test that I discarded soon after I figured out what was going on and submitted this issue.

I'm using the latest minio.  I'm working off a fork of restic, partially because of the slowness issue, partially because my project requires the S

[2017-05-25 08:37] vsivsi commented on #970
Just to add, I did test with official restic 0.5.0 (and not just my fork) before submitting this issue. Unfortunately I'm on deadline and don't have much more time to help with this.

[2017-05-25 08:52] fd0 commented on #970
Ok, thanks for taking the time to report this. We'll wait and see what @harshavardhana thinks.

By the way: I've already implemented the default repository layout for s3 in the master branch, you can use it by setting `-o s3.layout=default` when creating a new repository. Afterwards you don't need that parameter any more, restic will auto detect the layout used for the s3 repository and do the rig

[2017-05-25 09:56] dirk777 opened #972 "ListDir is lacking information to differ original directory"
## Output of `restic version`
restic 0.5.0
compiled with go1.8 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)
restic -r sftp:id......aP8 ls fee5d774 --long

## What backend/server/service did you use?
sftp

## Expected behavior
snapshot fee5d774 of [/tmp/myDocuments/Backup /tmp/yourDocuments/Backup] at 2017-05-04 19:40:08.173763197 +0200 CEST):
drwxr-xr-x

[2017-05-25 12:53] fd0 commented on #654
We're moving towards unifying the repo layout, this is tracked as #965. I'm closing this issue.

[2017-05-25 12:53] #654 closed

[2017-05-25 12:54] fd0 commented on #972
Hey, thanks for the report. This is caused by the archiving code, which only uses the last path component for storing things within the repo. It is already known and tracked as #549.

[2017-05-25 12:54] #972 closed

[2017-05-25 13:51] fd0 commented on #970
There's the new release: https://github.com/restic/restic/releases/tag/v0.6.0-rc.1

[2017-05-25 14:25] jncss opened #973 "Slow "restic prune" on Amazon s3 bucket"
## Output of `restic version`
restic 0.5.0 (v0.5.0-162-gc5ae552)
compiled with go1.8.1 on freebsd/amd64

## How did you start restic exactly? (Include the complete command line)
restic prune -r s3:s3.amazonaws.com/...

## What backend/server/service did you use?
Amazon s3

## Expected behavior
Be faster

## Actual behavior
$ restic prune -r s3:s3.amazonaws.com/...

counting files in repo
building

[2017-05-25 14:40] fd0 commented on #973
Thanks for the report. Since the 0.5.0 release, we've done a lot to improve the s3 backend, could you please try again with the [0.6.0-rc.1 version](https://github.com/restic/restic/releases/tag/v0.6.0-rc.1) we've released a few minutes ago?

Apart from that, the prune code (especially the part which detects which blobs are still referenced by snapshots) is not yet fully optimized, this is tracked

[2017-05-25 14:54] harshavardhana commented on #970
@vsivsi I am pretty you must have interchanged the keys.

AccessKey can never be alphanumeric unless you manually edited it.

Will test by manually setting it and see what happens.

[2017-05-25 17:01] vsivsi commented on #970
I have no idea how I end up with such keys.  I'm working fast and furious right now, so it's possible there was human error in the loop (as alway).  At a minimum, restic need pa to give a more helpful error message in such cases than: `missing fields in request`

[2017-05-25 17:04] vsivsi commented on #970
Oops, didn't mean to close the issue.

[2017-05-25 17:05] vsivsi commented on #970
@fd0  thanks for the link, I'll try to check out the new RC, but my ship literally sails on Saturday, so time is short!

[2017-05-26 06:51] zcalusic commented on #667
#974 is a great success! Thank you very much for working on this long standing issue. Finally I can read backup reports in the morning. 👍

This is what we have now:
[code]

Few nitpicks:
- we have now 0B/s in the final progress lines, previously it was the average speed of the process, would be great if we could keep the feature, otherwise just remove it
- some repetition can now be seen, I find i

[2017-05-26 08:46] fd0 commented on #667
So I'm going to close this for now.

[2017-05-26 08:46] #667 closed

[2017-05-27 18:06] #830 closed

[2017-05-28 11:05] middelink opened #977 "[BUG] Restic 0.6.0-rc.1 running out of filedescriptors."
## Output of `restic version`
restic 0.6.0-rc.1 (v0.6.0-rc.1-1-g37b107b)
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)
/usr/local/sbin/restic -r rest:http://qnap.ch.polyware.nl:8000 backup --tag CH -x / /dev /boot /boot/efi /home --exclude "/tmp/*,/var/log/*,/var/tmp/*"

## What backend/server/service did you use?
rest

## Expected b

[2017-05-28 11:10] fd0 commented on #512
I've added a PR with a B2 backend based on @kurin's lib: #978

[2017-05-28 11:29] fd0 commented on #977
Huh, that is indeed strange. I was sure we'd fixed these...

[2017-05-28 11:59] middelink commented on #977
nit: do I see an escape code below the the error msg? ^^

[2017-05-28 12:46] fd0 commented on #977
Yeah, error reporting is not really integrated well into the status display... Having a look at the file descriptors now. I suspect that this is an old bug, and I have a suspicion what might cause it.

[2017-05-28 13:12] fd0 commented on #977
I'm unable to reproduce it. Could you please do a `git bisect`?

[2017-05-28 13:22] fd0 commented on #977
Could you also have a look at what file descriptors are open during the backup? e.g. check: `ls -al /proc/$(pgrep restic/fd)`...

[2017-05-29 00:46] middelink commented on #977
Ok, lets ignore the report. I rebooted earlier today and this time the backup went fine. Looks like the max file limit wasat 18 max. Nice.

As I was working on a lot of things at the time (read tools open), I can only imagine the system ran into the global limit of fd slots. (what according to /proc/sys/fs/file-max is ~1.5M, so that's not too likely either).
Anyway, not reproducible outside the 2

[2017-05-29 00:46] #977 closed

[2017-05-29 01:24] middelink opened #979 "runtime: out of memory: cannot allocate 536870912-byte block (556793856 in use)"
Likely supersedes  #526

## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
[code]

## What backend/server/service did you use?
rest

## Expected behavior
Making a backup.

## Actual behavior
Failed backup. out of memory.
[code]

And dmesg
[code]

Last few msgs in the debug log:
[code]

## Steps to reproduce the behavior
Pick a RP3, run a

[2017-05-29 05:54] fd0 commented on #977
Ok, thanks for the feedback. phew. :)

[2017-05-29 06:13] fd0 commented on #881
Since there was no feedback for several weeks I'm going to close this issue for now. Let us know if it persists.

[2017-05-29 06:13] #881 closed

[2017-05-29 11:47] fd0 commented on #979
That's the Go stdlib JSON decoder for the index file. Hm. We need to find a solution for the index...

[2017-05-29 14:19] lloeki opened #980 "restic_0.6.0-rc.1_linux_amd64 is not bz2'd"
## Output of `restic version`

N/A

## How did you start restic exactly? (Include the complete command line)

N/A

## What backend/server/service did you use?

N/A

## Expected behavior

`restic_0.6.0-rc.1_linux_amd64.bz2` should be available.

## Actual behavior

`restic_0.6.0-rc.1_linux_amd64` is available instead, which required special casing adjustments in provisioning scripts.

## Steps to r

[2017-05-29 18:26] fd0 commented on #980
Heh, you're right, nice catch! I've uploaded the missing binary.

[2017-05-29 18:26] #980 closed

[2017-05-29 18:28] lloeki commented on #980
Hmm @fd0 you just uploaded `restic_0.5.0_linux_amd64.bz2` :D

[2017-05-29 18:30] fd0 commented on #980
Crap.

[2017-05-29 18:32] fd0 commented on #980
Fixed now.

[2017-05-29 18:34] lloeki commented on #980
Thanks!

[2017-05-29 20:17] fd0 commented on #512
Anybody interested in testing it? I'd love to have some feedback!

[2017-05-30 03:50] mikesager commented on #212
Not sure if anybody is aware of the recent ACD drama with acd_cli and rclone, but a TL;DR of the situation is that they have had their ACD API access revoked due to TOS violations.  Their efforts to regain API access are apparently being hampered by the fact that Amazon has stopped accepting new third-party apps for ACD.  I assume this latter revelation stops any Restic ACD support in its tracks,

[2017-05-30 04:41] sedlund commented on #212
acd_cli API access was revoked due to a [security issue](https://github.com/yadayada/acd_cli/issues/549) with their ouath app, not a TOS violation.  The problem has been [fixed](https://github.com/yadayada/acd_api_oauth/commit/339c4b3ad3e6960e1e1438ac8e015aad0d242f50) and Amazon re-instated their key.  Although this is off topic from this project.

New ACD API access is currently [closed](https://

[2017-05-30 05:49] fd0 commented on #212
Thanks for posting this here, I wasn't aware of it. I had reservations implementing ACD, and it seems that Amazon indeed did not like secrets in the code of an Open Source program: rclone was banned for it: https://forum.rclone.org/t/rclone-has-been-banned-from-amazon-drive/2314

On the other hand, acd_cli implemented an OAUTH auth service (not sure what the correct nomenclature here is). This han

[2017-05-30 05:49] #212 closed

[2017-05-30 11:14] lloeki opened #982 "Restore code is inefficient and produces inconsistent timestamps/permissions"
## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

See repro steps below.

## What backend/server/service did you use?

Local + S3.

## Expected behavior

- timestamps should be restored consistently for intermediate directories
- rights should be restored consistently for intermediate directories
- paths that are known to be non-matchi

[2017-05-30 18:49] dirk777 opened #983 "Backup to sftp backend fails"
## Output of `restic version`
restic 0.6.0
compiled with go1.8.3 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)

restic -r sftp:u1xxxxx.your-storagebox.de:/test/backup backup /Users/test/Documents

## What backend/server/service did you use?
Hetzner's and Strato's sftp backend

## Expected behavior

backup ends with
scan [/Users/test/Documents]
scanned 15

[2017-05-30 20:54] fd0 commented on #983
Thanks for the report. The problem with Hetzner is that they're using a version of proftpd which has a bug that causes connections to be aborted after a while when many concurrent write requests are . It's already known and tracked in #353, here's a more in-depth discussion: https://github.com/restic/restic/issues/665#issuecomment-259395915

The Strato error is something different. Can you please

[2017-05-30 20:59] fd0 commented on #982
Hey, thanks a lot for having a look! I agree, the restore implementation is indeed naive and slow. If you'd like to start improving it, I'd be more than happy to review/help :) There's always so much to do.

If you want to start working on this please create a PR and start pushing commits early so we can have a look at the code together.

[2017-05-31 06:13] dirk777 commented on #983
Please find the full log here: https://expirebox.com/download/699ff0987c3a18f1a7bdb3dd30f884a7.html

Here are the last lines, where the error message occurs:
[code]

[2017-05-31 06:37] vsivsi opened #984 "Running rebuild-index on s3 with new default layout corrupts index"
## Output of `restic version`

restic 0.6.0 (v0.6.0-0-g820c88ea)
compiled with go1.8.3 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)

#### Init repo with new `-o s3.layout=default` option

Script used for below in this gist:
https://gist.github.com/vsivsi/b45b2064c75a38fac80ac6a964b1ce0d

Full reproduction:

[code]

## What backend/server/service did you

[2017-05-31 07:07] vsivsi commented on #984
BTW,  I'd try to merge the fix in the commit above into a PR to fix this but I'm literally on a ship in the middle of the Pacific Ocean (at 31N 185W to be exact) with the worlds crappiest satellite internet connection (and a million other things to do), so this time it's all I can to do just report this and hope someone else will take it from there. It took me 90 minutes to download the 0.6.0 darw

[2017-05-31 08:03] middelink commented on #983
I discovered the same problem with Hetzners storagebox offering, using proftp 1.3.5b, and filed a support ticket asking them to upgrade. Not sure it will work as it looks like those boxes are some appliance...

Perhaps others afflicted with the same issue can file similar support requests with them? Together we stand stronger ^^

[2017-05-31 08:21] middelink commented on #984
I'm not 100% sure this is just for S3, for laughs I ran a `restic check` myself and got a nasty surprise.

[code]

I'm going to run `restic rebuild-indexes` to see if it fixes things up. (As one of my VMs OOMs every night due to restic ballooning, it is likely I have half baked packs in the repo, but all the missing tree's are unexpected. ... Are we sure `restic check` is even ok?

[2017-05-31 08:25] middelink commented on #984
Aside, `restic check` is using too many file descriptors on rest backend. I'm seeing these:
[code]
And checking `ls /proc/$(pgrep restic)/fd | wc -l` I see spikes in the 1000's of fd's... (coming and going btw)

[2017-05-31 08:34] middelink opened #985 ""restic check" with rest-backend is using up too many fd's on rest-server."
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
[code]

## What backend/server/service did you use?
rest
version 0.9.1

## Expected behavior
no complaints about using too many file descriptors.

## Actual behavior
Among other output:
[code]

Looking at the open fd's at the time:
And checking ls /proc/$(pgrep restic)/fd | wc -l I see sp

[2017-05-31 09:24] fd0 commented on #984
Oh dear, thanks for reporting! Good thing we haven't enabled the default layout by default yet... I'll have a look ASAP.

[2017-05-31 09:29] fd0 commented on #985
Huh, that's odd, I'll have a look. The rest-server and the rest backend already use http2 if available, no need to change anything. Just give the server a TLS certificate and use a HTTPS URL for restic and it'll work.

[2017-05-31 09:36] vsivsi commented on #984
@fd0  Yes, that's exactly what I ended up fixing in the commit I referenced at the end of the issue above.

[2017-05-31 09:38] fd0 commented on #984
btw, you can force the layout with `-o s3.layout=default` for the `rebuild-index` operation.

[2017-05-31 09:49] middelink commented on #985
To clarify, I do not have a cert on my rest server, so indeed it won't promote the connection up to HTTP/2.

[2017-05-31 09:51] fd0 commented on #985
Hm, but isn't that a requirement for HTTP2? As far as I know there is a way to speak HTTTP2 via plain TCP without TLS, but it isn't implemented in either Browsers nor servers...

[2017-05-31 09:51] middelink commented on #984
BTW, In my case I was not using S3, so it could not have been the layout issue. My problem was fixed though after running `restic rebuild-index`, so  I can only presume  `restic check` has some problem with old, superseded indexes.

[2017-05-31 10:24] fd0 commented on #984
Yes, I think your issue is different. Maybe that the there are unfinished pack files (I know that we need to work on that).

[2017-05-31 10:32] fd0 commented on #984
Ok, rebuild-index for s3 with the default layout creates an empty index

[2017-05-31 10:40] fd0 commented on #984
Listing pack files on s3 with the default layout is broken, patch is here:https://gist.github.com/fd0/15039537035ce2d6f8f203bd247c1724

I'll commit this fix later today.

[2017-05-31 11:25] zcalusic commented on #985
I tried to reproduce this weird bug, but I couldn't. Restic check on a pretty heavy repo through REST backend worked just fine, using only 5 fd's at all times.

Admiteddly, I do have certs in place, so it's not exactly the same, but there's nothing preventing regular keepalive HTTP/1.1 connections even if you're using plain HTTP. At least I think I nailed all the bugs last time I spent hours debug

[2017-05-31 11:50] middelink commented on #985
Pretty sure:

[code]
[code]
And, whilst running `restic check` on the a newly rebuild-index'ed repo:
[code]

So, definitely more than 5 sockets.

[2017-05-31 11:54] middelink commented on #985
Just noticed something else, there are 2 error msgs, first cannot assign, then running out of sockets.

[code]

[2017-05-31 11:58] zcalusic commented on #985
Do netstat -tn | grep TIME_WAIT on the restic client side and see what comes out. If you have loads of connections to rest-server host in TIME_WAIT state, it means restic is not using keepalive connections and Linux kernel can't recycle previously closed sockets fast enough, so it soon runs out of available sockets to use.

[2017-05-31 12:07] middelink commented on #983
From Hetzner:

[2017-05-31 12:11] fd0 commented on #985
@zcalusic can you please try again with `GODEBUG=h2client=0` (which disables http2)?

[2017-05-31 13:15] middelink commented on #985
In a few seconds after "Check all packs", I see
[code]

And by the time it goes into fail mode, it's up to 40k sockets lingering. I think you're making my poor qnap cry ^^

[2017-05-31 13:35] zcalusic commented on #985
Tested with GODEBUG=h2client=0 and it also went fine. There was only one TCP connection open to the rest-server the whole time, and all requests went through it. As I already said, HTTP/1.1 is enough to have proper keepalive connections.

@middelink, could it be that qnap is doing something weird, has some kind of firewall which blocks keepalive connections?

[2017-05-31 13:55] middelink commented on #985
@zcalusic, No firewall whatsoever. And I'm just running the native x86_64 binary compiled on the desktop, nothing fancy. Granted, it's just a 4 core Celeron N3160 @1.6Ghz, but that should be enough, right?

[2017-05-31 14:04] middelink commented on #985
Ok, weirder. There is still a large queue of lingering sockets, 53K as we speak, but I do not get errors on the `restic check`. I seems like the debugging slows it down just enough for whatever is being obnoxious to cope with the influx.

Is there anything in the restic-debug.log to indicate it creates new connections? The only http related things I see are:
[code]

[2017-05-31 14:29] middelink commented on #985
I gave in and installed a certificate on the qnap rest-server (don't like it, it's on my own LAN and carries already encrypted data!) however, that seem to have cured the issue. I do have multiple open connections with the rest-server ~90, but they are slowly growing, ~1 connection per second.

However, given the fact that running under debug mode also seemed to slow things down enough to keep run

[2017-05-31 15:03] zcalusic commented on #985
The only other difference I see is that you're using IPv6. Could it be that Go HTTP library has issues with keepalives when using IPv6?

[2017-05-31 16:17] fd0 commented on #985
@middelink can you try again with HTTP2 disabled?

[2017-05-31 17:25] fd0 commented on #985
I can reproduce the problem locally, at least partly: REST server via IPv4 without TLS.

[2017-05-31 17:40] fd0 commented on #985
It's my fault, I accidentally remove MaxIdleConnsPerHost in a963052d64c953e15bea42671d366a3eadd5b91c. See #986 for a fix.

[2017-05-31 18:49] #985 closed

[2017-05-31 19:35] fd0 commented on #984
Fixed in https://github.com/restic/restic/commit/5c59484d2bb6b66e2cca5962125df6848aa3e0c0.

[2017-05-31 19:35] #984 closed

[2017-05-31 20:04] fd0 commented on #973
I'm going to close this issue for now, feel free to add further comments. Thanks!

[2017-05-31 20:04] #973 closed

[2017-05-31 20:27] vsivsi commented on #984
@fd0

Is this change in the earlier patch not necessary for the fix?  Just noticed that it didn't make it into the commit you reference above...

https://gist.github.com/fd0/15039537035ce2d6f8f203bd247c1724#file-s3defaultfix-patch-L9-L10

[2017-05-31 20:29] fd0 commented on #984
The first hunk isn't needed (it is even wrong), the second hunk is the one that's important.

[2017-05-31 20:30] fd0 commented on #984
I'll release 0.6.1 shortly. Together with #986 this warrants a new release (btw, the s3 backend used with Minio should also be also affected by #985).

[2017-05-31 21:33] fd0 commented on #970
I'll close this issue for now, we can always reopen it later. Thanks!

[2017-05-31 21:33] #970 closed

[2017-05-31 22:36] middelink commented on #985
@zcalusic, I'm completely puzzled as to why it was working for you then...

I can confirm IPv6, IPv4 now work without TLS and IPv6 works with TLS (unable to test IPv4 with TLS as rest:https://192.168.x.y:8000 fails on missing IP SAN in cert)

[2017-06-01 05:03] fd0 commented on #985
@middelink I suspect that with HTTP2 (via TLS), there's only one or two connections because of the stream multiplexing and there's no need for restic to open more. I don't know why you saw more than one connection with TLS though.

[2017-06-01 07:01] zcalusic commented on #985
@middelink, I'm a bit puzzled, too. There are still some pecularities about Go HTTP library that we're yet to discover, I guess. :)

@fd0, you forgot that I tested with HTTP2 turned off, and it still worked well.

[2017-06-01 08:51] fd0 commented on #985
Ah, you're right. That's obscure indeed.

[2017-06-01 16:43] durcom opened #988 "Can't copy from FUSE mount"
## Output of `restic version`

latest
## How did you start restic exactly? (Include the complete command line)
restic mount -allow-other -r repolocation (on ubuntu 16.04)

## What backend/server/service did you use?
samba
## Expected behavior
I can mount the restic repository no problem.  I have it shared out as read only via Samba and can view all files/folders in the snapshots from a win 7 machi

[2017-06-01 18:56] durcom commented on #988
Further Details:

Seems like folders copy fine, just files can't be accessed.  When I look at windows properties for the files on the samba share it comes back with files size zero, and on security tab of properties it shows "requested info is unavailable".

[2017-06-01 19:08] fd0 commented on #988
Hm, I don't have any idea how to start debugging this. Could you please create a [debug logfile](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)? Please be aware that it may contain sensitive data such as file and directory names.

[2017-06-01 19:32] durcom commented on #988
Sorry, compiling stuff etc. is beyond me.  Linux noobie...

Can't you just create a restic repository on linux, back up a few files to it and then try to access from win via samba to see if you can reproduce it?

here is my smb.conf file:

global]
	map to guest = bad user
	log file = /var/log/samba/log.%m
	passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\sup

[2017-06-01 19:37] durcom commented on #988
![image](https://cloud.githubusercontent.com/assets/29127322/26697374/baaea6a4-46df-11e7-9a68-bbe7fca54d1e.png)

above shows file on samba share from restic mount   (note size 10K)

![image](https://cloud.githubusercontent.com/assets/29127322/26697401/e3feb468-46df-11e7-8d79-e4ba1e0654ff.png)

Same file but shows files size of "0"

![image](https://cloud.githubusercontent.com/assets/29127322/26697

[2017-06-01 22:10] middelink commented on #988
Wasn't there some issue with the inode/handles in the fuse mount not being persistent?
Can you try to copy a file from the /mnt/restic_mnt to say /tmp? (instead of going thru samba) It will make clear if it the mount itself is bad or your remounting with samba is.

[2017-06-01 22:49] zx2c4 commented on #910
@fd0 you mentioned that this issue was "fixed" in the release notes of 0.6.0, but reading this issue, it looks like you more simply just closed it as a duplicate of another one. Should that other one be closed too because this issue is actually fixed? Or is this issue not yet fixed? Wondering so I know whether or not I can make my scripts a bit more sane by removing to workaround...

[2017-06-02 01:13] durcom commented on #988
I can copy on the linux machine from the mount to another folder and it works fine, so it is something to do with Samba I think.

[2017-06-02 05:36] fd0 commented on #910
Ah, I'm sorry for the confusion: It is not fixed yet.

I closed this issue because the underlying issue is tracked in #549, so this is a duplicate. For the extended changelog I'm using [github_changelog_generator](https://github.com/skywinder/github-changelog-generator), which (among others) lists all issues that were closed since the last release.

Now that you bring it up I can understand your c

[2017-06-02 10:07] lloeki commented on #738
Some more data over here 260GB, 23 snapshots from four hosts.

Seems like there's a slight display bug too: `found 751864 of 0 data blobs still in use, removing -751864 blobs`.

[code]

[2017-06-02 19:18] yhafri opened #989 "The find command hangs on backups > 5GB"
## Output of `restic version`

`any`

## How did you start restic exactly? (Include the complete command line)

`$ restic find  901705242.zip  --json`

## What backend/server/service did you use?

`Minio`

## Actual behavior

*restic* hangs forever.

## Do you have any idea what may have caused this?

Is the search feature dependent on the size of the backups?
And how one can debug what's going on

[2017-06-02 19:48] fd0 commented on #989
Please fill out the issue template when opening issues, this includes the version number.

`find` probably doesn't hang forever, it's just busy traversing all the tree structures of all snapshots. You can  create a [debug logfile](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs) to see what's going on. Please be aware that it may contain sensitive data such as file and

[2017-06-03 09:00] Niondir opened #991 "Error: Buffer is too small for data blob (524521 < 524544)"
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
`restic restore $snapshot --target $target -i "data/arx-live/Saves"`

## What backend/server/service did you use?
SFTP

## Expected behavior
No error.

## Actual behavior
[code]

## Steps to reproduce the behavior
Not sure yet. The backup got pruned meanwhile.

## Do you have any idea wha

[2017-06-03 10:56] yhafri commented on #989
Here's the debug-log with restic version `0.6.1` (sensitive data were altered).

[restic-debug.log.gz](https://github.com/restic/restic/files/1049559/restic-debug.log.gz)

[2017-06-03 11:14] fd0 commented on #989
Hm, it keeps loading the same tree over and over again:

[code]

Could you dump this tree please, so we can have a look at what it is? First, find the complete tree ID:
[code]

Then dump the tree with: `restic cat blob <ID>`. Let's see what that is all about.

I have a hunch: Do you maybe have many empty directories?

[2017-06-03 11:14] fd0 commented on #991
Oh, that should not happen, thanks for the report!

[2017-06-03 11:15] fd0 commented on #991
Your version of restic is rather old, I'm sure that we've ironed out this bug in the meantime. Could you please try with 0.6.1?

[2017-06-03 12:54] #512 closed

[2017-06-03 14:57] bashfulrobot opened #992 "How to restore specific files?"
Hi there - what is the recommended way or method to restore single files? An implicit exclude all with a single include? Any sample commands?

## Output of `restic version`

restic 0.6.1
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

Trying to determine that! :-)

## What backend/server/service did you use?

SFTP

## Expected behavio

[2017-06-03 15:31] ibib commented on #992
the easiest would propably to use the mount option and copy the single file out of the correspondig snapshot.

https://restic.readthedocs.io/en/stable/manual.html#mount-a-repository

[2017-06-03 15:55] Niondir commented on #991
As I said it does not happen anymore since the snapshot got cleaned up in the meantime. But when I find another snapshot with the problem I will try with a newer version.

[2017-06-03 16:29] fd0 commented on #991
Ok, please let us know what happens. Until then I'm closing the issue. Thanks!

[2017-06-03 16:29] #991 closed

[2017-06-03 20:02] yhafri commented on #989
@fd0 here you're:

[code]

Then:
[code]

And the directory isn't empty as you can see:
[code]

[2017-06-03 23:49] yhafri commented on #989
I've the feeling that the `search feature` is broken.

[2017-06-04 07:53] fd0 commented on #989
It is not broken, just very slow in your case.

I didn't mean to imply that the directory itself is empty (it clearly is not), but rather that it contains many directories that are empty (about 16k). Is that possible? You can check with: `find 1132motionsrv -type d -empty | wc -l`.

[2017-06-04 08:30] yhafri commented on #989
[code]

[2017-06-04 08:42] fd0 commented on #989
Huh, that's very odd. I think this is a bug.

[2017-06-04 09:07] yhafri commented on #989
Just tried with `restic 0.5.0`, same result :-(
Hope this helps.

[2017-06-04 09:21] fd0 commented on #989
Hm, I had a second look at the debug log you supplied, the directory `ADDADATA` was recorded as being empty, could you maybe have a look what's in there? Do they contain files that have been excluded in the backup?

[2017-06-04 09:51] fd0 commented on #989
Could you please try the code in the branch `improve-search-performance` (see #993)? It will reduce the number of backend requests in your case A LOT!

[2017-06-04 10:33] yhafri commented on #989
Awesome @fd0 it works :-)
Can you please merge this fix with `0.6.1` ?

[2017-06-04 10:43] fd0 commented on #989
I will merge it into master so it will be included in the next release. It should be safe to use the master branch.

[2017-06-04 10:46] fd0 commented on #989
If you want you can download the 0.6.1 release, and apply the PR as a patch, https://github.com/restic/restic/pull/993.diff

[2017-06-04 10:47] #989 closed

[2017-06-04 14:02] Phaeilo commented on #512
I just uploaded 14.738 GiB (51459 items) to B2. This took about 90 minutes. According to the Backblaze "Reports" page this caused about 2700 `b2_get_upload_url`, 2700 `b2_upload_file` and 2700 `b2_list_file_names` API calls. Any chance the number of `b2_list_file_names` API calls can be optimized to reduce cost?

[2017-06-04 18:51] legrostdg opened #995 "unused github.com/minio/go-homedir dep?"
You seem to have added github.com/minio/go-homedir to vendor/, but it does not seem to be used. Is there a reason for this that I missed?

[2017-06-04 19:36] ibib commented on #995
It is used in [mini-go](https://github.com/restic/restic/blob/22a6cd3a268819d00f6fa9886e40d0330631afc6/vendor/src/github.com/minio/minio-go/pkg/credentials/file_minio_client.go#L27) which is used as S3-Client.

[2017-06-04 20:56] wpbrown commented on #232
I'm testing out the new backblaze b2 support (uploading 4300 files, 28GiB). You did such a good job on this one it's forced me to look up this issue. restic is crushing my 15Mbps upload so hard I can't do anything else :laughing:

[2017-06-05 04:42] wpbrown commented on #512
I just uploaded 2 different repos in different buckets. The bucket are 29.5GB and the other 47.5MB. The upload calls actually look about right. The high number of downloads are odd because I've never tried to restore. The 6K list file names is something very bad going on.

![stats](https://i.imgur.com/G55hvLv.png)

I tried creating a second snapshot of the small repo with just a couple text files

[2017-06-05 05:51] cafuego opened #996 "GCS: Prune / check fails?"
## Output of `restic version`

restic 0.6.1
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

`./restic_0.6.1_linux_amd64 prune`

## What backend/server/service did you use?

Google Cloud (REST via the s3 driver)

## Expected behaviour

Remove unreferenced packs, possibly print status of what was removed, then exit.

## Actual behaviour

[2017-06-05 07:59] legrostdg commented on #995
Woops! OK, thanks!

[2017-06-05 07:59] #995 closed

[2017-06-05 11:06] fd0 commented on #996
Thanks for the report, I'm having a look now!

[2017-06-05 11:28] fd0 commented on #996
I'm really puzzled what's going on here. Could you please create a [debug logfile](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)? Please be aware that it may contain sensitive data such as file and directory names.

[2017-06-05 12:43] fd0 commented on #232
For b2, you can limit the number of parallel connections with `-o b2.connections=2` (by default it's 5).

[2017-06-05 16:57] kurin commented on #512
In blazer, downloading an object whether in whole or in part will call b2_list_file_names first to populate an internal object with server-side data, akin to stat.  I don't remember offhand but I suspect this is to get, among other things, the object size, in order to support ranged reads.

I'll explore whether this check can be elided.

[2017-06-05 20:05] fd0 commented on #512
Oh, awesome! I'll prepare a PR :)

[2017-06-05 20:41] fd0 commented on #512
See #997

[2017-06-05 21:21] fd0 commented on #820
Could you please check if the code in #998 resolves your issue?

[2017-06-05 22:50] cafuego commented on #996
I can definitely create a debug logfile for you, though not necessarily right away. I'll see if I can get one done this week and then sanitise it before attaching.

[2017-06-06 04:59] kurin commented on #512
I've had a chance to test this out; it looks more reasonable on downloads; for a ~250MB restore I get:

    $ grep X-Blazer-Method /tmp/restic-debug.log  | sort | uniq -c
          1 X-Blazer-Method: b2_authorize_account
          2 X-Blazer-Method: b2_delete_file_version
       8166 X-Blazer-Method: b2_download_file_by_name
          1 X-Blazer-Method: b2_get_file_info
          2 X-Blazer-Method

[2017-06-06 05:07] kurin commented on #512
Uploads are still going to be 1:1 with list_file_names and the upload calls, because restic calls Attrs for each b2 object before saving to ensure it doesn't exist.  I don't see a way around this check, but I can skip this and just call get_file_info, which is class C instead of class B and 10% as expensive.

[2017-06-06 05:14] kurin commented on #512
Okay I remember why I did it this way.  `b2_get_file_info`, the call we want to make, requires the (B2 internal) `fileId`, which we can't derive from the name except by making another API call.  The docs say:

[2017-06-06 05:46] fd0 commented on #512
I'll think about dropping the `Attrs` call for saving a new file in certain cases (e.g. for data files), but that'll take some time. The B2 backend will benefit automatically from it.

[2017-06-06 05:48] kurin commented on #512
I got a workaround in by downloading a single byte :/

download_file_by_name is cheaper than list_file_names.

I'm testing it now but it should work.

[2017-06-06 05:48] kurin commented on #512
$ grep X-Blazer-Method /tmp/restic-debug.log  | sort | uniq -c
          1 X-Blazer-Method: b2_authorize_account
          1 X-Blazer-Method: b2_delete_file_version
         73 X-Blazer-Method: b2_download_file_by_name
          1 X-Blazer-Method: b2_get_file_info
         63 X-Blazer-Method: b2_get_upload_url
          1 X-Blazer-Method: b2_list_buckets
          6 X-Blazer-Method: b2_list_file_n

[2017-06-06 05:50] fd0 commented on #512
Hmhm, that's ugly. :stuck_out_tongue_closed_eyes:

Is there maybe a way to upload a file on B2 with `O_EXCL`, i.e. the call fails if the file already exists?

[2017-06-06 05:54] fd0 commented on #996
That'd be helpful. I have a hunch: The s3 endpoint for GCS returns the file sizes in a way that our s3 client library (https://github.com/minio/minio-go) does not understand. Then the file size is zero, and trying to read the header length (at the end of the file) the offset becomes negative.

[2017-06-06 06:03] kurin commented on #512
Nope.  New uploads "hide" older uploads.  If you upload "foo" to "x", and then "bar" to "x", and then read "x" you'll get "bar".  If you then delete "x", and read "x", you'll get "foo".

[2017-06-06 06:15] fd0 commented on #512
Hm, with the restic repository that'll work out just fine. I'd just need to add special code for removing a file, so that it removes all versions. I'll think about it.

Can we move this to a new issue? Discussing it in the PR feels wrong.

[2017-06-06 06:16] kurin commented on #512
Sure.

[2017-06-06 06:27] fd0 opened #1000 "Optimize B2 access"
This is continuation of the discussion started in https://github.com/restic/restic/issues/512#issuecomment-306041907

TL;DR: restic causes a lot of `b2_list_file_names` API calls which are expensive. We're discussing ways to lower this count.

[2017-06-06 06:27] fd0 commented on #512
So, the discussion is moved to #1000 (yay)

[2017-06-06 16:29] durcom commented on #988
middelink, are you talking about an issue with restic or with fuse in general in regards to the handles not being persistent?  any background on that issue?

[2017-06-06 17:27] QantumEntangled opened #1001 "Trouble excluding/matching hidden files in Linux"
## Environment
#### OS
Zorin (Ubuntu 16.04.4)

#### Restic Version

#### How did you start restic exactly?

run with `restic`
Saved to `/home/user/Backup`

note: I was unable to find anywhere in the documentation that talked about installing restic on Ubuntu/Debian systems, but the binary runs fine afaik so I dropped it in my bin so I could run it from bash. It's not elegant or best practice but i

[2017-06-06 17:27] fbkopp commented on #820
This code addresses the problem of listing directories with large files,
Thank you,

[2017-06-06 18:33] fbkopp commented on #988
I have the same error and i think mount a repository and share via samba should work out of the box.

[2017-06-06 19:08] fd0 commented on #820
Thanks for the feedback!

[2017-06-06 19:17] fd0 commented on #988
@fbkopp please describe your situation and the error you're seeing.

@durcom which system user is used for samba? which is used for running restic?

[2017-06-06 19:37] #992 closed

[2017-06-06 20:07] kurin commented on #1000
So right now `b2_list_file_names` won't get called a lot: this was fixed for reads, and writes moved to `b2_download_file_by_name` (hereafter DFBN).

This happens on writes because restic calls object.Attrs(), which issues a DFBN and then a `b2_get_file_info`.

DFBN and GFI are class B API calls, which is something like .4c/10k calls (as opposed to LFN, which is .4c/1k).  This makes it relatively

[2017-06-06 20:58] fd0 commented on #992
If you want to work on this I can guide you. I can imagine allowing a path for the restore command, at the moment `restore` is called like this:
[code]

Where `/path` is the path to save files in and `12341234` is the snapshot ID to restore. What about allowing a path afterwards, like this:
[code]
In this case, restic will only restore the path `foo/bar` from the repo within `/path`, so you'll end

[2017-06-06 21:06] fd0 commented on #1001
Hm, interesting. The option `--exclude-file=.*` is definitely wrong: it instructs restic to read the names of things to exclude from a file called `.*` (a dot and an asterisk), which does not exist. This is what restic complains about.

Apart from that your command-line looks good, it should do what you want:
[code]

You can also create a [debug logfile](https://github.com/restic/restic/blob/maste

[2017-06-06 21:30] anarcat commented on #256
after some reflexion, i have come to believe that implementing error correction necessarily means the admins need to make decisions about where to store redundancy blocks. partial errors on drives is something that is quite uncommon: these days, especially with SSDs or SMART-enabled devices, drives often see total unrecoverable failures instead of partial ones.

what are we trying to protect again

[2017-06-07 05:04] cafuego commented on #996
I checked out the 0.6.1 tag and built it with debug info, as instructed in the docs, after updating go to 1.8.3.

[code]

I am pretty sure I've stripped all sensitive info from this debug log, if you do find something please let me know, so I can change my credentials.

[restic-debug.log.gz](https://github.com/restic/restic/files/1056917/restic-debug.log.gz)

[2017-06-07 06:57] middelink commented on #996
Dumb question, but if you go back to 0.5.0, are things in order? aka, does `restic check` complete? If so, you might want to do a final `restic prune` with 0.5.0 before upgrading to 0.6.1?
To be honest, it's a long shot, my gut feeling is you have a zero byte file somewhere.

[2017-06-07 08:19] zcalusic commented on #738
This is now a bug number one for me, at least for my most important repo. It still takes 17h to prune, so I don't even run it except occasionally (and manually), and then I typically have to skip nightly backup run, because prune still holds the lock by that time.

With a little help of a brand new access log feature in the rest-server, I collected the log of all transactions during prune run. Act

[2017-06-07 09:33] fd0 commented on #738
At that stage restic and for each snapshot, restic recursively loads all tree objects and makes notes of all blobs that are referenced there. Each tree object is fetched individually from the repo, which causes the requests you're observing. The code is here: https://github.com/restic/restic/blob/master/src/restic/find.go#L6

A slight optimization has already been introduced: A tree is only traver

[2017-06-07 11:31] fd0 commented on #996
@middelink I think your hunch is wrong, this is probably an interoperability issue with minio-go and GCS. For prune and rebuild-index, all packs are listed. This happens in two steps, for each pack file first the backend function `Stat()` is called [here](https://github.com/restic/restic/blob/master/src/restic/repository/repository.go#L468) and then `pack.List()` is called with the size of the pac

[2017-06-07 11:42] fd0 commented on #996
@cafuego can you maybe supply test credentials to me (personally), so I can debug this myself? Is it possible to restrict credentials to a specific bucket/project?

[2017-06-07 13:55] anarcat commented on #187
my use case here is #533 - unattended backups. as stated there, asymmetric crypto is only one of the ways of doing this, but it seems like the first obvious solution to the problem.

[2017-06-07 18:48] fd0 commented on #1001
I'm going to close this issue for now, please report back if it doesn't work as described. Thanks!

[2017-06-07 18:48] #1001 closed

[2017-06-07 19:01] fd0 commented on #272
This has been merged in #975 a few days ago, closing.

[2017-06-07 19:01] #272 closed

[2017-06-07 19:04] fwilhe commented on #697
[Cobra](https://github.com/spf13/cobra) can generate [man pages](https://github.com/spf13/cobra/blob/master/doc/man_docs.md). I did not look closer into this, but since restic already uses cobra this might be a easy way to get man pages. What do you think?

[2017-06-07 19:06] fd0 commented on #697
That's possible, and would be nice because we can have inline documentation for the commands. It would need some automation to generate a man page for restic and all the sub commands, which is updated regularly (especially for releases).

[2017-06-07 19:20] fwilhe commented on #327
I have two thoughts about this:

* If `restic -r backup ls <snapshot-id>` only shows the top level, I think a `recursive` command should be added, like in GNU ls.
* I think `restic -r backup ls` should be an alias for `restic -r backup ls latest`. This would in my opinion be more aligned with how the ls command works.

[2017-06-07 19:30] fd0 commented on #327
Good points. If you'd like to work on this and need help, please let me know. Otherwise start hacking, open a PR and then we can discuss your code!

[2017-06-07 19:32] fwilhe commented on #327
Yes, I'll have a look at it.

[2017-06-07 22:06] cafuego commented on #996
@fd0 On this account I'm afraid I can't do that :-(

There is an (annoying for you) way around that - a new sign-up gets a $100 or so credit and a year in which to spend that credit, so you should be able to get an effectively free account. They'll want CC details though so they can charge you if/when you go over.

I just looked through the repo and I don't offhand see any 0B files. If there are a

[2017-06-07 23:07] harshavardhana commented on #996
There was a recent bug fix to ensure that content-length is proper for GCS objects @fd0 can you check the latest master of minio-go? b

[2017-06-08 09:40] LaszloHont opened #1005 "Cannot find docs for the exclude file syntax"
I can't seem to find any docs on how the exclude file syntax is parsed.

i.e. does it support wildcards? regex? how does it differentiate between files and directories? are path prefixes needed? where from (cwd/or root?)?

Some examples:
[code]

[2017-06-08 09:41] LaszloHont opened #1006 "Cannot find docs for b2 backend"
I came to restic because of the amazing feature set and the support for b2, but I'm having trouble finding the docs for b2 - I found s3 under the latest documentation at https://restic.readthedocs.io/en/latest/tutorials.html

[2017-06-08 09:42] LaszloHont commented on #1006
Aha I found https://github.com/restic/restic/pull/978/commits/122462b9b1c339419fa3e279f9716f0af1fd7df2

[2017-06-08 09:47] LaszloHont commented on #1006
Your docs talk about an account id and an account key, but b2 has an account id and an *application* key.

[2017-06-08 09:51] fwilhe commented on #1005
Hi, have you seen

in https://github.com/restic/restic/blob/master/doc/manual.rst?

I think this should answer your questions.

[2017-06-08 09:57] fd0 commented on #1006
We have a section in the manual that describes the setup process for the different backends, did you discover that yet? https://restic.readthedocs.io/en/latest/manual.html#backblaze-b2

[2017-06-08 10:08] LaszloHont commented on #1006
I found that section, but was confused by it not being in the tutorial section. Thanks.

[2017-06-08 10:10] LaszloHont commented on #1005
I went to the documentation at https://restic.readthedocs.io/en/latest/manual.html and searched for exclude, where it unfortunately doesn't include any common examples (or a reference to the other documentation at manual.rst) :/

[2017-06-08 10:14] #1006 closed

[2017-06-08 10:20] LaszloHont commented on #1005
I read the golang doc and I think the end-user (me!) isn't going to know what restic is comparing an exclude to internally - is it the full path (e.g. /home/me/blah) or a path from the repository root (/blah or blah), or relative to the cwd (me/blah when I am at /home)?

[2017-06-08 10:31] nbommu1 opened #1007 "can't run restic with forgot on multiple machines simultaniously"
Hi,

this is ref (#929), I'm having difficult to run forgot on multiple hosts simultaneously,
with #929 I had same issue with locking. can you please help me out to fix this.

## Output of `restic version`
repository is already locked by PID 24246 on <host> by root (UID 0, GID 0)
lock was created at 2017-06-08 06:24:06 (531.920617ms ago)
storage ID a97c9600
the `unlock` command can be used to remo

[2017-06-08 12:48] nbommu1 commented on #1007
So far I have tried this , please suggest if I'm doing it wrong.

1: run backup on N no.of server daily

2: run forgot snapshots  keep last 7days

3: run prune on the repo weekly to clean the backup repository.

step 1 works fine , I can fire N no.of backups simultaneously
I'm failed on step 2 with the lock  issue when all hosts are trying run the cron job.

[2017-06-08 14:04] ibib commented on #1007
Prune needs an exclusive lock. [Source](https://github.com/restic/restic/blob/master/src/cmds/restic/cmd_forget.go#L79)

I cant find infos in the doku which command sets which kind of log. Maybe we have to add it.
Did you read the part of the doku about the [different kind of locks](http://restic.readthedocs.io/en/latest/design.html?#locks)?

[2017-06-08 17:00] skirmish opened #1009 "panic: trying to decrypt invalid data: ciphertext too small"
## Output of `restic version`

restic 0.6.1
compiled with go1.8.3 on windows/amd64

## How did you start restic exactly? (Include the complete command line)

`d:\restic\restic.exe -r d:\restic\backup rebuild-index`

## What backend/server/service did you use?

None

## Expected behavior

Be able to rebuild the index.

## Actual behavior

[code]

## Steps to reproduce the behavior

Ran a backup ope

[2017-06-08 17:27] fd0 commented on #1009
I'll have a look, thanks for the report!

[2017-06-08 17:28] fd0 commented on #1009
I'll have a look, thanks for reporting it. Could you please create a [debug logfile](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)? Please be aware that it may contain sensitive data such as file and directory names.

[2017-06-08 17:37] fd0 commented on #1007
Hm, maybe I haven't explained it properly: You run `backup` on several machines, that's just fine.

You can then run the `forget` command on a single server, it will then remove snapshots for all systems that use the same repository according to the rules you specify. If the rules are different for hosts, just call `forget` several times with different `--hostname` filters. Afterwards, run `prune`

[2017-06-08 17:41] fd0 commented on #996
@cafuego could you please test the code in the branch `update-minio-go`? The PR is #1010

[2017-06-08 17:45] nbommu1 commented on #1007
thanks a lot, will work on that path.

On Thu, Jun 8, 2017 at 1:38 PM, Alexander Neumann <notifications@github.com>
wrote:

--
*Thanks*
*Niranjan*

[2017-06-08 18:03] fd0 commented on #1007
I'll close this issue for now, please report back when you get around to testing the proposed solution!

[2017-06-08 18:03] #1007 closed

[2017-06-08 18:08] skirmish commented on #1009
Sure, here you go;
[debug.txt](https://github.com/restic/restic/files/1061943/debug.txt)

Turns out there is a zero byte length file in the data folder. There might be more, would deleting it be an option?

thanks

[2017-06-08 18:10] fd0 commented on #1009
Thank you very much, I'll have a look. I think you can safely delete all empty files, restic never leaves empty files behind. That will likely also fix your problem. Please report back!

[2017-06-08 18:21] #820 closed

[2017-06-08 18:22] skirmish commented on #1009
Ah, cool, but unfortunately it didn't fix it, attached is the latest debug.
[debug.txt](https://github.com/restic/restic/files/1061985/debug.txt)

[2017-06-08 18:24] fd0 commented on #1009
Could you paste the stacktrace that matches the debug

[2017-06-08 18:32] fd0 commented on #1009
Ah, don't bother, I can reproduce it. There's a truncated file somewhere in your repo.

[2017-06-08 18:33] skirmish commented on #1009
d:\restic\restic -r d:\restic\backup rebuild-index
debug log file debug.log
debug enabled
enter password for repository:
counting files in repo
panic: trying to decrypt invalid data: ciphertext too small

goroutine 51 [running]:
restic/crypto.Decrypt(0xc0420de320, 0xd071d8, 0x0, 0x0, 0xd071d8, 0x0, 0x0, 0x0, 0xc04202e800, 0x5d)
        src/restic/crypto/crypto.go:280 +0x662
restic/pack.List(0xc042

[2017-06-08 18:41] fd0 commented on #1009
Could you please give the code in the branch `fix-1009` (PR #1011)

[2017-06-08 18:49] #965 closed

[2017-06-08 18:50] fd0 commented on #965
Done. `default` is now the default layout for the s3 backend, and there's a migrate command.

[2017-06-08 18:52] skirmish commented on #1009
Ergh, still no good;

debug log file debug.txt
debug enabled
restic 0.6.1 (v0.6.1-32-g1aab123-dirty)
compiled with go1.8 on windows/amd64

debug log file debug.txt
debug enabled
enter password for repository:
counting files in repo
panic: trying to decrypt invalid data: ciphertext too small

goroutine 47 [running]:
restic/crypto.Decrypt(0xc0420e0370, 0xd07220, 0x0, 0x0, 0xd07220, 0x0, 0x0, 0x0, 0x

[2017-06-08 18:57] fd0 commented on #1009
Huh, nice! At least two bugs already :)

[2017-06-08 19:02] skirmish commented on #1009
Lol, at some point I'm going to do a 'restic purge', I'm guessing that might find another ;)

[2017-06-08 19:04] fd0 commented on #1009
Let's tackle this first. I've pushed another commit in the branch `fix-1009`, please retry!

[2017-06-08 19:14] fd0 commented on #1005
Thanks for raising this issue, I think you have a valid point. The manual should explain the exclude filters without referencing godoc.org, and more examples are necessary.

[2017-06-08 19:22] skirmish commented on #1009
Looking good, been running 10 mins and no panics yet, I'll update when it's done, it'll be a while

[2017-06-08 19:27] fd0 commented on #1009
Ok, at the moment the faulty files aren't deleted, but reported each time you run `rebuild-index`, `check` or `prune`, so you'll need to delete them manually. I'll build something to automatically delete them later.

[2017-06-08 19:31] fd0 commented on #1005
To answer a few of your questions already:
 * The patterns are evaluated relative to the current working directory
 * Relative paths/patterns will match anywhere below the path to be saved
 * At the moment there's no way to distinguish between a file and a directory, so `--exclude foo` will exclude any files and directories named `foo`. The same goes for `--exclude foo/`.

[2017-06-08 20:39] skirmish commented on #1009
Yeah, it got to the end finally without panics:

debug log file debug.txt
debug enabled
enter password for repository:
counting files in repo
unable to list pack 00a39253: readHeader: header length is zero
unable to list pack 09fb8b79: readHeader: header length is zero
unable to list pack 0c618392: readHeader: header length is zero
unable to list pack 100c3798: readHeader: header length is zero
un

[2017-06-09 07:05] middelink commented on #327
Keep in mind this breaks backwards compatibility and also `restic ls` allows listing multiple snapshots.

While I have no problem with making `latest` the default snapshot, I think we should be consequent and do the same for all other restic cmds. In fact, if we're going to drop backwards compatibility, moving it from a positional argument to an (multi)flag would be nice as it frees up the args fo

[2017-06-09 09:33] middelink commented on #965
Will users get a nice message when they access a legacy S3 repo telling them to run migrate? Or is it all below the surface and they will never know till you drop s3_legacy support?

[2017-06-09 10:39] fd0 commented on #965
Hm, I haven't planned that in such detail. We'll mention it for sure in the changelog and when we phase out s3legacy for a few releases we'll probably display warnings. That should do it. Also, documentation for the `migrate` command is not done yet.

[2017-06-09 10:47] fwilhe commented on #327
Yes, I fully agree. My commits are currently not meant to be a solution for this issue, my goal is to explore what can be done. I think if the command's name is `ls`, then it should behave like I would expect `ls` to behave. I'm aware that this breaks backwards compatibility, but I think as long as version 1.0 is not released this is ok to do in a minor version. Maybe it would be best to line out

[2017-06-09 11:33] mnesrine opened #1013 "panic during backup to Minio server"
## Output of `restic version`
restic 0.6.1 (v0.6.1-17-g9cd664c)
compiled with go1.7.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)
restic  backup /path_to/Downloads/

## What backend/server/service did you use?
Minio

## Expected behavior
Be able to make a backup.

## Actual behavior

[code]

## Steps to reproduce the behavior
restic backup /path_to/Down

[2017-06-09 12:37] fd0 commented on #1013
Whoops, thanks for the report! Restic is able to backup large files (I've heard reports of up to 700GiB), so we need to find out what's going on here. From the error message it looks like as if either the minio server or the s3 client library (minio-go) returned an error. In order to debug this further could you please [create a debug log](https://github.com/restic/restic/blob/master/CONTRIBUTING.

[2017-06-09 12:38] fd0 commented on #1013
Can you please also repeat your test using the branch `update-minio-go` (see #1010)?

[2017-06-09 13:53] mnesrine commented on #1013
Thanks for reply, this is a debug-file, and a test is using "update-minio-go".

[restic-test-debug.zip](https://github.com/restic/restic/files/1064211/restic-test-debug.zip)

[2017-06-09 14:42] mnesrine commented on #1013
I tried again with  "GODEBUG=http2client=0,http2server=0"
and the error log seems slightly different this time. Hope this helps.

[restic-test-debug-with-GODEBUG.zip](https://github.com/restic/restic/files/1064347/restic-test-debug-with-GODEBUG.zip)

[2017-06-09 15:44] yhafri commented on #1013
Hi @fd0. I'm able to reproduce the issue with a file of *1.2GB* with restic `0.6.1` MacOS.

[code]

[2017-06-09 16:02] davidf560 commented on #996
@fd0 I'm seeing this problem with GCS as well. Testing with `update-minio-go` resolves the "offset is negative" errors but it still panics:

[code]

Is there anything I can do to help get to the bottom of this?

[2017-06-09 18:25] LaszloHont commented on #1005
Thanks @fd0

So with "current directory", you don't mean the directory I was in when I launched the backup, but the directory that restic is currently in examining the files (apart from excludes that begin with a slash). Got it.

The behaviour for files and directories is slightly unexpected, I would have expected --exclude foo/ to backup the directory but not the contents, whereas --exclude foo t

[2017-06-09 18:53] fd0 commented on #1009
Cool, thanks for the report!

[2017-06-09 18:54] #1009 closed

[2017-06-09 18:57] fd0 commented on #996
@davidf560 That seems to be a different problem. Could you run `check`, followed by `rebuild-index` before prune?

[2017-06-09 19:00] LaszloHont opened #1014 "Add information on special items (symlinks, device files, ...) to the manual"
Different backup programs handle symlinks differently, some backup the symlink, some follow the symlink and backup the content, most will stay under the location you start your backup at. Could this be added to the docs at https://restic.readthedocs.io/ ?

An example: what happens if you are in /my/path/ and there is a symlink to /my/ ? Will restic also backup /my/ even though it's outside of the

[2017-06-09 19:00] fd0 commented on #327
You raised some interesting points. From my point of view we can modify the `ls` command, I don't think many people use it.

[2017-06-09 19:05] fd0 commented on #1013
Thanks! I'm having a look now. Sounds like a bug in minio/minio-go...

[2017-06-09 19:16] fd0 commented on #1013
Hm, I'm unable to reproduce it... I'm unable to reproduce this on Linux with minio `RELEASE.2017-05-05T01-14-51Z` (from the minio/minio docker container) with a 2.7GiB video file.

@harshavardhana I'm really sorry to bother you again, do you have any idea what's going on here?

[2017-06-09 19:20] fd0 commented on #1013
Ah, the error message is from the Go http client: https://golang.org/src/net/http/transfer.go#L338

[2017-06-09 20:03] fd0 commented on #1013
I still don't have any idea what's going on. I've pushed a new commit which adds a bit of debug output to the branch `fix-1013`, could one of you please run a backup again while writing a debug log, and upload the panic as well as the debug log here? thanks!

[2017-06-09 20:07] fd0 commented on #1014
Hi, thanks for bringing this up. We're archiving symlinks as symlinks, we don't follow them. So when you restore, you'll get the same symlink again, with the same link target and the same timestamps. I think we can add that to a section in the manual which describes how we handle items in the file system that aren't files and directories (sockets, pipes, devices, symlinks etc.)

[2017-06-09 20:20] fd0 commented on #1005
Ah, I'm afraid that's still not completely correct. I'll describe how restic evaluates the exclude patterns. Let's suppose that restic is run by a user in his home directory (`/home/user`) like this:
[code]

Then restic will see the following command line arguments (after expansion by the shell):
[code]

Then, it starts traversing `/home/user`. The following list describes what happens when the na

[2017-06-09 20:39] fd0 commented on #1013
@mnesrine Were there any error logs from the minio server? The second log file contains a single HTTP response with `HTTP/1.1 500 Internal Server Error`...

[2017-06-09 21:00] LaszloHont commented on #1005
I have further questions, and I very much appreciate the time you are taking to answer them. It's really one question about automagic anchoring of patterns. I think I can guess the answer (we rely on the absolute path being fairly unique and giving us the behaviour we want), but it's best to ask and be sure.

Would the absolute pattern `/home/user/secret` match `/home/user/secret2`? (What if you d

[2017-06-09 21:02] fd0 commented on #1005
In both cases: No, the pattern won't match.

[2017-06-09 21:04] LaszloHont commented on #1014
So if you have a hardlink, there is the potential for the backup to go outside of the backup root (which is kind of expected I think, hardlinks screw everything up). A bind mount could do as well I suppose. I can't think of any other cases where that could occur though (is this right?)

[2017-06-09 21:06] LaszloHont commented on #1005
Why is that?

[2017-06-09 21:36] mnesrine commented on #1013
@fd0 here is the complete DEBUG log + the panic error using the fix-1013 branch

[restic-debug-fix-1013.zip](https://github.com/restic/restic/files/1065288/restic-debug-fix-1013.zip)

[log_error.zip](https://github.com/restic/restic/files/1065286/log_error.zip)

[2017-06-09 21:36] mnesrine commented on #1013
@fd0 no error in the Minio's log unfortunately.

[2017-06-09 23:04] harshavardhana commented on #1013
This i have seen usually happens when Go client saw a network disconnection etc. @fd0 . So i am not sure  either without further debug information.

If there is a consistent reproducer that would be nicer.

[2017-06-10 00:17] mholt opened #1015 "Backup planning: multiple repositories better than one?"
This isn't an issue/bug, but I wanted to ask the question and see what you (and other users) think.

I have some files on my laptop and some files on a mounted network drive. The network drive is only mounted sometimes when I am at home, but both contain master copies of their data. Because their data is disjoint, I want to back up both my laptop and the network drive to another local hard drive a

[2017-06-10 01:13] mholt opened #1016 "Restoring only a certain folder or file"
This MIGHT just be me "holding it wrong" but I need some guidance any way. :smile:

## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

[code]

## What backend/server/service did you use?

Local file

## Expected behavior

Restore a specific folder within the root of the repo which is called `myfolder`.

## Actual behavior

Didn't restor

[2017-06-10 03:56] mholt commented on #549
Given that you're not 1.0 yet, I vote that, if a breaking change has to be made in order for the ideal fix, go ahead and do it sooner rather than later.

[2017-06-10 06:06] LaszloHont opened #1017 "restic ls shows MISSING files"
## Output of `restic version`
restic 0.6.1
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)
restic -r /mnt/media/restictest ls latest | grep MISSING

## What backend/server/service did you use?
local

## Expected behavior
the output from ls should match what is on the filesystem, excluding excludes

## Actual behavior
weirdly named file

[2017-06-10 07:29] fd0 commented on #1013
@mnesrine Hm, that error seems to be different now, do you maybe have the full output of restic somewhere? The panic/stacktrace you sent is missing a few lines at the top...

@harshavardhana thanks for having a look. A network disconnect would be unusual, at least @yhafri used a local instance of the Minio server, so there's no real network in between...

[2017-06-10 07:43] teknico opened #1018 "Disabling encryption?"
I'd like to disable encryption, because I'm storing the backup to an encrypted partition, and would like to avoid the double encryption overhead. Yes, defense in depth and all that, but it'd still be nice to be able to.

[2017-06-10 07:55] fd0 commented on #1018
I've heard this feature request a few times now, and I had in mind that there was an issue about it. Since I can't seem to find it, this feature request is tracked here. The short version is: We may at some point eventually add an option to disable encryption, but that's not on the roadmap at the moment.

The long version is:
 * Encryption is not expensive any more, at least not if you have AES-NI

[2017-06-10 10:02] fd0 commented on #1005
The matching code there is modeled after what a shell would do: If you'd ask yourself, if the file `/home/user/secret2` exists, what would `ls /home/user/secret` print (provided the file `secret` does not exist)?

In more formal terms: If the pattern starts with a `/` it is absolute and the pattern must match at the beginning of the string under test, so pattern `/home/user/secret` does not match

[2017-06-10 10:12] fd0 commented on #1005
All these examples should be document in the manual I think.

[2017-06-10 10:15] fd0 commented on #1017
Huh, that's indeed a bug. Thanks for taking the time to report this!

[2017-06-10 10:15] mnesrine commented on #1013
@fd0 here are the results with two version of `Minio` using `restic fix-1013` (debug mode enabled).
I've also exported the environment variable during the tests:
export GODEBUG=http2client=0,http2server=0

[code]
[minio-version-5311eb22fd681a8cd4a46e2a872d46c2352c64e8.zip](https://github.com/restic/restic/files/1065757/minio-version-5311eb22fd681a8cd4a46e2a872d46c2352c64e8.zip)

[code]

[minio-ver

[2017-06-10 10:23] fd0 commented on #1013
@mnesrine Thank you very much for taking the time to debug this with us! This helps a lot!

It is indeed a different error, I may have introduced it in the patches in branch `fix-1013`. I've pushed a new commit which disables the panicking code, could you please run it again? I think it's sufficient to use the latest version for Minio.

Could you describe your setup a bit? You're using a remote in

[2017-06-10 10:34] fd0 commented on #1014
I think we need to define what "outside of the backup root" means. For file that is hard linked somewhere else, speaking in the semantics of a file system, the file is **in** the backup root. restic will only ever descend into the directories you give it on the command line after `backup`. It won't follow symlinks. If there is a bind-mount below a directory that is to be saved, restic descends int

[2017-06-10 10:41] fd0 commented on #1015
That's a good question. First: Both is possible (using a separate repo per data source, or using the same repo). If the data in both sources is completely different, then it doesn't make a huge difference if you use the same repo or not, because the deduplication is not of any use.

The second question is whether to backup to one (local) repo, and sync that to B2 (e.g. via rclone), or run separate

[2017-06-10 10:43] #1017 closed

[2017-06-10 10:45] fd0 commented on #549
@mholt I agree, I'm already working on this. As I said, this is caused by a bad design decision early on and needs to be corrected.

[2017-06-10 10:49] fd0 commented on #1016
Thanks for the question, it seem that the manual needs extensive examples for include/exclude in restore/backup cases :smile:

You can do two things: If the directory name `myfolder` is unique in your backup, then you can just use `restic restore --include myfolder`. Or you can use an absolute include pattern, but this needs to be in the format which `restic ls` prints (with the strange directory

[2017-06-10 10:51] fd0 commented on #1016
There's a proposal to add code to optimize for this use case (restore a single dir/subdir from a snapshot), see #982.

[2017-06-10 11:04] mnesrine commented on #1013
Ok here is the result with the last Minio version with the `patch for fix-1030`.

[debug-log-minio-version-40985cc4e3eec06b7ea82dc34c8d907fd2e7aa12.zip](https://github.com/restic/restic/files/1065790/debug-log-minio-version-40985cc4e3eec06b7ea82dc34c8d907fd2e7aa12.zip)

I'm working on an `Ubuntu 14.04` and using a remote `Minio` instance. There's no proxy/reverse-proxy between my local restic and

[2017-06-10 11:10] yhafri commented on #1013
@fd0 can't you use some `traffic shaping` tools to simulate `small bandwidth`, `packet loss`?

-  Linux: [Netem](https://wiki.linuxfoundation.org/networking/netem)
-  Linux: [tc](http://lartc.org/manpages/tc.txt)
-  MacOS: [Network Link Conditioner](http://nshipster.com/network-link-conditioner/)

[2017-06-10 11:14] fd0 commented on #1013
@mnesrine thank you very much. Unfortunately you haven't' included the debug log in the zip...

@yhafri sure, I can do that and have already experimented with it, but was unable to reproduce the error...

[2017-06-10 11:19] fd0 commented on #1013
@yhafri Can you describe your setup? Maybe we can found out what's going on then. You're using a local instance of Minio on OS X, right?

[2017-06-10 11:21] yhafri commented on #1013
Sure. I'm using `restic 0.6.1` on MacOS with the latest Minio.
My internet connection is quite stable (fiber channel).

I tried with a file of `1.2GB` as described above.

[2017-06-10 11:42] fd0 commented on #1013
Can you reliably reproduce the issue?

[2017-06-10 11:54] LaszloHont commented on #1014
Thanks.

[2017-06-10 12:01] mnesrine commented on #1013
Sorry, he it is again with DEBUG_LOG included.
[debug-log-minio-version-40985cc4e3eec06b7ea82dc34c8d907fd2e7aa12.zip](https://github.com/restic/restic/files/1065819/debug-log-minio-version-40985cc4e3eec06b7ea82dc34c8d907fd2e7aa12.zip)

[2017-06-10 12:05] LaszloHont commented on #1005
Gotcha. Thanks.

[2017-06-10 12:10] yhafri commented on #1013
Unfortunately i'm not able to reproduce it anymore.

[2017-06-10 13:07] LaszloHont opened #1020 "restic is listing symlinks as normal (resolved) files"
restic appears to be hiding symlinks in the output of ls. Perhaps I am doing it wrong.

filesystem:
[code]

restic ls:
[code]

## Output of `restic version`
restic 0.6.1
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)

## What backend/server/service did you use?
local

## Expected behavior
Show the symlink in the output of ls

## Actua

[2017-06-10 13:07] LaszloHont commented on #1020
I didn't test what it does on a restore.

[2017-06-10 13:25] middelink commented on #1020
I believe this is shown under the long output (-l)
...
[code]

[2017-06-10 15:31] fd0 commented on #1020
Symlinks are properly restored.

`restic ls` matches what `ls` does:
[code]

[code]

[2017-06-10 15:31] #1020 closed

[2017-06-10 15:38] fd0 commented on #1013
Hm, that's a different error now, the error message is `We encountered an internal error, please try again.`, the full error:
[code]

@harshavardhana when does the Minio server return an internal error without logging anything to stdout/stderr?

[2017-06-10 16:48] fbkopp commented on #988
@fd0 I have same situation as @durcom have described above. Using Ubuntu 16.04 and running restic and samba share as root user. As client used windows 10. I can list directories and files, this part is ok. Coping a file is the trouble. As windows special char COLON (:) are forbidden, i changed fuse code to replace with underline (samba option "mangled names" not helped) , and this was the first pr

[2017-06-10 16:53] mholt commented on #1016
Ah, indeed, using the absolute path as given by `restic ls` did the trick. The folder name is NOT unique in my case so I had to use that "repo-absolute" path.

I'm satisfied with this so I'll close the issue.

[2017-06-10 16:53] #1016 closed

[2017-06-10 16:56] mnesrine commented on #1013
@fd0 @harshavardhana

Here is the same crash but this time with `Minio's` log included.

[debug-log-minio-restic.zip](https://github.com/restic/restic/files/1065949/debug-log-minio-restic.zip)

Hope this helps.

[2017-06-10 17:00] LaszloHont opened #1021 "Die on unsupported repo type?"
Could restic fail if I try to backup to an unsupported repo type? I spent five minutes working out that b2:thing:thang is backing up to my current directory at b2:thing:thang all because I am using the release version of restic, and not the git built version. 😊

## Output of `restic version`
$ restic version
restic 0.6.1
compiled with go1.8.3 on linux/amd64

[2017-06-10 17:22] fd0 commented on #1021
Yeah, I also ran into that. I'll add code so that restic fails if the repo location contains a : with an unsupported schemes. If someone really wants to backup into `/foo/bar:repo`, then they need to specify that as `local:/foo/bar:repo`.

[2017-06-10 17:28] harshavardhana commented on #1013
So what is seen from server side is following

[code]

[code]

So server has a 15sec timeout on the incoming i/o on idle clients, If the i/o takes longer then the i/o is automatically closed and client connection is closed returning an error.  Strangely minio is sending an odd message which we need to fix.

@fd0 yes minio-go retries the internal error anything with http.Status >= 500

Is the netwo

[2017-06-10 17:44] yhafri commented on #1013
@harshavardhana on behalf of @mnesrine here is the `iperf` output:

[code]

[2017-06-10 18:20] fd0 commented on #1013
Hm, so restic opens a few connections to the server in parallel, is it maybe possible that some of these connections starve in this low bandwidth situation?

@mnesrine to test my theory, you can try setting the number of connections to 2 or even 1 with:
[code]

[2017-06-10 18:31] mnesrine commented on #1013
@fd0 you sure about this option:

[code]

[2017-06-10 18:45] fd0 commented on #1013
Ah, sorry, you need to use the master branch for that, I based the `fix-1013` on `9cd664c` (from the original report).

[2017-06-10 18:46] fbkopp commented on #988
i have create a debu log.

- add user root to samba
smbpasswd -a root
- enable root user on samba
smbpasswd -e root

/etc/samba/smb.conf:
[test_restic]
  path = /home/test_restic
  guest ok = yes
  valid users = root
  guest only = yes
  browseable = yes
  read only = yes
  force user = root
  force group = root

replace line src/restic/fuse/snapshot.go#L127 with: timestamp := strings.Replace(snap

[2017-06-10 19:03] mnesrine commented on #1013
@fd0 Here is the crash log with `master` branch:

[debug-log-minio-restic.zip](https://github.com/restic/restic/files/1066052/debug-log-minio-restic.zip)

Also, i've tried with both `-o s3.connections=1` and `-o s3.connections=2` and got the same crash.

Minio's log was empty. Strange, isn't it?

[2017-06-10 19:04] fd0 commented on #1013
It's super strange :)

[2017-06-10 19:04] fd0 commented on #1013
Oh, now that's (again) a completely different error, the options parsing broke... hm.

[2017-06-10 19:07] fd0 commented on #1013
Sigh, please try again with the latest master (including the commit that fixed option parsing for uint).

[2017-06-10 20:18] mnesrine commented on #1013
@fd0 trying with -o s3.connections=2 makes me backup `19MB` out of ~356MB (original file). I never made it so far. But still, it crashes after couple of minutes.

Logs include `restic `and `Minio` ones.

[debug-log-restic-mater.zip](https://github.com/restic/restic/files/1066091/debug-log-restic-mater.zip)

[2017-06-10 20:27] fd0 commented on #1013
Ok, the underlying issue here is that Minio returns an internal server error after some time...

[2017-06-11 04:53] gabesullice opened #1023 "Panic when backing up to Amazon S3"
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
[code]

## What backend/server/service did you use?
Amazon S3

## Expected behavior
I expected my backup to succeed? :man_shrugging: I know that's not incredibly useful. Happy to answer more questions though.

## Actual behavior
[code]

## Steps to reproduce the behavior
I'm not sure if t

[2017-06-11 05:04] wrouesnel commented on #1018
An alternative reason to want unencrypted backups (locally) is so a central repository could be shared by multiple users - i.e. on my home server I'd like to send backup to it via HTTPS, but let them all be deduplicated into a common repository, even if they're presented as being logically separate to individual users.

[2017-06-11 07:41] fd0 commented on #1023
Thanks for the report, and for providing all the details in the template. Could you please run the backup again, and when the error occurs then dump the currently active connections with `netstat -an | egrep :(443|53) > /tmp/netstat`? Then either paste this file here (maybe redacted) or have a look at the number of connections to s3 (in state ESTABLISHED or TIME_WAIT). Are there a lot?

[2017-06-11 08:55] fd0 commented on #1013
I'm finally able to reproduce it by limiting my upstream bandwidth to about 10KiB/s with `tc`:
[code]

[2017-06-11 10:24] fd0 commented on #1023
The issue should be fixed in #1025, could you please give the code in the branch `fix-1013` a try?

[2017-06-11 10:25] fd0 commented on #1013
The code in the branch `fix-1013` fixes this issue. You need to manually run `git checkout master; git fetch origin; git branch -D fix-1013; git checkout fix-1013`, I have force-pushed it.

[2017-06-11 10:53] mnesrine commented on #1013
@fd0 A little victory by using `-o s3.connections=1`. I was able to upload a `~532MB` file after couple of hours.

[code]
[debug-log-restic-mater.zip](https://github.com/restic/restic/files/1066359/debug-log-restic-mater.zip)

I still don't consider that as a fix for this issue because there's no reason for it to work with `-o s3.connections=1` and not with `-o s3.connections=2` :-(

Hope that you

[2017-06-11 11:09] fd0 commented on #1013
Thanks for the feedback, could you please test the branch `fix-1013` again? I have force-pushed the branch, you may need to delete it and check it out again.

[2017-06-11 11:37] mnesrine commented on #1013
This step produced an error, but I think it's OK, right?

$ git branch -D fix-1013
error: branch 'fix-1013' not found.

I'm re-running the test now ...

[2017-06-11 11:38] fd0 commented on #1013
The error is ok, depends on how you checked out the branch before. Running `git show` on the branch should show the following commit:
[code]

[2017-06-11 11:41] yhafri commented on #1013
@fd0 I'm looking at the changes in [fix-1030](https://github.com/restic/restic/commit/9e14609effe05c36414939207ac78c747616edf6). What this change is supposed to do?

[code]

[2017-06-11 11:53] fd0 commented on #1013
I've reverted the code to use the high-level client minio-go provides. `be.client` is the default client, `coreClient` was a lower-level variant. See http://godoc.org/github.com/minio/minio-go#Client.PutObject vs http://godoc.org/github.com/minio/minio-go#Core.PutObject.

The main difference is that the former automatically does larger uploads in several parts which can be resumed, in addition it

[2017-06-11 12:05] mnesrine commented on #1013
@fd0 unfortunately it crashes again on a `100MB` test file.

[code]

[debug-log-restic-mater.zip](https://github.com/restic/restic/files/1066394/debug-log-restic-mater.zip)

[2017-06-11 12:15] fd0 commented on #1013
I'm sorry to ask, but: Are you sure you are in the right branch? What's the current commit ID in the branch? Could you please run `git describe`?

[2017-06-11 12:16] mnesrine commented on #1013
[code]

[2017-06-11 12:21] fd0 commented on #1013
Thank you very much for your patience! I'm currently running the backup again myself, with the default number of 5 connections. It feels to me as if your connection to the server tends to starve connections if they completely max out the bandwidth, that doesn't happen with my test setup here locally.

Next, you can try with `-o s3.connections=1` again.

[2017-06-11 12:23] mnesrine commented on #1013
I'm already trying with `-o s3.connections=2` and it's still running ... crossing fingers

[2017-06-11 12:25] davidf560 commented on #996
@fd0 Ran `check` and it reported a repository corruption error. Ran `rebuild-index` and then `check` again and all seems to be working now. After that `prune` seems to work correctly on GCS for me (still using the `update-minio-go` branch).

Thanks for your help.

[2017-06-11 12:33] fd0 commented on #996
Ok, great! You can switch back to the master branch by the way, the update to the minio-go library has been merged in #1010.

I'm closing this issue, please feel free to add further comments. Thanks!

[2017-06-11 13:58] mnesrine commented on #1013
Unfortunately backup test with `-o s3.connections=2` it crashes on a 100MB test file.

[debug-log-restic-mater.zip](https://github.com/restic/restic/files/1066468/debug-log-restic-mater.zip)

Now i will try with `-o s3.connections=1`.

[2017-06-11 15:25] turnkey-commerce commented on #340
To more easily integrate restic with automatic VSS creation I wrote a Windows PowerShell script that can be run to automate this without the complications mentioned above.  It is available in the attached zip:
[restic-backup-windows-vss.zip](https://github.com/restic/restic/files/1066538/restic-backup-windows-vss.zip)

If restic has a repository for external scripts but perhaps it could be include

[2017-06-11 15:55] mnesrine commented on #1013
The backup it's ok wihen i use  `-o s3.connections=1`

[2017-06-11 16:13] mholt commented on #1015
@fd0 Indeed, the data on my laptop and the network drive is different, so I guess locking won't be an issue if backing up to the same repo? And one repo is probably easier to keep track of and manage than two.

I hadn't thought about your second point, about just syncing the repo to B2 using rclone or something. 🤔 Backups are CPU intensive, and on a raspberry pi that's a lot to ask, so maybe cloni

[2017-06-11 16:28] gabesullice commented on #1023
Here is the output of netstat _pre_ `fix-1013`.  I am running with `fix-1013` now and will report back on whether the issue is resolved.

[code]

[2017-06-11 16:32] gabesullice commented on #1023
`fix-1013` did not resolve the issue. Here is the output of netstat with that version:

[code]

[2017-06-11 18:09] fd0 commented on #1023
Hm, interesting. From the error message it looks like restic (via the `minio-go` s3 client library we're using) tries to open a new connection to s3 but the hostname lookup fails. This may be the case when too many file descriptors are used, we've seen that before but never really figured out the cause...

I have two suggestions on what you could try:
 * Lower the number of concurrent connections

[2017-06-11 18:36] gabesullice commented on #1023
When I run with the `s3.connections` option, I get: `option s3.connections is not known`

I'm wondering if I'm actually compiling the right version, I have `fix-1013` checked out, but I still get:

[code]

I'm compiling like so:

[code]

I'm running a backup with `--enable-cgo` and will report when done.

[2017-06-11 19:03] fd0 commented on #340
Thank you very much! There's no `contrib` repo of some kind, but I'm sure that interested users will find this issue and your script.

[2017-06-11 19:05] fd0 commented on #1023
Something is off here, that's a very old commit. Could you please run: `git fetch origin` and `git reset --hard origin/fix-1013`?

[2017-06-11 19:07] fd0 commented on #1013
Nice, so that's at least something. I still have the feeling that something in between you and the minio server is maybe doing strange things (buffer bloat?) so the connections don't survive. I'll merge the branch later today and declare this issue as resolved then. You need to pass `-o s3.connections=1` for every call of restic for now.

[2017-06-11 19:09] fd0 commented on #1013
I've just found another s3 quirk, if you like you can run the code from the `fix-1013` branch again. While the branch is checked out, run `git fetch origin; git reset --hard origin/fix-1013`, then build restic as usual. Maybe then it will even work with 2 or 5 connections...

[2017-06-11 19:11] fd0 commented on #1015
Locking isn't an issue, even when the data is completely the same and you run the backup for two sources in parallel. It may then happen that a bit too much data is saved, but that is cleaned up the next time you run `prune`.

It's not silly to sync back and forth if that's the best solution. After all the B2 backend gives you many additional possibilities: Restoring directly from B2, and more imp

[2017-06-11 19:27] mholt commented on #1015
Ohh, so if I only sync the repo to B2 instead of backing up to it directly, I can't restore from it or mount as a drive?

Yeah, we can close this. :) My mail question(s) have been answered.

[2017-06-11 19:27] #1015 closed

[2017-06-11 19:31] fd0 commented on #1015
Hm, maybe I was unclear: If you backup to a local repository, sync that (including deletes) to B2, then you can use the repo on B2 the same way as the local repo: Mount, restore, all works. You shouldn't backup to the B2 repo in this constellation, that may have unwanted side effects.

[2017-06-11 19:32] turnkey-commerce commented on #340
You're welcome and thanks for sharing this useful application!

[2017-06-11 19:34] mholt commented on #1015
Ah yes, thanks for the clarification! I edited my answer at the same time, where I eventually figured that out, haha. Thanks again.

[2017-06-11 19:59] harshavardhana commented on #1013
The problem here is visible in the iperf output the bandwidth isn't sufficient `1.05 Mbits/sec` this is in bits now divide this by `8` you would get `0.131` Mbytes/sec - given that the connection can only upload 2MB in 33secs the latency is quite high.

No wonder it can only work with single connections, using more connections such as 8 by default your bandwidth is sufficiently halved more.

Espec

[2017-06-11 20:03] mnesrine commented on #1013
Testing now with `-o s3.connections=5` from this branch:

[code]

[2017-06-11 20:07] gabesullice commented on #1023
Okay, ran fetch and reset hard.

[code]

Without `s3.connections=2`:

[code]

With `s3.connections=2`

To be determined, but it's been uploading for 45 minutes and there's an estimated 45 minutes left. That's the longest and furthest I've gotten yet. I will report back if it succeeds/fails.

[2017-06-11 20:14] fd0 commented on #1023
What's your upstream bandwidth? We've had a similar case in #1013, which is probably caused by too many connections on a very narrow upstream bandwidth...

[2017-06-11 20:23] yhafri commented on #1013
@harshavardhana

Playing with timeouts will not resolve anything, IMHO. It's better safe to stick with this `15sec` for now (or even lower it).

Q: I read from the above that there's a _retry mechanism_ in the protocol. How may attempts before giving up?

@fd0 Can't you dynamically adapt the number of connections `-o s3.connections=X` to Minio if you get too many retries? Something between: `-o s3

[2017-06-11 20:31] harshavardhana commented on #1013
Its 5 times before the minio-go gives up. @yhafri given its a network error or any http error >= 500

[2017-06-11 20:33] yhafri commented on #1013
I see. Can we set this to a bigger value while starting Minio?

[2017-06-11 20:37] harshavardhana commented on #1013
Actually this value is not configurable yet in client SDK, but it can be done.. @yhafri . Let me explore this..

Minio server on the other hand will actually stay at 15 sec for now until we re-factor some code to make it dynamic in subsequent months.

[2017-06-11 20:38] yhafri commented on #1013
@harshavardhana thanks

[2017-06-11 21:05] gabesullice commented on #1023
Success with `s3.connections=2`!

It averages just about ~1.5 Mb/s.

[2017-06-11 21:47] mnesrine commented on #1013
@fd0 if failed with `-o s3.connections=5` but worked with `-o s3.connections=2`

[2017-06-12 09:21] alexeymuranov commented on #1018
Hm, i thought the idea was that a repository is either encrypted or not, so it would not be possible to save data unencrypted into a repository that is encrypted... And if an encrypted repository is somehow replaced by an unencrypted one with the same name and location, the user should notice that no password have been asked. Maybe a warning in bold red blinking text can be printed, that the repos

[2017-06-12 10:32] fd0 commented on #1013
Thanks for the feedback. I'm going to merge the branch later today, and I'll also keep that in mind when I refactor the archiver part. At the moment I imagine that there will be some code in between the archiver and the backend which measures the bandwidth and latency, starts saving single files and only if that's  fast enough starts saving multiple files in parallel. The `s3.connections` setting

[2017-06-12 10:32] fd0 commented on #1023
Thanks! I'll merged the branch later today, I've added a comment about future plans here: https://github.com/restic/restic/issues/1013#issuecomment-307752029

[2017-06-12 12:53] bwmarrin commented on #340
That's a nice script @turnkey-commerce  :) I've been using normal non-powershell batch file to do this with rsync, but your version is nicer.

On the topic of restic though.  Adding VSS support somehow would be really really OMG really nice :)  Without that, it's hard to break into the Windows Enterprise segment of backups where VSS is both expected and really needed.  Of course, shell script work

[2017-06-12 14:34] yhafri commented on #1013
@harshavardhana can you please show me where in the Minio's source code i can increase this retry variable to a bigger value? I would like to test again these corner cases. Thanks.

[2017-06-12 15:46] gabesullice commented on #1023
Thanks for all your help! Great project!

[2017-06-12 15:46] #1023 closed

[2017-06-12 17:30] fd0 commented on #1013
Since another user also reported that with a connection limit of 2 it worked well, I'm considering lowering the default value to 2. What do you think?

[2017-06-12 17:34] harshavardhana commented on #1013
@yhafri you can change this value with `minio.MaxRetry = 10` in restic whereever restic uses `minio.New()`

https://github.com/minio/minio-go/blob/master/retry.go#L28

AWS is notorious in closing connections it would be worth it @fd0 and would work for most people i would think.

[2017-06-12 17:58] #1013 closed

[2017-06-12 17:58] fd0 commented on #1013
The branch is merged, thanks for your patience!

[2017-06-12 17:59] fd0 commented on #1023
The branch is merged, thanks for your patience!

[2017-06-12 18:49] yhafri commented on #1013
Thanks @harshavardhana

@fd0 do you think you can make the `minio.MaxRetry = 5` as environment option?
Something like: `-o s3.minio.maxretry =5`

This would simplify testing with different values.

[2017-06-12 19:05] fd0 commented on #1013
I can indeed create a test branch for you to use, just a moment please :)

[2017-06-12 19:06] yhafri commented on #1013
@fd0 honestly, i can't see any difference in term of speed when using `2`, `5`, or even `50` connections. So `2` is fine for me as long as we can save some resources.

[2017-06-12 19:10] fd0 commented on #1013
see #1027 (branch `s3-set-retry`). That branch has the `-o s3.retries=x` option

[2017-06-12 19:15] fd0 commented on #1013
@yhafri For `backup` having only two connections is not a problem, but for the expensive operations that load metadata from the repo it is (`prune`, `find`, `ls`, etc)

[2017-06-13 00:43] cafuego commented on #996
I finally got around to rerunning with 0.5.0 so I'll post my results here anyway before bumping to the latest version and retrying. (I get the same output as @davidf560)

[code]

Up next is a version bump, reindex and then re-expire/prune.

[2017-06-13 03:09] cfcs commented on #1018
@wrouesnel you can do that already, distinguishing by hostname! (I was wondering the same the other day) :)

@alexeymuranov how do you determine if the password entered by the user is the encryption password for an encrypted directory, or the MAC password for verifying authenticity of an unencrypted directory? more `--switches`? It becomes very messy very fast.

[2017-06-13 05:42] mholt commented on #1015
@fd0 Oh, one more follow-up question. Is it a problem if rclone syncs while the backup is being performed? Of course, the sync is read-only from the source (where the backup is actively happening), but could that lead to a synced backup on B2 that's in an inconsistent state?

[2017-06-13 07:30] fd0 commented on #1015
Hm, excellent question.  I don't think that it is a problem starting the sync while the backup is still running. You may end up with a repo on B2 that in itself contains too much data and does not have the latest snapshot (as the snapshot file is stored at the end). Apart from that it should work just fine. Please let me know if anything goes wrong, you can easily test that by running `restic chec

[2017-06-13 07:31] fd0 commented on #1015
Ah, maybe another comment on the restic repository format: It is designed in a way that during backup, no data is ever modified or removed, it only creates now files. Only `forget` removes snapshot files, and `prune` removes data files (and adds new ones), but even those operations won't modify existing files.

[2017-06-13 08:52] cafuego commented on #996
I've rebuilt restic from master, I'm now on `restic 0.6.1 (v0.6.1-71-gbd7d5a4)`

The `rebuild-index` task completed without errors and I see the expected number of snapshots in the repository. I ran `check` on the repository and it reported no problems.

However, a `forget --prune` does still error out (though with a different error now).

[code]

Do you want me to do another debug build & run?

[2017-06-13 09:24] fd0 commented on #996
Hm, that's odd. restic tries to close the tempfile (before removing it), and it seems the file has already been closed. We have tests in place which check that this does not happen, and it does not happen for AWS S3 and Minio, but apparently for GCS.

@harshavardhana Is it possible that `PutObject()` closes the `Reader` when used with GCS?

[2017-06-13 09:32] harshavardhana commented on #996
@fd0 - i need to check GCS only does single PutObject() - if there are step by step details i can setup a GCS account and get this tested? - Thanks.

[2017-06-13 09:43] fd0 commented on #996
By the way, the Go HTTP client by default closes the reader for e.g. Post requests, that's really annoying: https://godoc.org/net/http#Client.Do

[2017-06-13 09:46] fd0 commented on #996
@cafuego You can try running the integration tests for s3 on GCS, for that you need to:
 * Export the credentials in the environment variables `RESTIC_TEST_S3_KEY` and `RESTIC_TEST_S3_SECRET`
 * Export a repository location with a hostname/bucket that should be used for the test, eg. with `export RESTIC_TEST_S3_REPOSITORY=s3:...`
 * Then, from the root of the restic repo, run: `GOPATH=$PWD:$PWD/ve

[2017-06-13 18:25] mholt commented on #1015
Excellent, thanks! What I have so far is:

- My laptop and a home file server backing up to the same repo on a network drive
- The home server is syncing the backup repo to B2 using rclone

Amazingly, it's working. I've tested restores and syncing (with rclone) while backing up and you're right, the snapshots don't appear on B2 until the next sync, but that's fine, since they'll both run regularly

[2017-06-13 18:54] fd0 commented on #1015
Nice, thanks for the feedback!

[2017-06-13 21:33] rfjakob commented on #895
Hmm, I'm confused, setting a port does seem to be supported using the

    sftp://host:10022//dir/subdir

URL format. It even has a testcase: [sftp/config_test.go#L23](https://github.com/restic/restic/blob/master/src/restic/backend/sftp/config_test.go#L23). Is this deprecated functionality?

[2017-06-13 21:41] cafuego commented on #996
[code]

[2017-06-13 21:44] cafuego commented on #996
Apropos of nothing, I ran init on the non-existent bucket to create the test repo:

[code]

I hadn't noticed that before, as I'd previously created my buckets manually prior to running init, to select a specific location and storage class.

[2017-06-13 22:48] harshavardhana commented on #996
[code]

I am seeing this.

[2017-06-13 23:28] harshavardhana commented on #996
I see something strange is happening

Restic fails
[code]

`mc` mb works.
[code]

[2017-06-14 00:49] harshavardhana commented on #996
@fd0 so i checked in its entire life time we only take in io.Reader and there no reflections to close this. It looks like the `tmpFile()` is sort of invaild already and closed by some other entity.

So i added debug statements inside the `*os.File` close for the fs.TempFile() here is the output

[code]

I see that http2Transport is closing the body

[code]

[2017-06-14 00:50] harshavardhana commented on #996
My suggestion is that its not necessary for you to check the Close() to have not failed etc, since it is quite possible in Go that the finalizer would have called and closed the fd as well and you can't synchronize it.

It is better to just `defer` on the Close() or just close and proceed.

[2017-06-14 01:03] harshavardhana commented on #996
But in IMHO i don't see the purpose of Go http client closing the body,  It is as unnecessary idea as setting a finalizer on the `*os.File` which is also a headache along with runtime.KeepAlive() .  Removing the check for Close() completes the call.

[code]

[2017-06-14 05:48] fd0 commented on #895
You're right, it is supported via the old url-style syntax, which is deprecated and will be removed eventually.

[2017-06-14 05:51] fd0 commented on #996
Thanks for the analysis, I suspected something like this. I don't like that the HTTP client closes the body at all: Restic uses tempfiles to bundle data into pack files, and if the upload fails (the Go HTTP client even closes the reader in this case) the tempfile needs to be reopened.

I'll probably wrap `*os.File` with something akin to `ioutil.NopCloser()` to prevent closing the reader.

[2017-06-14 06:17] harshavardhana commented on #996
Well for the most part we have a Seeker() due to certain AWS S3 requirements we have to compute sha256, md5  - minio-go detects if the input io.Reader is actually

 - *os.File (is automatically seeked based on the io.Seeker available)
 - Satisfies io.ReaderAt interface (ReaderAt can read at offsets with expected buffer sizes)
 - Pure stream (Read, Buffer in bytes.NewReader() and upload).

There is

[2017-06-14 06:24] fd0 commented on #996
Thanks for the explanation! What does minio-go do when the endpoint is GCS?

[2017-06-14 06:30] harshavardhana commented on #996
Its always single PutObject() no multipart etc.  Just this https://github.com/minio/minio-go/blob/master/api-put-object.go#L191 - So any network error here can be retried as well.

Internally the input io.Reader is not used anymore once the data has been copied over to temporary file as mentioned earlier. Since the temporary file is a Seeker it is retry friendly.

[2017-06-14 06:57] fd0 commented on #996
Ok, thanks! We have requests (and plans) to integrate native GCS support eventually, so from my point of view there's no pressing need to have minio-go handle all special cases for GCS (but it would be nice to have, just not such a high priority).

[2017-06-14 06:59] fd0 commented on #996
@cafuego thanks for running the tests against GCS, the result is roughly what I expected. I'll add a few  fixes later, and it'd be great if you could run the tests again then.

[2017-06-14 07:01] harshavardhana commented on #996
minio-go requirement stops at S3  protocol compatibility @fd0 - we will never be implementing GCS support natively. If GCS ever comes with fully supported S3 API then minio-go will work transparently. It is better to use google-cloud-sdk for native support.

[2017-06-14 07:17] cafuego commented on #996
@fd0 easy - thanks for the on-going support :-)

[2017-06-14 08:18] aksdb opened #1028 "restic process hangs in state "D" (and therefore cannot even be killed)"
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
[code]
(Actual list of directories and files to be backed up is stripped for privacy reasons; the target directory name is anonymized as well.)

## What backend/server/service did you use?
Filesystem, but the target is a CIFS share with Kerberos authentication.

## Expected behavior
The p

[2017-06-14 08:42] Radioactive-Man opened #1029 "Prune does not remove all unneeded data"
## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

[code]
[code]

## What backend/server/service did you use?
Backup is stored on a CIFS share

## Expected behavior
Prune should delete the unneeded files

## Actual behavior
Prune does not delete the files

## Do you have any idea what may have caused this?
I have killed (closed the comm

[2017-06-14 10:10] dirk777 commented on #983
fd0, which further information do you need?

[2017-06-14 10:53] fd0 commented on #983
The Hetzner case is solved, it's caused by their version of proftpd.

The strate case puzzles me, but I have a hunch what's maybe going on here. Do you know what they are using as the sftp server implementation? Did it work with a previous version of restic?

You can try if patching restic as follows works:
[code]

[2017-06-14 12:01] dirk777 commented on #983
it works still very reliable with restic 0.5.0

here are the verbose of sftp command to strato's hidrive:

[code]

[2017-06-14 12:04] fd0 commented on #983
Ok, so they're using OpenSSH. We don't know what the sftp server implementation on their side is. Whan maybe happens here is that restic tries to create a new file with the flag `O_EXCL` and the server responds with a "Permission Denied" error. This flag instructs make the create file operation fail if the file already exists. Maybe their sftp server implementation doesn't accept it?

Can you try

[2017-06-14 14:11] jkahrs opened #1030 "prune panic at 100%"
## Output of `restic version`
restic 0.6.1 (v0.6.1-71-gbd7d5a42)
compiled with go1.8.3 on linux/amd64

## How did you start restic exactly? (Include the complete command line)
[code]

## What backend/server/service did you use?
sftp

## Expected behavior
restic prunes the repository and unlocks it afterwards

## Actual behavior
the prune command paniced before the repo was unlocked

[code]

### ab

[2017-06-15 08:59] snc opened #1032 "Corrupted index if prune fails at PUT request because of HTTP error 413"
## Output of `restic version`
[code]

## How did you start restic exactly? (Include the complete command line)
`restic --password-file restic.key forget -d 14 --prune`

## What backend/server/service did you use?
Minio behind NginX Proxy with `client_max_body_size 64m;`

## Expected behavior
Pruning the backup

## Actual behavior
Pruning was interrupted

## Steps to reproduce the behavior
Have a b

[2017-06-15 09:25] lloeki opened #1033 "Feedback on actual backup data I/O"
## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

[code]

## What backend/server/service did you use?

S3

## Expected behavior

Restic should output statistics about data actually sent (and possibly received) in addition to processed data. Could be live feedback, could be a summary (rsync style), could be both.

Example:

[code]

## A

[2017-06-15 10:26] fd0 commented on #1032
Thanks for raising this issue. I'm not sure what the exact timeline was, can elaborate on that a bit?

What I'm guessing is:
 * `restic backup` successful
 * `restic forget --prune`, uploading a new index failed because of the upload limit of 64MB
 * `restic check`, many error messages regarding non-existing pack files
 * `restic backup` again, error messages, but backup seemed to be successful
 *

[2017-06-15 10:27] fd0 commented on #1033
Thanks for raising this issue explicitly. I'm aware of the problem, and it'll be address when I come around to reworking the archiver code. I'll then build a new reporting framework so we can have better stats.

[2017-06-15 10:29] fd0 commented on #1030
Thanks for raising this issue! This seems to be a bug in the prune stats reporting function.

[2017-06-15 10:36] fd0 commented on #1030
I can reproduce it.

[2017-06-15 10:43] fd0 commented on #1029
Thanks for raising this issue. What happens here is that restic got terminated while writing pack files, so the header (at the end of the file) wasn't written successfully. I agree that prune should remove those files.

[2017-06-15 10:46] snc commented on #1032
Timeline was:

* `restic backup` successful
* `restic forget --prune`, uploading a new index failed because of the upload limit of 64MB
* increased upload limit
* `restic backup` again, error messages, but backup seemed to be successful
* `restic forget --prune` again, resulting in

[code]

* `restic check`, many error messages regarding non-existing pack files
* `restic rebuild-index` successful,

[2017-06-15 10:47] fd0 commented on #1028
Thanks for raising this issue. According to [this post on StackOverflow](https://stackoverflow.com/a/1475715), restic is waiting for IO from the filesystem (CIFS mount in your caes). I'm not sure if there's anything we can do here, besides having a better UI which informs the user that there's no progress...

[2017-06-15 11:02] fd0 commented on #1032
Thanks for the clarification. I'm glad that restic recovered so well :)

What happened here is approximately the following:
 * `prune` couldn't upload a new index. At that point, it had already removed pack files, wrote still used data into new pack files, uploaded those new pack files successfully and removed the old index files. Important: All needed data was still present, in the repository, th

[2017-06-15 11:28] snc commented on #1032
I don't think that it really uploaded all data again. The backup after the failed prune used the snapshot from the last backup (the one right before the failed prune). Normally the backups take ~30min, the one after the failed prune took ~40min. I also checked the network statistics and I don't see any peeks.

[2017-06-15 11:35] fd0 commented on #1032
Hm, maybe you're right.

[2017-06-15 12:18] Radioactive-Man commented on #1029
Yes for me this is fine I can delete the files and it is OK for me, so it is up to you how to handle this issue. Once more thanks for this great backup program.

[2017-06-15 13:07] fd0 commented on #1013
@yhafri Did you find the time to have a look yet?

[2017-06-15 13:27] simulot opened #1037 "sftp backend not usable on FreeBSD"
The documentation page about SFTP (http://restic.readthedocs.io/en/latest/manual.html?highlight=sftp#sftp) mention a wrong format for SFTP repo string:
restic -r sftp:user@host:/tmp/backup init

A look to source code (thanks to open source) shows the expected format:
restic -r "sftp://user@host/path" init

++
great job!

[2017-06-15 13:31] fd0 commented on #1037
Hey, thanks for leaving an issue. The format you discovered is actually the old, deprecated format, which isn't mentioned in the docs any more because it shouldn't be used. I'm going to close this issue, feel free to add further comments. Thanks!

[2017-06-15 13:39] simulot commented on #1037
Fine, anyway I'm not able to use the new format sftp:user@host:path on freebsd.

[2017-06-15 13:47] fd0 commented on #1037
Hu, that's interesting! Could you please paste a few details on how (exactly) you call restic? What do you specify for the repository?

[2017-06-15 13:51] yhafri commented on #1013
@fd0 the *-o s3.retries=X* works like a charm

[2017-06-15 13:55] fd0 commented on #1013
Ok, nice. I'm going to leave the PR open, I haven't decided if it's valuable to merge this, or if it was just interesting for your tests. What do you think?

[2017-06-15 14:04] simulot commented on #1037
Certainly,

on my Freenas box, running FreeBsd, following command line fails:
[code]

[2017-06-15 14:08] fd0 commented on #996
@cafuego could you please run the backend tests again with the code in the branch `s3-prevent-close` (PR #1038)?

[2017-06-15 14:13] fd0 commented on #1037
That's almost certainly a bug, thanks for reporting! Could you please create a [debug logfile](https://github.com/restic/restic/blob/master/CONTRIBUTING.md#reporting-bugs)? Please be aware that it may contain sensitive data such as file and directory names. A log of the `init` command is sufficient.

Thanks!

[2017-06-15 14:14] fd0 commented on #1037
Oh, are you aware that the second call to restic initializes a repo in the **local path** `sftp//admin@restic/share/Public/Restic` in a subdir of the current directory? There's a colon (:) missing in the repository location...

[2017-06-15 14:14] yhafri commented on #1013
With X=15 we were finally able to use more than 2 parallel connections.
It's a very useful option IMHO. Not for everyone, but still useful.

[2017-06-15 14:17] simulot commented on #1037
oops, thanks... that explains why the remote doesn't contain the repo!

[2017-06-15 14:17] fd0 commented on #1037
Ok, no need for the debug log any more, it may just be this issue: https://github.com/golang/go/issues/18854

[2017-06-15 14:18] fd0 commented on #1037
The issue mentions that compiling the kernel with `COMPAT_FREEBSD10` works.

[2017-06-15 14:28] simulot commented on #1037
I'm not going to compile a kernel for the Freenas! It's out of my knowledge.

# freebsd-version -u
11.0-STABLE

With corrected path, i get an error:
[code]

[2017-06-15 14:36] simulot commented on #1037
I'll attach a disk to the nas for doing a local backup.
Thanks for you quick support!

[2017-06-15 14:42] fd0 commented on #1037
Okay. Would you be willing to try restic compiled with Go 1.9beta1?

[2017-06-15 14:45] simulot commented on #1037
Sure, I'll give it a try later this week.

[2017-06-15 14:47] fd0 commented on #1037
Nice, I've attached the binaries for freebsd here: [restic_freebsd_go19.zip](https://github.com/restic/restic/files/1077990/restic_freebsd_go19.zip)

[2017-06-15 14:51] simulot commented on #1037
I should wait the end of the current backup... ETA 46:12:55
After that, I'll either using cross compilation either directly on the nas.
I'll keep you posted with results.

[2017-06-15 15:13] namsral opened #1039 "Failed to create key in OpenStack Swift backend"
## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

[code]

## What backend/server/service did you use?

OpenStack Swift (v2 Authentication)

## Expected behavior

Expected restic to initialize the repository on the OpenStack Swift backend without error.

## Actual behavior

Returned the following error:

create key in backend at swift:r

[2017-06-15 16:46] fd0 commented on #1039
Thanks for creating a new issue. Did you recompile restic with the `debug` tag as instructed?

[2017-06-15 18:23] #1030 closed

[2017-06-15 18:23] #1032 closed

[2017-06-15 18:56] fd0 commented on #996
I've merged this to master.

[2017-06-15 19:48] namsral commented on #1039
I'm ashamed to admit, I did not RTFM.

I redacted some personal info from the debug log:

[code]

[2017-06-15 20:08] fd0 commented on #1039
Hm, interesting. @ncw may I ask you to take a quick look at this?

[2017-06-15 20:24] fd0 commented on #1039
@namsral can you try setting up [rclone](https://github.com/ncw/rclone) for the swift container? Does that work? It uses the same swift library by @ncw...

[2017-06-15 20:54] namsral commented on #1039
Successfully created, listed and populated a Swift container with [rclone-v1.36-linux-amd64](https://github.com/ncw/rclone).

[2017-06-15 21:41] ncw commented on #1039
Object Corrupted can be produced on uploads or downloads.

The call to [ObjectOpen](https://github.com/restic/restic/blob/master/src/restic/backend/swift/swift.go#L159) sets md5 checking off which is correct in the presence of Range requests.

The call to [PutObject](https://github.com/restic/restic/blob/master/src/restic/backend/swift/swift.go#L199) doesn't supply an MD5SUM hence no 422 error in

[2017-06-15 21:44] ncw commented on #1039
BTW rclone [uses PutObject](https://github.com/ncw/rclone/blob/master/swift/swift.go#L759) in exactly the same way.

[2017-06-16 05:58] james0479 opened #1041 "Whether to support speed limit？"
It is easy to load the system and its consumption of memory, serious, multiple servers almost can not connect。Whether it can be like rsync limited speed function, bwlimit parameters。Looking forward to your reply

[2017-06-16 07:28] lloeki opened #1042 "Panic during SaveFile"
## Output of `restic version`

[code]

## How did you start restic exactly? (Include the complete command line)

[code]

I'm 99.9% sure this is during the `backup` step.

## What backend/server/service did you use?

S3 (Frankfurt)

## Expected behavior

- Attempt one or more retry (possibly with some sensible exponential backoff timing)
- If retry fails, bail out cleanly and release the lock

## A

[2017-06-16 07:29] fd0 commented on #1041
Hey, thanks for raising this issue. Since you haven't filled out the issue template I don't know what your situation is and can only make a vague guess.

There are two different things at play, both are tracked already:
 * Limiting the network bandwidth for backup is tracked in #232
 * Limiting the IO bandwidth used for the backup is tracked in #322

So I'm going to close this issue as a duplicate

[2017-06-16 07:29] #1041 closed

[2017-06-16 07:32] lloeki commented on #1042
Here's another one today for the second machine: `ContentLength=4297154 with Body length 4211755`

[code]

[2017-06-16 07:33] cafuego commented on #996
Ok, I've re-run the tests against a test repo.

[code]

I have not yet re-tried the forget/prune commands.

[2017-06-16 07:35] fd0 commented on #1042
Thanks for the report. S3 does close connections without any apparent reason. In the 0.6.1 release, we're using a low-level interface of the s3 client library (minio-go), which does not include automatic retry. We've since (in the master branch) switch back to a higher level interface for uploads, so the library automatically resumes the upload (if possible). The PR was #1025. Could you run a few

[2017-06-16 07:38] fd0 commented on #996
Sigh, it got worse. I'm sorry to say, but without access to GCS debugging such issues is very frustrating for me. So I won't spend any time on it, sorry.

[2017-06-16 07:39] harshavardhana commented on #996
@fd0 if you need access i can let you have access .. Reach me on slack.

[2017-06-16 07:40] lloeki commented on #982
I'm on it. I'll create a PR as soon as I have a working prototype.

[2017-06-16 07:40] fd0 commented on #996
Ah, that'd be great. :)

[2017-06-16 07:42] fd0 commented on #982
Nice! I'm looking forward to it!

FYI: I'm currently working on adding a client-side metadata cache, so tree lookups will be much less expensive in the future. PR is #1040, but still work-in-progress.

[2017-06-16 07:45] aksdb commented on #1028
Yes, the behavior is explainable. But it's still not a good behavior. In these cases where restic hangs in state D, the only thing I can do is reboot. Restic cannot be killed (because, as the StackOverflow post explains, the process is blocked) but therefore I also cannot unmount (to remount) the apparently defective mount point. Restic therefore keeps me no other choice than to reboot the machine

[2017-06-16 07:51] fd0 commented on #1039
I've run a few tests against the OVH Swift service with `-race`, all successful. Hm.

[2017-06-16 07:54] fd0 commented on #1039
@namsral Can you please try building and running restic again with debug+race detection?

You need to build restic manually, like this (from the top-level of the restic repo):
[code]

[2017-06-16 07:56] fd0 commented on #996
@harshavardhana generously provided GCS credentials so I can run the tests locally. I'm able to reproduce what you're seeing, thanks!

[2017-06-16 07:57] cafuego commented on #996
Oh that's great, thanks @harshavardhana ! (Sorry @fd0 but there's no way I'd have gotten that past management :-)

[2017-06-16 07:57] lloeki commented on #1042
Those are not our real backups yet, so I can surely do some tests.

[2017-06-16 08:57] fd0 commented on #996
@cafuego see #1043 for a fix from restic's side, @harshavardhana has also fixed this on the minio-go side.

[2017-06-16 09:12] namsral commented on #1039
Same error:

[code]

Debug log:

[code]

[2017-06-16 09:55] fd0 commented on #1039
That's what I suspected. Which version of OpenStack Swift do you use? Is there an easy way to reproduce your setup locally for me?

@ncw any advice on how to proceed here? Shall we just disable checking the md5sum?

[2017-06-16 10:07] fd0 commented on #1039
@namsral I've just pushed a new branch `debug-1039`, could you please checkout that branch, build restic with debug tags, and initialize a new repository while writing a debug log? You should see a new message `about to save key in backend:` in the debug log, and on stderr the hashes (that apparently do not match) are printed... Maybe we can figure out what's going on.

Btw, is there any way you c

[2017-06-16 10:14] ncw commented on #1039
I've never had a report of this not working either for rclone or swift library so it is a puzzle as to why not. If you disable md5 checking then you'll lose a bit of confidence on the upload.

It would be good to know what the md5 of the block actually being uploaded is, then we can point the finger more exactly.

The only other thing that comes to mind is maybe the swift installation is gzipping

[2017-06-16 10:16] fd0 commented on #1028
I agree that the situation is very bad for you as a user. I'd be very annoyed to if I had to reboot my machine in this situation. However, I'm not convince that restic is to blame here, I agree with you that the CIFS implementation may be faulty. If we find a way to make restic more "forgiving", I'd gladly implement it!

I'm trying to find out what makes restic different from the other programs. I

[2017-06-16 10:21] fd0 commented on #1039
When @namsral runs the tests I suggested we should have the raw data that is uploaded to the Swift container, we can then retry this e.g. with rclone to check what it does in this situation. The `key` object restic uploads looks like this:
[code]

So it may very well be the case that the Swift implementation decides that this looks like good data for compression...

[2017-06-16 10:39] fd0 commented on #996
I've reopened this issue for now.

[2017-06-16 15:10] lloeki commented on #982
So I started PR #1044 (still WIP but it does work). I suppose we'll move the discussion over there.

[2017-06-16 15:17] namsral commented on #1039
The backend is running OpenStack Mitaka with Ceph integration and some Apaches, HAproxies and a firewall in between. Not something to set up in a test environment.

Running restic from the `debug-1039` branch:

[code]

Debug log:

[code]

[2017-06-16 16:54] fd0 commented on #996
#1043 fixes normal usage with GCS, the integration tests still fail, maybe because of https://github.com/minio/minio-go/issues/712

[2017-06-16 17:57] simulot commented on #1037
Thanks for providing binaries!
Once password less connection correctly set, i have ran restic with success.

Thanks for your efficient support.

[2017-06-16 17:57] #1037 closed

[2017-06-16 18:01] fd0 commented on #1037
Nice, thanks for the feedback!

[2017-06-16 18:08] fd0 commented on #1039
Hm, interesting. I'm unable to produce either md5sum that's mentioned in the output from the data that is saved in the key file:
[code]

[2017-06-16 18:17] fd0 commented on #1039
Running this against the OVH Swift service, I get:
[code]
An this matches the contents of the key file nicely:
[code]

Something is really odd here.

[2017-06-16 18:26] fd0 commented on #1039
Are you maybe able to intercept (e.g. with tcpdump) the request right in front of the Swift server? So we can check what's really sent to the service?

[2017-06-16 18:35] fd0 commented on #1039
I've added even more debug output, could you try again? We probably don't need the debug log now, it is all written to stderr.

[2017-06-16 18:37] fd0 commented on #982
Wohoo, awesome! I'm having a look now

[2017-06-16 19:29] namsral commented on #1039
I could, but not at the moment because I'm on holiday and this is a production backend.

Running restic from the updated `debug-1039` branch:

[code]

Since restic and rclone share the same swift library, can you confirm they are using another version? Or rclone isn't validating checksums? As rclone isn't having the same issue.

[2017-06-16 20:28] fd0 commented on #1039
Thank you for your patience. I don't have any idea on why the swift library and the backend each compute a different md5sum, that I cannot reproduce. Very strange.

[2017-06-16 20:55] #1029 closed

[2017-06-16 21:19] namsral commented on #1039
Thank you for taking the time to troubleshoot the issue.

It's strange restic fails when rclone succeeds using the same swift library.

[2017-06-17 08:44] fd0 commented on #996
I've merged the branch into master, it'd be good if @cafuego could give us a bit of feedback if it works now. Then, please close this issue. Thanks!

[2017-06-17 10:11] dirk777 commented on #983
Unfortunately the error still occurs in the same way after patching sftp.go The function header of the 0.6.1 looks a little bit different, so I just put out the `O_EXCL` flag in the line `f, err := r.c.OpenFile(filename, os.O_CREATE|os.O_EXCL|os.O_WRONLY)` compiled the code with go 1.8.3 and tested.

[2017-06-17 10:39] fd0 commented on #983
Is there a chance you can (temporarily) give me access to a HiDrive account so I can debug this? I'm also available on `irc.freenode.net, #restic`...

[2017-06-17 11:13] fd0 commented on #983
Could you please list the directory, like this?
[code]

Maybe the path is wrong?

[2017-06-17 11:21] ncw commented on #1039
It occurs to me that rclone is using a vendored version of the swift library that isn't the latest so the problem could be in the library.

Would it be possible for you to run the integration tests for the swift library against your swift server?

https://github.com/ncw/swift/blob/master/README.md#testing

If that fails can you open an issue on ncw/swift please with the output.

Thanks

Nick

[2017-06-17 12:00] dirk777 commented on #983
[code]

[2017-06-17 12:12] fd0 commented on #983
Hm, doesn't look bad. I have no idea what's going on here, and I won't spend any more time guessing. Thanks for understanding!

[2017-06-17 13:27] dirk777 commented on #983
no problem, thx for digging in so far!

[2017-06-17 14:16] #983 closed

[2017-06-17 22:02] namsral commented on #1039
Hi @ncw, please see issue https://github.com/ncw/swift/issues/91

[2017-06-18 07:37] fd0 commented on #1039
Thank you very much! I'm looking forward to finding the cause for this ;)

[2017-06-18 08:48] aksdb commented on #1028
The actual backup mostly runs as cron job, so I usually can't take a look. I just notice that there are no new snapshots for quite some time and then find out via "ps ax | grep restic" that there is still some old process running and locking the repo. `restic snapshots` apparently still works (so the filesystem isn't completely gone). I can also touch, delete, move, etc. files on the mount point.

[2017-06-18 11:30] jannickfahlbusch opened #1047 "Information command"
It would be nice, to have a `restic info` command.

Currently there is no way to see the number of snapshots and the size of the repo (and much more info) with one command.

I would open a PR implementing this, if somebody could guide me in the right direction.

[2017-06-18 14:22] fd0 commented on #1047
Hm, good suggestion. I'd wait until the metadata cache is in place (see #1040), but then we can discuss what such a command (I have more of a `status` command in mind) can display. I'm happy to guide you then.

[2017-06-18 15:08] fd0 commented on #802
I've fixed this issue in #1048, I'm using a deterministic pseudo-random inode-calculator provided by the fuse library: http://godoc.org/bazil.org/fuse/fs#GenerateDynamicInode

[2017-06-18 16:41] #802 closed

[2017-06-19 01:32] cafuego commented on #996
[code]

The S3 test suite passes with GCS (whee!).

I can now run `forget --prune`, but that *does* throw an error when building a new index for the repository:

[code]

However, I am now able to successfully run a `rebuild-index` job on the repository...

[code]

... after which `forget --prune` works without errors.

I'm about to batch run these tasks against our larger repositories, which will

[2017-06-19 09:35] sergeevabc commented on #628
Waiting for this since first Windows binary [was complied][1] in Jan 2017.
Glad I have examined key files before uploading it anywhere, huge metadata leak it is.

[1]: https://github.com/restic/restic/issues/724

[2017-06-19 10:34] byo commented on #1039
@namsral just wondering, if the actual swift backend is ceph-based, maybe ceph is calculating md5 incorrectly? Are you using RGW there?

[2017-06-19 10:46] ncw commented on #1039
@byo I have tested rclone and the latest swift library against ceph+radosgw (Icehouse) and it does work.

[2017-06-19 11:06] byo commented on #1039
BTW, ```"d41d8cd98f00b204e9800998ecf8427e" == md5("")```

[2017-06-19 13:20] fd0 commented on #1039
Oh wow, great catch! So the etag received from the server is the md5sum of the empty string? that's certainly odd...

[2017-06-19 13:39] ncw commented on #1039
What it looks like is that the server returned the Etag for the current response, which **was** empty, rather than the Etag of the object which was just uploaded as per the Swift API.

[2017-06-19 14:30] ncw commented on #1039
@namsral reported in https://github.com/ncw/swift/issues/91 that the integration tests (once fixed!) didn't report any errors.

Is it possible that restic actually sent 0 bytes?  Can you change the debug logger to dump the bodies too?

[2017-06-19 15:31] namsral commented on #1039
Using the official python-openstackclient I successfully uploaded and downloaded a arbitrary file and the md5 checksums match as far as the cli reports.

[code]

[2017-06-19 17:11] fd0 commented on #1039
Added, the swift backend now logs the body that is sent via the swift lib. @namsral could you please run the tests again?

[2017-06-19 17:18] fd0 commented on #996
Ah, we'll close this issue for now. If the bug occurs again it's a different issue anyway so we'll track that in a new ticket. I'm looking forward to your feedback!

[2017-06-19 17:18] #996 closed

[2017-06-19 17:52] #636 closed

[2017-06-19 19:52] mholt commented on #979
Not sure if helpful, but `json.NewDecoder(r).Decode(&thing)` will decode the JSON by streaming it, rather than having to buffer the whole string in memory. I think.

[2017-06-19 19:58] fd0 commented on #979
That's unfortunately not applicable: It loads the whole (large) object into a buffer and then parse it. I've benchmarked that.

[2017-06-19 19:59] mholt commented on #979
Dang, okay. I wasn't sure, but it seemed promising since it took a Reader instead of a []byte.

[2017-06-19 20:14] namsral commented on #1039
Output of running the `debug-1030` branch with latest commit `d5e7782fff060b3aa33c716a2aa1ed305a972951`.

[code]

And the debug log:

[code]

[2017-06-20 08:15] fd0 commented on #979
As far as I know the stdlib JSON parser (and all other parsers I looked at) checks that the JSON document is well formed before starting to parse it. So it first needs to load the document (into a buffer) checks it, and only then starts parsing. This way, the parser can return an error early if the document is not well formed, without modifying the target structure.

I've thought about writing a s

[2017-06-20 09:26] cafuego commented on #996
Ok, it seems to run fine for *most* of the repos, but fails on the few largest, in a new and interesting way:

[code]

I assume you'd like a debug version with trace of that? :-)

[2017-06-20 10:34] fd0 commented on #996
Yes please, but maybe cut the debug log to the interesting parts ;)

[2017-06-20 10:57] fd0 commented on #1039
So, the buffer that is sent looks quite right. Is it possible that the swift library drains the reader and then discards it?

[2017-06-20 15:08] yhafri commented on #1013
@fd0 did you merge it?

[2017-06-20 16:26] mholt opened #1053 "Check still fails after prune and rebuild-index"
## Output of `restic version`

restic 0.6.1 (v0.6.1-126-gb0fb95df)
compiled with go1.8.3 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)

[code]

I've also tried this many times in different orders, and check never gets cleared of the errors.

## What backend/server/service did you use?

sftp on LAN

## Expected behavior

It seems like #435 and #1029 were

[2017-06-20 16:44] mholt opened #1054 "Exclude patterns not being applied"
## Output of `restic version`

restic 0.6.1 (v0.6.1-126-gb0fb95df)
compiled with go1.8.3 on darwin/amd64

## How did you start restic exactly? (Include the complete command line)

[code]

## What backend/server/service did you use?

sftp to LAN

## Expected behavior

Skip the files matching the pattern in exclude.txt

## Actual behavior

Files were included unless I drastically loosened the patter

[2017-06-20 16:57] mholt commented on #628
Re: SHA3 -- here's one opinion about why it's not worth adopting (yet?): https://www.imperialviolet.org/2017/05/31/skipsha3.html

[2017-06-20 17:01] mholt commented on #1054
Update: Okay, replacing `/matt/` with `$HOME/` seemed to work, although I find the inconsistency between --exclude and --include absolute paths a little odd/surprising.

[2017-06-20 17:49] fd0 commented on #1013
Yes, I merged it into master.

[2017-06-20 18:46] ibib commented on #1054
Usually `$HOME/blabla` is `/home/matt/blabla` or did you change something on your system?

[2017-06-20 20:13] fd0 commented on #1053
Hm, interesting. Thanks for the report! Exactly this should be addressed by #1029. I'll have a look.

[2017-06-20 20:22] fd0 commented on #628
I've read the post and I understand agl's arguments. For restic, that's not so relevant: We're using the hash function to (uniquely) identify blobs, not as a building block of a cryptographic protocol. My idea to look at other hash functions was mainly that SHA-256 is slow to compute, especially on low-end systems. Other hash functions are much faster (e.g. blake2).

[2017-06-20 20:28] fd0 commented on #1054
Sigh, yes, you are absolutely right. The exclude patterns are absolute in regards to what you backup:
The pattern `/home/matt/*.go` matches all Go files in your home when you run `restic backup /home/matt`. Due to the way the archiver works (see #549, bad design decision we need to correct), the `/home/` prefix is dropped and the top-level path component in the snapshot is `/matt`. So for restore,

[2017-06-20 20:33] fd0 opened #1055 "local/sftp: Create and make sure directories below data/ exist on open/create."
Related: https://github.com/restic/rest-server/pull/11#issuecomment-309879710

[2017-06-20 20:47] fd0 commented on #1053
I'm sorry to ask this, but: Are you sure that the version of the restic binary you tried to run `prune` with is  really `restic 0.6.1 (v0.6.1-126-gb0fb95df)`?

The reason I'm asking is that #1036 (which has been merged into master) changes the message to this one:
[code]

Here's the code: https://github.com/restic/restic/pull/1036/files#diff-01d7796292d51bb9997ead47a675b27fR115

[2017-06-20 20:51] fd0 commented on #1053
I'm sorry, I should've waited for the `prune` command to finish. I can reproduce it with the latest restic master branch, I'll have an in-depth look now.

[2017-06-20 20:53] fd0 commented on #1053
Oh, it seems I forget to mark files as invalid in two cases.

[2017-06-20 21:46] mholt commented on #1054
@ibib On my Mac, my home directory is `/Users/matt`, but since `--include` uses a repository-absolute path (like `restic ls` shows), I figured the proper absolute path would be `/matt/...`.

@fd0 Ah! That makes more sense, thanks for explaining. So `--exclude` when used with `restic backup` is absolute to the file system, and `--include` (used with `restic restore`) is absolute to the repository.

[2017-06-20 21:46] #1054 closed

[2017-06-20 21:56] mholt commented on #1053
That's weird about the different error message. Yeah, I'm pretty sure it's right: what I do is `rm -rf $GOPATH/src/github.com/restic/restic` and then `go get -u github.com/restic/restic` and then `go run build.go`. I then `mv ./restic $(which restic)`.

I don't have a chance to test your patch right now but I will try to soon. Don't let me stop you merging it though!

[2017-06-20 22:25] cafuego commented on #996
Sooooo this job (non-debug) re-ran overnight and didn't error this time.

However, it looks to have not removed the 371.092 GiB it said it was going to remove in yesterday's run, as the repo size has increased and not decreased. I'll run a rebuild-index and then a prune task with debug enabled against this one.